Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-471] Apply review fixes
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
Due: swiftlint, swiftformat

[TASK-472] Add Google OAuth token exchange in OpenAPIService and AuthService
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQ/Services/Auth/AuthServiceProtocol.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-472] Add loginWithGoogle through AuthManager and LoginViewModel with error mapping
  .secrets.baseline
  ios/AIQ/Features/Auth/ViewModels/LoginViewModel.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Services/Auth/AuthManagerProtocol.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQTests/Mocks/MockAuthManager.swift
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
  ios/AIQTests/ViewModels/LoginViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-472] Integrate GoogleSignIn-iOS SDK with Info.plist and AppDelegate configuration
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Info.plist
Due: swiftlint, swiftformat

[TASK-472] Add Sign in with Google button to WelcomeView with handler
  .secrets.baseline
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-472] Apply review fixes
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
Due: swiftlint, swiftformat

[TASK-473] Notify users when a new OAuth identity is linked to an existing account
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/core/auth/security_audit.py
  backend/app/services/email_service.py
  backend/tests/auth/test_oauth.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-473] Apply review fixes
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/tests/auth/test_oauth.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-474] Add password_login_enabled flag to distinguish OAuth-only accounts
  .secrets.baseline
  backend/alembic/versions/pwdlogin474a_add_password_login_enabled_to_users.py
  backend/app/api/v1/auth.py
  backend/app/models/models.py
  backend/tests/auth/test_auth.py
  backend/tests/auth/test_oauth.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-474] Apply review fixes
  backend/alembic/versions/pwdlogin474a_add_password_login_enabled_to_users.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-475] Drop .fullName scope from Sign in with Apple request
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
Due: swiftlint, swiftformat

[TASK-477] Route OAuth exchange through OpenAPI middleware stack
  README.md
  ios/AIQ/Services/API/OpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-477] Avoid refresh retries for OAuth token exchange
  ios/AIQ/Services/API/OpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-478] Configure Google Sign-In via xcconfig overrides
  .gitignore
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Info.plist
  ios/AIQ/Utilities/Helpers/Debug.xcconfig
  ios/AIQ/Utilities/Helpers/GoogleSignInDefaults.xcconfig
  ios/AIQ/Utilities/Helpers/Local.xcconfig.example
  ios/README.md
Due: none

[TASK-479] Track login provider in auth analytics
  ios/AIQ/Services/Analytics/AnalyticsService.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQTests/Mocks/MockAnalyticsManager.swift
  ios/AIQTests/Services/AnalyticsServiceTests.swift
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
Due: swiftlint, swiftformat

[TASK-480] Move OAuth link email to background task
  .secrets.baseline
  backend/app/api/v1/auth.py
Due: mypy-backend, check-magic-numbers

[TASK-484] Add guest result claim token and endpoint; grouped because submit token, validation, reassignment, repeat handling, and OpenAPI contract are one API surface
  backend/app/api/v1/guest_test.py
  backend/app/core/error_responses.py
  backend/app/schemas/guest_test.py
Due: mypy-backend, check-magic-numbers

[TASK-484] Add backend tests for guest result claiming
  backend/tests/api/v1/test_guest_test.py
Due: mypy-backend, check-float-comparisons

[TASK-484] Address guest claim review findings
  backend/app/api/v1/guest_test.py
  backend/tests/api/v1/test_guest_test.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-485] Add guest result claim flow
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Services/Auth/AuthManagerProtocol.swift
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQ/Services/Auth/AuthServiceProtocol.swift
  ios/AIQ/Utilities/DI/ServiceConfiguration.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
Due: swiftlint, swiftformat

[TASK-485] Cover guest result claim outcomes
  ios/AIQTests/Mocks/MockAuthManager.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-485] Harden manual response date decoding
  ios/AIQ/Services/API/OpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-486] Add guest conversion analytics events
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Services/Analytics/AnalyticsService.swift
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-486] Cover guest conversion analytics events
  ios/AIQTests/Services/AnalyticsServiceTests.swift
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
Due: swiftlint, swiftformat

[TASK-486] Track local guest OAuth failures
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
Due: swiftlint, swiftformat

[TASK-481] Extract shared email send helper
  backend/app/services/email_service.py
  backend/tests/notifications/test_email_service.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-483] Log OAuth-only password failures distinctly
  backend/app/api/v1/auth.py
  backend/tests/auth/test_auth.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-487] Constrain pre-commit drift scan with regression coverage
  scripts/sync_readme_structure.py
  scripts/test_sync_readme_structure.py
Due: none

Upgrade tusk to v702
  .claude/bin/VERSION
  .claude/bin/config.default.json
  .claude/bin/tusk
  .claude/bin/tusk-bakeoff.py
  .claude/bin/tusk-check-deliverables.py
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-config-tools.py
  .claude/bin/tusk-init-wizard.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-migrate.py
  .claude/bin/tusk-pricing-lib.py
  .claude/bin/tusk-review-defer.py
  .claude/bin/tusk-review-wait.py
  .claude/bin/tusk-review.py
  .claude/bin/tusk-task-list.py
  .claude/bin/tusk-task-start.py
  .claude/bin/tusk-task-summary.py
  .claude/bin/tusk-test-precheck.py
  .claude/bin/tusk-upgrade.py
  .claude/skills/address-issue/SKILL.md
  .claude/skills/tusk-init/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none

[TASK-488] Handle unterminated markdown JSON fences
  question-service/app/utils/text_utils.py
  question-service/tests/utils/test_text_utils.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-492] Document pre-commit PATH fallback
  AGENTS.md
Due: none

[TASK-489] Align structured prompt behavior for empty schemas across Anthropic and OpenAI
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/openai_provider.py
Due: mypy-question-service, check-magic-numbers

[TASK-489] Cover structured prompt empty schema behavior in provider tests
  question-service/tests/providers/test_anthropic_provider.py
  question-service/tests/providers/test_openai_provider.py
Due: mypy-question-service, check-float-comparisons

[TASK-491] Fix pre-commit secret and Swift hook failures; grouped because all criteria validate the same pre-commit run
  .pre-commit-config.yaml
  .secrets.baseline
  backend/tests/api/v1/test_guest_test.py
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
Due: mypy-backend, check-float-comparisons, swiftlint, swiftformat

[TASK-494] Add atomic guest token consume path for TASK-463 criterion 1649
  backend/app/api/v1/guest_test.py
  backend/app/ratelimit/storage.py
  backend/tests/api/v1/test_guest_test.py
  backend/tests/ratelimit/test_ratelimit_storage.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-476] Bind Apple OAuth exchange to nonce
  backend/app/api/v1/auth.py
  backend/app/core/auth/oauth_verifier.py
  backend/app/schemas/auth.py
  backend/tests/auth/test_oauth.py
  ios/AIQ/Features/Auth/ViewModels/LoginViewModel.swift
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Services/Auth/AuthManagerProtocol.swift
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQ/Services/Auth/AuthServiceProtocol.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQTests/Mocks/MockAuthManager.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
  ios/AIQTests/ViewModels/LoginViewModelTests.swift
Due: mypy-backend, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

[TASK-496] Detect unit-test launches as mock mode
  .secrets.baseline
  ios/AIQ/Utilities/DI/MockModeDetector.swift
  ios/AIQTests/Utilities/DI/MockModeDetectorTests.swift
Due: swiftlint, swiftformat

[TASK-497] Centralize Apple sign-in nonce handling
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Utilities/Helpers/AppleSignInNonceContext.swift
  ios/AIQTests/Utilities/AppleSignInNonceContextTests.swift
Due: swiftlint, swiftformat

[TASK-498] Document deterministic detect-secrets baseline workflow for repeated all-file pre-commit runs
  AGENTS.md
  backend/docs/CODING_STANDARDS.md
Due: none

[TASK-497] Add OAuth sign-in button component files
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Auth/Views/OAuthSignInButtons.swift
  ios/AIQTests/Views/OAuthSignInButtonsTests.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
