Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-787] Add test coverage for fallback_model configuration and routing
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-787] Add test coverage for fallback_model configuration and routing (#864)
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-788] Add --provider-tier CLI argument to run_generation.py
  question-service/app/generator.py
  question-service/app/generator_config.py
  question-service/app/pipeline.py
  question-service/run_generation.py
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-788] Add --provider-tier CLI argument to run_generation.py (#865)
  question-service/app/generator.py
  question-service/app/generator_config.py
  question-service/app/pipeline.py
  question-service/run_generation.py
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-789] Add provider_tier support to pipeline.py and fix tests
  question-service/app/pipeline.py
  question-service/tests/test_pipeline.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-789] Add provider_tier support to pipeline.py and fix tests (#866)
  question-service/app/pipeline.py
  question-service/tests/test_pipeline.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-790] Add test coverage for _get_specialist_provider provider_tier and fix stale test
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-790] Add test coverage for _get_specialist_provider provider_tier and fix stale test (#867)
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-792] Add --provider-tier argument to /run-generation skill definition
  .claude/skills/run-generation/skill.md
Due: none

[TASK-792] Address PR review: remove non-existent -p short-hand flag
  .claude/skills/run-generation/skill.md
Due: none

[TASK-792] Add --provider-tier argument to /run-generation skill definition (#868)
  .claude/skills/run-generation/skill.md
Due: none

[TASK-793] Add fallback and fallback_model fields to judge configuration
  question-service/app/judge_config.py
  question-service/config/judges.yaml
  question-service/tests/test_judge_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-793] Add fallback and fallback_model fields to judge configuration (#869)
  question-service/app/judge_config.py
  question-service/config/judges.yaml
  question-service/tests/test_judge_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-794] Add fallback_model to generators.yaml config docs
  question-service/config/generators.yaml
Due: none

[TASK-794] Add fallback_model to generators.yaml config docs (#870)
  question-service/config/generators.yaml
Due: none

[TASK-795] Add edge case tests for fallback_model behavior
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-795] Add edge case tests for fallback_model behavior (#871)
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-797] Add fallback config to default_generator in generators.yaml
  question-service/config/generators.yaml
Due: none

[TASK-797] Add fallback config to default_generator in generators.yaml (#872)
  question-service/config/generators.yaml
Due: none

[TASK-799] Refactor provider tier selection into _resolve_provider helper
  question-service/app/generator_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-799] Refactor provider tier selection into _resolve_provider helper (#873)
  question-service/app/generator_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-802] Deduplicate multi_provider_generator fixture in test_generator.py
  .secrets.baseline
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-802] Deduplicate multi_provider_generator fixture in test_generator.py (#874)
  .secrets.baseline
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-805] Implement fallback provider logic in judge evaluate_question methods
  .secrets.baseline
  question-service/app/judge.py
  question-service/app/judge_config.py
  question-service/tests/test_judge.py
  question-service/tests/test_judge_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-805] Implement fallback provider logic in judge evaluate_question methods (#875)
  .secrets.baseline
  question-service/app/judge.py
  question-service/app/judge_config.py
  question-service/tests/test_judge.py
  question-service/tests/test_judge_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-807] Update get_judge_stats() to include fallback fields
  question-service/app/judge.py
  question-service/tests/test_judge.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-807] Update get_judge_stats() to include fallback fields (#876)
  question-service/app/judge.py
  question-service/tests/test_judge.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Add sub_type support, fallback providers, prompt improvements, and updated benchmarks
  .claude/skills/question-stats/skill.md
  .claude/skills/refresh-providers/skill.md
  .secrets.baseline
  backend/alembic/versions/a1b2c3d4e5f6_add_sub_type_column_to_questions.py
  backend/alembic/versions/b2c3d4e5f6a7_add_inferred_sub_type_column_to_questions.py
  backend/app/core/question_utils.py
  backend/app/models/models.py
  backend/app/schemas/questions.py
  docs/MODEL_BENCHMARKS.md
  docs/analysis/2026-01-29-fallback-provider-model-support.md
  docs/operations/GRAFANA_CLOUD.md
  docs/plans/bootstrap-inventory-improvements.md
  docs/plans/memory-question-tasks-summary.md
  ios/AIQ/openapi.json
  question-service/app/config.py
  question-service/app/database.py
  question-service/app/deduplicator.py
  question-service/app/generator.py
  question-service/app/generator_config.py
  question-service/app/models.py
  question-service/app/prompts.py
  question-service/app/providers/openai_provider.py
  question-service/config/benchmark_scores.yaml
  question-service/config/generators.yaml
  question-service/config/judges.yaml
  question-service/infer_sub_types.py
  question-service/reevaluate_questions.py
  question-service/run_generation.py
  question-service/test_google_api.py
  question-service/tests/test_config.py
  question-service/tests/test_generator.py
  question-service/tests/test_generator_config.py
  question-service/tests/test_integration.py
  question-service/tests/test_judge.py
  question-service/tests/test_models.py
  question-service/tests/test_prompts.py
  question-service/tests/test_reevaluate.py
Due: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers

Align nightly run commands with /run-generation skill flags
  question-service/Dockerfile
  question-service/docs/RAILWAY_DEPLOYMENT.md
  question-service/docs/SCHEDULING.md
  question-service/scripts/run_cron.sh
Due: none

Add sub_type routing to generator, hard verbal prompts, and preserve stimulus/sub_type in salvage paths
  question-service/app/generator.py
  question-service/app/prompts.py
  question-service/run_generation.py
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Update question-service README with sub-type system, provider tiers, salvage phase, and full project structure
  .secrets.baseline
  question-service/README.md
Due: none

Add sub-type system documentation and question-service CLAUDE.md
  question-service/CLAUDE.md
  question-service/README.md
  question-service/docs/SUB_TYPES.md
Due: none

Add proper type validation docs to analysis-to-tasks skill
  .claude/skills/analysis-to-tasks/skill.md
Due: none

Add Prometheus /metrics endpoint and Grafana Cloud observability docs
  question-service/.env.example
  question-service/app/config.py
  question-service/docs/RAILWAY_DEPLOYMENT.md
  question-service/requirements.txt
  question-service/trigger_server.py
Due: mypy-question-service, check-magic-numbers

[TASK-650] Address PR review: tests, exception handling, imports
  .secrets.baseline
  question-service/.env.example
  question-service/tests/test_config.py
  question-service/tests/test_trigger_server.py
  question-service/trigger_server.py
Due: mypy-question-service, check-float-comparisons

[TASK-650] Add Prometheus metrics endpoint and Grafana Cloud observability setup (#877)
  .secrets.baseline
  question-service/.env.example
  question-service/app/config.py
  question-service/docs/RAILWAY_DEPLOYMENT.md
  question-service/requirements.txt
  question-service/tests/test_config.py
  question-service/tests/test_trigger_server.py
  question-service/trigger_server.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-246] Reduce code duplication in EducationLevelPickerTests
  .secrets.baseline
  ios/AIQUITests/EducationLevelPickerTests.swift
Due: swiftlint, swiftformat

[TASK-246] Reduce code duplication in EducationLevelPickerTests (#878)
  .secrets.baseline
  ios/AIQUITests/EducationLevelPickerTests.swift
Due: swiftlint, swiftformat

[TASK-247] Add more assertions in testEducationLevelMenuOpens
  .secrets.baseline
  ios/AIQUITests/EducationLevelPickerTests.swift
Due: swiftlint, swiftformat

[TASK-247] Add more assertions in testEducationLevelMenuOpens (#879)
  .secrets.baseline
  ios/AIQUITests/EducationLevelPickerTests.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
