Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-1054] Address PR review: configurable thread timeout
  libs/observability/tests/test_error_conditions.py
Due: none

[TASK-1054] Add integration tests for observability error conditions (#1038)
  libs/observability/tests/test_error_conditions.py
Due: none

[TASK-1055] Add Sentry DSN format validation
  libs/observability/config.py
  libs/observability/tests/test_config.py
Due: none

[TASK-1055] Address PR review feedback
  libs/observability/config.py
  libs/observability/tests/test_config.py
Due: none

[TASK-1055] Add Sentry DSN format validation (#1039)
  libs/observability/config.py
  libs/observability/tests/test_config.py
Due: none

[TASK-1056] Refactor ObservabilityConfig.validate() into smaller methods
  libs/observability/config.py
Due: none

[TASK-1056] Refactor ObservabilityConfig.validate() into smaller methods (#1040)
  libs/observability/config.py
Due: none

[TASK-1057] Add test for invalid YAML syntax handling
  libs/observability/tests/test_config.py
Due: none

[TASK-1057] Add test for invalid YAML syntax handling (#1041)
  libs/observability/tests/test_config.py
Due: none

Add CLAUDE.md rules and pre-commit hook based on usage insights
  .claude/hooks/pre-commit-lint.sh
  .claude/settings.json
  CLAUDE.md
  backend/CLAUDE.md
  libs/CLAUDE.md
  question-service/CLAUDE.md
Due: none

Fix stale mypy path and add exploration step to next-task skill
  .claude/skills/next-task/SKILL.md
  backend/.pre-commit-config.yaml
Due: none

Improve tasks database consistency, deferred lifecycle, and priority scoring
  .claude/skills/analysis-to-tasks/skill.md
  .claude/skills/groom-backlog/skill.md
  .claude/skills/next-task/SKILL.md
  scripts/migrate_normalize_domain_and_task_type.sql
Due: none

Backfill remaining 304 NULL task_types in tasks database
  scripts/migrate_backfill_null_task_types.sql
Due: none

Add closed_reason field to distinguish why tasks were closed
  .claude/skills/groom-backlog/skill.md
  .claude/skills/next-task/SKILL.md
Due: none

Add unified task deduplication via /check-dupes skill
  .claude/hooks/pre-commit-lint.sh
  .claude/skills/analysis-to-tasks/skill.md
  .claude/skills/check-dupes/skill.md
  .claude/skills/groom-backlog/skill.md
  .claude/skills/next-task/SKILL.md
  scripts/check_duplicates.py
Due: none

Tighten PR review deferral criteria to only defer cosmetic nits
  .claude/commands/review-pr-comments.md
  .claude/skills/next-task/SKILL.md
Due: none

[TASK-1091] Integrate observability into question-service
  question-service/run_generation.py
  question-service/tests/test_observability_integration.py
  question-service/trigger_server.py
Due: mypy-question-service, check-float-comparisons

[TASK-1091] Integrate observability into question-service (#1042)
  question-service/run_generation.py
  question-service/tests/test_observability_integration.py
  question-service/trigger_server.py
Due: mypy-question-service, check-float-comparisons

[TASK-1092] Document observability env vars for question-service
  question-service/.env.example
  question-service/README.md
Due: none

[TASK-1092] Address PR review: cross-reference ENV in observability section
  question-service/.env.example
Due: none

[TASK-1092] Address PR review: add otlp_headers to YAML configs
  libs/observability/config/default.yaml
  question-service/config/observability.yaml
Due: none

[TASK-1092] Document observability env vars for question-service (#1043)
  libs/observability/config/default.yaml
  question-service/.env.example
  question-service/README.md
  question-service/config/observability.yaml
Due: none

[TASK-1098] Add Grafana dashboard, Alloy config, and OTEL setup tooling
  question-service/docs/RAILWAY_DEPLOYMENT.md
  question-service/infra/grafana/alloy-config.alloy
  question-service/infra/grafana/question-service-dashboard.json
  question-service/infra/verify-otel-setup.sh
Due: none

[TASK-1098] Address PR review: fix metric types and naming
  question-service/docs/RAILWAY_DEPLOYMENT.md
  question-service/infra/grafana/question-service-dashboard.json
  question-service/infra/verify-otel-setup.sh
Due: none

[TASK-1098] Configure OTEL/Grafana integration for question-service (#1044)
  question-service/docs/RAILWAY_DEPLOYMENT.md
  question-service/infra/grafana/alloy-config.alloy
  question-service/infra/grafana/question-service-dashboard.json
  question-service/infra/verify-otel-setup.sh
Due: none

Switch question-service to Dockerfile.trigger for Railway
  question-service/railway.json
Due: none

Switch OTLP exporters from gRPC to HTTP/protobuf
  libs/observability/otel_backend.py
  libs/observability/tests/test_otel_backend.py
Due: none

Clarify insecure field is unused with HTTP transport
  libs/observability/config.py
Due: none

Switch OTLP exporters from gRPC to HTTP/protobuf (#1045)
  libs/observability/config.py
  libs/observability/otel_backend.py
  libs/observability/tests/test_otel_backend.py
Due: none

URL-decode OTLP header values per OTEL spec
  libs/observability/otel_backend.py
  libs/observability/tests/test_otel_backend.py
Due: none

URL-decode OTLP header values per OTEL spec (#1047)
  libs/observability/otel_backend.py
  libs/observability/tests/test_otel_backend.py
Due: none

Reduce OTLP export frequency and disable traces export
  question-service/config/observability.yaml
Due: none

Remove unused Grafana Alloy scrape approach, add missing backend otlp_headers
  backend/config/observability.yaml
  backend/docs/METRICS_ARCHITECTURE.md
  backend/docs/PROMETHEUS_METRICS.md
  question-service/.env.example
  question-service/docs/RAILWAY_DEPLOYMENT.md
  question-service/infra/grafana/alloy-config.alloy
  question-service/infra/verify-otel-setup.sh
Due: none

Log subprocess output on success and flush metrics after trigger job
  question-service/trigger_server.py
Due: mypy-question-service

Reduce OTLP export frequency to avoid Grafana Cloud free tier rate limits
  backend/config/observability.yaml
  question-service/trigger_server.py
Due: mypy-question-service

Add top-level exception handler for generation job daemon thread
  question-service/trigger_server.py
Due: mypy-question-service

Disable OTLP traces for backend — traces already go to Sentry
  backend/config/observability.yaml
Due: none

Remove explicit flush from run_generation subprocess
  question-service/run_generation.py
Due: mypy-question-service

Add logging configuration to trigger server
  question-service/trigger_server.py
Due: mypy-question-service

Use shared setup_logging() in trigger server instead of basicConfig
  question-service/trigger_server.py
Due: mypy-question-service

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
