Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

Harmonize testing conventions across backend and question-service
  .github/workflows/backend-ci.yml
  .github/workflows/question-service-ci.yml
  .secrets.baseline
  CLAUDE.md
  backend/pyproject.toml
  backend/tests/api/v1/admin/test_shadow_cat.py
  backend/tests/api/v1/admin/test_shadow_cat_validation.py
  backend/tests/conftest.py
  backend/tests/core/test_shadow_cat.py
  backend/tests/observability/test_observability_e2e.py
  docs/TESTING.md
  question-service/pyproject.toml
  question-service/tests/integration/test_google_integration.py
Due: mypy-backend, mypy-question-service, check-float-comparisons

Fix observability config path and decouple ratelimit tests from production app
  backend/tests/observability/test_observability_config.py
  backend/tests/ratelimit/CLAUDE.md
  backend/tests/ratelimit/conftest.py
  backend/tests/ratelimit/test_ratelimit_middleware.py
Due: mypy-backend, check-float-comparisons

[TASK-1171] Fix wrong base path in OpenAPI integration tests
  backend/tests/utils/test_export_openapi.py
Due: mypy-backend, check-float-comparisons

[TASK-1172] Standardize lightweight test app creation
  backend/tests/admin/test_admin_auth.py
  backend/tests/conftest.py
  backend/tests/observability/test_error_tracking.py
  backend/tests/observability/test_observability_hardening.py
  backend/tests/observability/test_tracing.py
Due: mypy-backend, check-float-comparisons

[TASK-1173] Add unit tests for SimpleCache
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons

[TASK-1173] Address PR review: add boundary and edge case tests
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons

[TASK-1173] Add unit tests for SimpleCache (#1100)
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons

[TASK-1166] Add async functions to system_config.py and update admin endpoints
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/api/v1/admin/config.py
  backend/app/core/system_config.py
Due: mypy-backend, check-magic-numbers

[TASK-1166] Add async functions to time_analysis.py and update admin/analytics.py
  backend/app/api/v1/admin/analytics.py
  backend/app/core/time_analysis.py
Due: mypy-backend, check-magic-numbers

[TASK-1166] Add async functions to question_analytics and distractor_analysis
  backend/app/api/v1/admin/calibration.py
  backend/app/api/v1/admin/distractors.py
  backend/app/core/distractor_analysis.py
  backend/app/core/question_analytics.py
Due: mypy-backend, check-magic-numbers

[TASK-1166] Add async functions to reliability/storage.py and update admin/reliability.py
  backend/app/api/v1/admin/reliability.py
  backend/app/core/reliability/__init__.py
  backend/app/core/reliability/storage.py
Due: mypy-backend, check-magic-numbers

[TASK-1166] Add async functions to discrimination, security_monitoring, analytics, and cat/readiness
  .secrets.baseline
  backend/app/api/v1/admin/analytics.py
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/api/v1/admin/discrimination.py
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/core/analytics.py
  backend/app/core/cat/readiness.py
  backend/app/core/discrimination_analysis.py
  backend/app/core/security_monitoring.py
Due: mypy-backend, check-magic-numbers

Remove 3,900 lines of tests for unused admin reliability endpoint
  backend/tests/psychometrics/test_reliability_endpoint.py
  backend/tests/psychometrics/test_reliability_schema.py
Due: mypy-backend, check-float-comparisons

[TASK-1166] Simplify async count query and add async SQLAlchemy coding standard
  backend/app/core/analytics.py
  backend/docs/CODING_STANDARDS.md
Due: mypy-backend, check-magic-numbers

[TASK-1166] Fix test mocks to target async function names
  backend/tests/admin/test_admin.py
  backend/tests/api/v1/admin/test_security_monitoring.py
Due: mypy-backend, check-float-comparisons

[TASK-1166] Convert core modules to native async (#1101)
  .secrets.baseline
  backend/app/api/v1/admin/analytics.py
  backend/app/api/v1/admin/calibration.py
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/api/v1/admin/config.py
  backend/app/api/v1/admin/discrimination.py
  backend/app/api/v1/admin/distractors.py
  backend/app/api/v1/admin/reliability.py
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/core/analytics.py
  backend/app/core/cat/readiness.py
  backend/app/core/discrimination_analysis.py
  backend/app/core/distractor_analysis.py
  backend/app/core/question_analytics.py
  backend/app/core/reliability/__init__.py
  backend/app/core/reliability/storage.py
  backend/app/core/security_monitoring.py
  backend/app/core/system_config.py
  backend/app/core/time_analysis.py
  backend/docs/CODING_STANDARDS.md
  backend/tests/admin/test_admin.py
  backend/tests/api/v1/admin/test_security_monitoring.py
  backend/tests/psychometrics/test_reliability_endpoint.py
  backend/tests/psychometrics/test_reliability_schema.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Install tusk CLI and add .claude/bin to PATH via SessionStart hook
  .claude/bin/config.default.json
  .claude/bin/tusk
  .claude/hooks/setup-path.sh
  .claude/settings.json
  .claude/skills/check-dupes/skill.md
  .claude/skills/groom-backlog/skill.md
  .claude/skills/manage-dependencies/skill.md
  .claude/skills/next-task/SKILL.md
  .claude/skills/tasks/SKILL.md
Due: none

[TASK-1167] Finalize async migration: convert services, rename get_async_db to get_db
  backend/app/api/v1/admin/analytics.py
  backend/app/api/v1/admin/anchor_items.py
  backend/app/api/v1/admin/calibration.py
  backend/app/api/v1/admin/calibration_monitoring.py
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/api/v1/admin/config.py
  backend/app/api/v1/admin/discrimination.py
  backend/app/api/v1/admin/distractors.py
  backend/app/api/v1/admin/generation.py
  backend/app/api/v1/admin/inventory.py
  backend/app/api/v1/admin/notifications.py
  backend/app/api/v1/admin/reliability.py
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/api/v1/admin/validity.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/client_analytics.py
  backend/app/api/v1/feedback.py
  backend/app/api/v1/notifications.py
  backend/app/api/v1/question_analytics.py
  backend/app/api/v1/questions.py
  backend/app/api/v1/test.py
  backend/app/api/v1/user.py
  backend/app/core/auth.py
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/app/services/notification_scheduler.py
Due: mypy-backend, check-magic-numbers

[TASK-1167] Update test infrastructure for async-only get_db
  .secrets.baseline
  backend/tests/auth/test_auth_logout_all.py
  backend/tests/auth/test_auth_logout_revocation.py
  backend/tests/conftest.py
  backend/tests/db/test_async_db.py
  backend/tests/db/test_get_db.py
  backend/tests/notifications/test_notification_integration.py
  backend/tests/notifications/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons

[TASK-1167] Address PR review: sanitize error message in client_analytics
  backend/app/api/v1/client_analytics.py
Due: mypy-backend, check-magic-numbers

[TASK-1167] Finalize async migration (#1102)
  .secrets.baseline
  backend/app/api/v1/admin/analytics.py
  backend/app/api/v1/admin/anchor_items.py
  backend/app/api/v1/admin/calibration.py
  backend/app/api/v1/admin/calibration_monitoring.py
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/api/v1/admin/config.py
  backend/app/api/v1/admin/discrimination.py
  backend/app/api/v1/admin/distractors.py
  backend/app/api/v1/admin/generation.py
  backend/app/api/v1/admin/inventory.py
  backend/app/api/v1/admin/notifications.py
  backend/app/api/v1/admin/reliability.py
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/api/v1/admin/validity.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/client_analytics.py
  backend/app/api/v1/feedback.py
  backend/app/api/v1/notifications.py
  backend/app/api/v1/question_analytics.py
  backend/app/api/v1/questions.py
  backend/app/api/v1/test.py
  backend/app/api/v1/user.py
  backend/app/core/auth.py
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/app/services/notification_scheduler.py
  backend/tests/auth/test_auth_logout_all.py
  backend/tests/auth/test_auth_logout_revocation.py
  backend/tests/conftest.py
  backend/tests/db/test_async_db.py
  backend/tests/db/test_get_db.py
  backend/tests/notifications/test_notification_integration.py
  backend/tests/notifications/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Update tusk CLI references to use PATH-resolved command
  .claude/skills/groom-backlog/skill.md
  .claude/skills/next-task/SKILL.md
  .claude/skills/tasks/SKILL.md
Due: none

[TASK-1168] Add concurrent request tests for async auth endpoints
  backend/app/metrics/prometheus.py
  backend/tests/auth/test_auth_concurrent.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1168] Address PR review: replace asyncio.sleep with time mock
  backend/tests/auth/test_auth_concurrent.py
Due: mypy-backend, check-float-comparisons

[TASK-1168] Add concurrent request tests for async auth endpoints (#1103)
  backend/app/metrics/prometheus.py
  backend/tests/auth/test_auth_concurrent.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1169] Return None instead of 503 from get_current_user_optional on DB errors
  backend/app/core/auth.py
  backend/tests/auth/test_get_current_user_optional.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1169] Address PR review: remove flawed integration test
  backend/tests/auth/test_get_current_user_optional.py
Due: mypy-backend, check-float-comparisons

[TASK-1169] Fix get_current_user_optional to degrade gracefully on DB errors (#1104)
  backend/app/core/auth.py
  backend/tests/auth/test_get_current_user_optional.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1174] Add unit tests for cache_key() and @cached decorator
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons

[TASK-1174] Address PR review: fix cache_clear() scope and add edge case tests
  backend/app/core/cache.py
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1174] Address PR review: use get_cache() in setup_method
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons

[TASK-1174] Add unit tests for @cached decorator and cache_key utility (#1105)
  backend/app/core/cache.py
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1175] Add tests for get_cache() and invalidate_user_cache()
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons

[TASK-1175] Address PR review: clarify invalidate_user_cache test semantics
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons

[TASK-1175] Add tests for cache module-level functions (#1106)
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons

Fix scripts using wrong DB path (tasks.db → tusk/tasks.db)
  scripts/assign_tasks_to_agents.py
  scripts/check_duplicates.py
  scripts/db_path.py
  scripts/jira_to_sqlite.py
  scripts/manage_dependencies.py
Due: none

Address PR review: add subprocess timeout to db_path.py
  scripts/db_path.py
Due: none

Fix scripts using wrong DB path (#1107)
  scripts/assign_tasks_to_agents.py
  scripts/check_duplicates.py
  scripts/db_path.py
  scripts/jira_to_sqlite.py
  scripts/manage_dependencies.py
Due: none

Add `tusk dupes` subcommand for fuzzy duplicate detection
  .claude/bin/config.default.json
  .claude/bin/tusk
  .claude/bin/tusk-dupes.py
  .claude/skills/analysis-to-tasks/skill.md
  .claude/skills/check-dupes/skill.md
  .claude/skills/groom-backlog/skill.md
  .claude/skills/next-task/SKILL.md
Due: none

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
