Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

added randomness test question order
  backend/app/api/v1/test.py
  backend/app/core/test_composition.py
  ios/AIQ/Views/Auth/RegistrationView.swift
Due: mypy-backend, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Fix Dependabot security vulnerabilities in Python dependencies
  backend/requirements.txt
  question-service/requirements.txt
Due: none

Fix login error by making UserResponse name fields optional
  backend/app/schemas/auth.py
  docs/api/openapi.json
  ios/AIQ/Models/User.swift
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/Extensions/UserResponse+UI.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/openapi.json
Due: mypy-backend, check-magic-numbers, swiftlint, swiftformat

Fix login decoding failure and surface meaningful error details
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/ViewModels/HistoryViewModel.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/AIQAPIClientFactory.swift
Due: swiftlint, swiftformat

Improve TestTakingView layout: visible timer and compact progress header
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

Improve TestTakingView layout: visible timer and compact progress header (#896)
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

Simplify question card to show only question text
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQ/Views/Test/QuestionCardView.swift
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

Update default test length from 20 to 25 questions for improved reliability
  backend/app/api/v1/test.py
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-828] Address PR review: update iOS constants and onboarding text
  ios/AIQ/Utilities/Helpers/Constants.swift
  ios/AIQ/Views/Onboarding/Components/ProcessStepRow.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-828] Address PR review: use config default in questions endpoint
  backend/app/api/v1/questions.py
  backend/tests/test_questions.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-828] Fix outdated docstring in questions endpoint
  backend/app/api/v1/questions.py
Due: mypy-backend, check-magic-numbers

[TASK-828] Update default test length from 20 to 25 questions (#897)
  backend/app/api/v1/questions.py
  backend/app/api/v1/test.py
  backend/app/core/config.py
  backend/tests/test_questions.py
  ios/AIQ/Utilities/Helpers/Constants.swift
  ios/AIQ/Views/Onboarding/Components/ProcessStepRow.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: mypy-backend, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

[TASK-263] Apply missing accessibility identifiers to NotificationSettingsView
  ios/AIQ/Views/Settings/NotificationSettingsView.swift
Due: swiftlint, swiftformat

[TASK-263] Apply missing accessibility identifiers to NotificationSettingsView (#898)
  ios/AIQ/Views/Settings/NotificationSettingsView.swift
Due: swiftlint, swiftformat

[TASK-830] Adjust difficulty distribution from 30/40/30 to 20/50/30
  backend/app/core/config.py
  backend/app/core/test_composition.py
  backend/tests/core/test_test_composition.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-830] Update architecture docs for new difficulty distribution
  docs/architecture/OVERVIEW.md
Due: none

[TASK-830] Adjust difficulty distribution from 30/40/30 to 20/50/30 (#899)
  backend/app/core/config.py
  backend/app/core/test_composition.py
  backend/tests/core/test_test_composition.py
  docs/architecture/OVERVIEW.md
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-831] Add weighted domain distribution configuration based on CHC theory
  backend/app/core/config.py
  backend/tests/core/test_settings_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-831] Add Pydantic validator and negative tests for domain weights
  backend/app/core/config.py
  backend/tests/core/test_settings_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-831] Define weighted domain distribution configuration (#900)
  backend/app/core/config.py
  backend/tests/core/test_settings_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-264] Remove unused accessibility identifiers
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-264] Remove unused accessibility identifiers (#901)
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-832] Implement weighted domain allocation in test composition
  backend/app/core/test_composition.py
  backend/tests/core/test_test_composition.py
Due: mypy-backend, check-float-comparisons

[TASK-832] Implement weighted domain allocation in test composition (#902)
  backend/app/core/test_composition.py
  backend/tests/core/test_test_composition.py
Due: mypy-backend, check-float-comparisons

[TASK-833] Scale test time limit from 30 to 35 minutes for 25 questions
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/Utilities/Helpers/Constants.swift
  ios/AIQTests/Models/TestSessionTests.swift
  ios/AIQTests/ViewModels/TestTimerManagerTests.swift
Due: swiftlint, swiftformat

[TASK-833] Scale test time limit from 30 to 35 minutes for 25 questions (#903)
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/Utilities/Helpers/Constants.swift
  ios/AIQTests/Models/TestSessionTests.swift
  ios/AIQTests/ViewModels/TestTimerManagerTests.swift
Due: swiftlint, swiftformat

[deps] Bump numpy 2.1.3→2.4.1 and python-jose 3.4.0→3.5.0
  backend/requirements.txt
  question-service/requirements.txt
Due: none

[deps] Bump numpy 2.1.3→2.4.1 and python-jose 3.4.0→3.5.0 (#904)
  backend/requirements.txt
  question-service/requirements.txt
Due: none

[TASK-265] Add See Also sections to NotificationTappedHandler test documentation
  ios/AIQTests/Views/MainTabViewNotificationTappedTests.swift
Due: swiftlint, swiftformat

[TASK-265] Add See Also sections to NotificationTappedHandler test documentation (#905)
  ios/AIQTests/Views/MainTabViewNotificationTappedTests.swift
Due: swiftlint, swiftformat

[TASK-266] Document why query parameters and fragments are ignored in deep link parsing
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
Due: swiftlint, swiftformat

[TASK-266] Document why query parameters and fragments are ignored in deep link parsing (#906)
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
Due: swiftlint, swiftformat

[TASK-267] Extract deep link navigation logic into testable DeepLinkNavigationService
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Navigation/DeepLinkNavigationService.swift
  ios/AIQ/Views/Common/MainTabView.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
  ios/AIQTests/Views/MainTabViewNotificationTappedTests.swift
Due: swiftlint, swiftformat

[TASK-267] Address PR review: fix concurrent processing test
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
Due: swiftlint, swiftformat

[TASK-267] Extract deep link navigation logic into testable service (#919)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Navigation/DeepLinkNavigationService.swift
  ios/AIQ/Views/Common/MainTabView.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
  ios/AIQTests/Views/MainTabViewNotificationTappedTests.swift
Due: swiftlint, swiftformat

[TASK-268] Add DeepLinkHandlerProtocol for testable deep link navigation
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/Services/Navigation/DeepLinkNavigationService.swift
  ios/AIQTests/Mocks/MockDeepLinkHandler.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
Due: swiftlint, swiftformat

[TASK-268] Add DeepLinkHandlerProtocol for testable deep link navigation (#920)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/Services/Navigation/DeepLinkNavigationService.swift
  ios/AIQTests/Mocks/MockDeepLinkHandler.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
Due: swiftlint, swiftformat

[TASK-269] Add integration tests for deep link navigation flow
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
Due: swiftlint, swiftformat

[TASK-269] Add integration tests for deep link navigation flow (#921)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
Due: swiftlint, swiftformat
