Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-1027] Add integration tests for observability facade with both backends (#1012)
  libs/observability/facade.py
  libs/observability/tests/test_facade.py
  libs/observability/tests/test_integration.py
Due: none

[TASK-1026] Add graceful degradation for disabled backends
  libs/observability/facade.py
  libs/observability/tests/test_graceful_degradation.py
Due: none

[TASK-1026] Add graceful degradation for disabled backends (#1013)
  libs/observability/facade.py
  libs/observability/tests/test_graceful_degradation.py
Due: none

[TASK-885] Implement A/B testing assignment for adaptive rollout
  backend/app/core/ab_testing.py
  backend/app/core/config.py
  backend/tests/test_ab_testing.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-885] Address PR review: thread safety and code improvements
  backend/app/core/ab_testing.py
Due: mypy-backend, check-magic-numbers

[TASK-885] Implement A/B testing assignment for adaptive rollout (#1014)
  backend/app/core/ab_testing.py
  backend/app/core/config.py
  backend/tests/test_ab_testing.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1028] Add libs/observability to backend Python path
  .github/workflows/backend-ci.yml
  .secrets.baseline
  backend/Dockerfile
  backend/app/tracing/setup.py
  backend/requirements.txt
  backend/tests/test_libs_import.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1028] Add libs/observability to backend Python path (#1015)
  .github/workflows/backend-ci.yml
  .secrets.baseline
  backend/Dockerfile
  backend/app/tracing/setup.py
  backend/requirements.txt
  backend/tests/test_libs_import.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1029] Create backend/config/observability.yaml
  backend/config/observability.yaml
  backend/tests/test_observability_config.py
Due: mypy-backend, check-float-comparisons

[TASK-1029] Create backend/config/observability.yaml (#1016)
  backend/config/observability.yaml
  backend/tests/test_observability_config.py
Due: mypy-backend, check-float-comparisons

[TASK-1030] Replace init_sentry() in main.py with observability.init()
  backend/app/main.py
  backend/tests/core/test_sentry_initialization.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1030] Replace init_sentry() in main.py with observability.init() (#1017)
  backend/app/main.py
  backend/tests/core/test_sentry_initialization.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

format
  .claude/skills/md-section/skill.md
  .claude/skills/next-task/SKILL.md
  backend/tests/conftest.py
  backend/tests/test_tracing.py
  docs/plans/question-service-observability-alignment.md
  docs/plans/unified-observability-abstraction-plan.md
Due: mypy-backend, check-float-comparisons

[TASK-1031] Replace metrics.record_error() with observability.capture_error()
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

[TASK-1031] Update test to verify observability import
  backend/tests/test_exception_handlers.py
Due: mypy-backend, check-float-comparisons

[TASK-1031] Replace metrics.record_error() with observability.capture_error() (#1018)
  backend/app/main.py
  backend/tests/test_exception_handlers.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1032] Update middleware to use observability facade
  backend/app/middleware/performance.py
  backend/app/middleware/request_logging.py
  libs/observability/facade.py
Due: mypy-backend, check-magic-numbers

[TASK-1032] Update middleware to use observability facade (#1019)
  backend/app/middleware/performance.py
  backend/app/middleware/request_logging.py
  libs/observability/facade.py
Due: mypy-backend, check-magic-numbers

[TASK-1033] Refactor ApplicationMetrics to delegate to observability facade
  backend/app/observability.py
Due: mypy-backend, check-magic-numbers

[TASK-1033] Address PR review: fix initialization race condition
  backend/app/observability.py
Due: mypy-backend, check-magic-numbers

[TASK-1033] Refactor ApplicationMetrics to delegate to observability facade (#1020)
  backend/app/observability.py
Due: mypy-backend, check-magic-numbers

[TASK-1036] Add libs/observability to question-service imports
  question-service/Dockerfile
  question-service/requirements.txt
  railway-cron.json
Due: none

[TASK-1036] Address PR review: add OpenTelemetry instrumentation packages
  question-service/requirements.txt
Due: none

[TASK-1036] Add libs/observability to question-service imports (#1021)
  question-service/Dockerfile
  question-service/requirements.txt
  railway-cron.json
Due: none

[TASK-1037] Add observability config for question-service
  question-service/config/observability.yaml
Due: none

[TASK-1037] Add observability config for question-service (#1022)
  question-service/config/observability.yaml
Due: none

[TASK-1038] Add observability.init() to run_generation.py startup
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1038] Add observability.init() to run_generation.py startup (#1023)
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1039] Replace MetricsTracker with observability facade
  question-service/app/generator.py
  question-service/app/metrics.py
Due: mypy-question-service, check-magic-numbers

[TASK-1039] Address PR review: safer observability import
  question-service/app/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-1039] Add error handling for observability metrics
  question-service/app/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-1039] Add initialization check to _safe_record_metric
  question-service/app/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-1039] Replace MetricsTracker with observability facade (#1024)
  question-service/app/generator.py
  question-service/app/metrics.py
Due: mypy-question-service, check-magic-numbers

[TASK-1040] Add error capture to generation/evaluation failures
  question-service/app/generator.py
  question-service/app/judge.py
Due: mypy-question-service, check-magic-numbers

[TASK-1040] Add error capture to generation/evaluation failures (#1025)
  question-service/app/generator.py
  question-service/app/judge.py
Due: mypy-question-service, check-magic-numbers

[TASK-1041] Add distributed tracing to pipeline stages
  question-service/app/database.py
  question-service/app/deduplicator.py
  question-service/app/generator.py
  question-service/app/judge.py
  question-service/app/pipeline.py
Due: mypy-question-service, check-magic-numbers

[TASK-1041] Add distributed tracing to pipeline stages (#1026)
  question-service/app/database.py
  question-service/app/deduplicator.py
  question-service/app/generator.py
  question-service/app/judge.py
  question-service/app/pipeline.py
Due: mypy-question-service, check-magic-numbers

[TASK-1043] Fix Dockerfile.trigger to include shared libs for observability
  .secrets.baseline
  docs/plans/task-1043-railway-observability-validation.md
  question-service/Dockerfile.trigger
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: none

[TASK-1043] Align default port in trigger_server.py with Dockerfile EXPOSE
  question-service/trigger_server.py
Due: mypy-question-service

[TASK-1043] Address PR review: improve Dockerfile structure and docs
  .secrets.baseline
  question-service/Dockerfile.trigger
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: none
