Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-938] Add unique constraint on Response(test_session_id, question_id) (#982)
  backend/alembic/versions/c9d0e1f2g3h4_add_unique_constraint_response_session_question.py
  backend/app/api/v1/test.py
  backend/app/models/models.py
  backend/tests/test_response_constraint.py
  backend/tests/test_run_irt_calibration.py
  backend/tests/test_time_analysis.py
  backend/tests/test_user.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-422] Integrate OpenTelemetry for distributed tracing
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/logging_config.py
  backend/app/main.py
  backend/app/tracing/__init__.py
  backend/app/tracing/setup.py
  backend/requirements.txt
  backend/tests/test_tracing.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-422] Address PR review: idempotency guard and test isolation
  backend/.env.example
  backend/app/tracing/setup.py
  backend/tests/test_tracing.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-422] Integrate OpenTelemetry for distributed tracing (#983)
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/logging_config.py
  backend/app/main.py
  backend/app/tracing/__init__.py
  backend/app/tracing/setup.py
  backend/requirements.txt
  backend/tests/test_tracing.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-952] Extract duplicated routing logic in DashboardView into helper method
  ios/AIQ/Views/Dashboard/DashboardView.swift
Due: swiftlint, swiftformat

[TASK-952] Extract duplicated routing logic in DashboardView into helper method (#985)
  ios/AIQ/Views/Dashboard/DashboardView.swift
Due: swiftlint, swiftformat

[TASK-415] Remove deprecated HapticManager.shared singleton
  ios/AIQ/Services/HapticManager.swift
  ios/AIQTests/Services/HapticManagerTests.swift
Due: swiftlint, swiftformat

[TASK-415] Remove deprecated HapticManager.shared singleton (#986)
  ios/AIQ/Services/HapticManager.swift
  ios/AIQTests/Services/HapticManagerTests.swift
Due: swiftlint, swiftformat

[TASK-414] Migrate InProgressTestCard to use HapticManager
  ios/AIQ/Views/Dashboard/InProgressTestCard.swift
Due: swiftlint, swiftformat

[TASK-414] Migrate InProgressTestCard to use HapticManager (#987)
  ios/AIQ/Views/Dashboard/InProgressTestCard.swift
Due: swiftlint, swiftformat

[TASK-413] Migrate OnboardingContainerView to use HapticManager
  ios/AIQ/Views/Onboarding/OnboardingContainerView.swift
Due: swiftlint, swiftformat

[TASK-413] Migrate OnboardingContainerView to use HapticManager (#988)
  ios/AIQ/Views/Onboarding/OnboardingContainerView.swift
Due: swiftlint, swiftformat

[TASK-651] Add OpenTelemetry metrics and logs export to Grafana Cloud
  .secrets.baseline
  backend/.env.example
  backend/DEPLOYMENT.md
  backend/app/core/config.py
  backend/app/core/logging_config.py
  backend/app/main.py
  backend/app/middleware/performance.py
  backend/app/observability.py
  backend/app/tracing/setup.py
  backend/docs/OPENTELEMETRY_SETUP.md
  backend/requirements.txt
Due: mypy-backend, check-magic-numbers

[TASK-651] Address PR review: security and bug fixes
  backend/app/core/config.py
  backend/app/observability.py
  backend/app/tracing/setup.py
Due: mypy-backend, check-magic-numbers

[TASK-651] Address PR review: fix HTTP metrics cardinality
  backend/app/middleware/performance.py
Due: mypy-backend, check-magic-numbers

[TASK-651] Add OpenTelemetry SDK to export metrics/logs to Grafana (#989)
  .secrets.baseline
  backend/.env.example
  backend/DEPLOYMENT.md
  backend/app/core/config.py
  backend/app/core/logging_config.py
  backend/app/main.py
  backend/app/middleware/performance.py
  backend/app/observability.py
  backend/app/tracing/setup.py
  backend/docs/OPENTELEMETRY_SETUP.md
  backend/requirements.txt
Due: mypy-backend, check-magic-numbers

[TASK-425] Add Prometheus metrics endpoint for monitoring
  backend/.env.example
  backend/README.md
  backend/app/api/v1/api.py
  backend/app/api/v1/metrics.py
  backend/app/core/config.py
  backend/app/metrics/__init__.py
  backend/app/metrics/prometheus.py
  backend/app/observability.py
  backend/app/tracing/setup.py
  backend/docs/METRICS_ARCHITECTURE.md
  backend/docs/METRICS_INSTRUMENTATION.md
  backend/docs/METRICS_QUICK_START.md
  backend/docs/PROMETHEUS_METRICS.md
  backend/docs/examples/README.md
  backend/docs/examples/docker-compose-monitoring.yml
  backend/docs/examples/prometheus-rules.yml
  backend/docs/examples/prometheus.yml
  backend/requirements.txt
  backend/tests/test_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-425] Address PR review: improve error handling in metrics endpoint
  backend/app/api/v1/metrics.py
Due: mypy-backend, check-magic-numbers

[TASK-425] Address PR review round 2: security and validation improvements
  backend/app/api/v1/metrics.py
  backend/app/observability.py
  backend/docs/PROMETHEUS_METRICS.md
Due: mypy-backend, check-magic-numbers

[TASK-425] Address PR review round 3: validate question_type and difficulty
  backend/app/observability.py
Due: mypy-backend, check-magic-numbers

[TASK-425] Add Prometheus metrics endpoint for monitoring (#990)
  backend/.env.example
  backend/README.md
  backend/app/api/v1/api.py
  backend/app/api/v1/metrics.py
  backend/app/core/config.py
  backend/app/metrics/__init__.py
  backend/app/metrics/prometheus.py
  backend/app/observability.py
  backend/app/tracing/setup.py
  backend/docs/METRICS_ARCHITECTURE.md
  backend/docs/METRICS_INSTRUMENTATION.md
  backend/docs/METRICS_QUICK_START.md
  backend/docs/PROMETHEUS_METRICS.md
  backend/docs/examples/README.md
  backend/docs/examples/docker-compose-monitoring.yml
  backend/docs/examples/prometheus-rules.yml
  backend/docs/examples/prometheus.yml
  backend/requirements.txt
  backend/tests/test_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Fix SwiftLint identifier_name violation in AIQAPIClientFactory
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/AIQAPIClientFactory.swift
Due: swiftlint, swiftformat

[TASK-811] Guard Prometheus collector cleanup to test/dev only
  question-service/trigger_server.py
Due: mypy-question-service

[TASK-811] Guard Prometheus collector cleanup to test/dev only (#991)
  question-service/trigger_server.py
Due: mypy-question-service

[TASK-812] Document metrics endpoint security model
  backend/docs/METRICS_ARCHITECTURE.md
  backend/docs/PROMETHEUS_METRICS.md
Due: none

[TASK-812] Address PR review feedback
  backend/docs/PROMETHEUS_METRICS.md
Due: none

[TASK-812] Document metrics endpoint security model (#992)
  backend/docs/METRICS_ARCHITECTURE.md
  backend/docs/PROMETHEUS_METRICS.md
Due: none

[TASK-813] Add metrics cardinality guidelines to deployment docs
  backend/DEPLOYMENT.md
Due: none

[TASK-813] Address PR review: update timestamp example year
  backend/DEPLOYMENT.md
Due: none

[TASK-813] Add metrics cardinality guidelines to deployment docs (#993)
  backend/DEPLOYMENT.md
Due: none

[TASK-986] Integrate record_error metrics with FastAPI exception handlers
  backend/app/core/db_error_handling.py
  backend/app/core/graceful_failure.py
  backend/app/main.py
  backend/tests/core/test_db_error_handling.py
  backend/tests/core/test_graceful_failure.py
  backend/tests/test_exception_handlers.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-986] Integrate record_error metrics with FastAPI exception handlers (#994)
  backend/app/core/db_error_handling.py
  backend/app/core/graceful_failure.py
  backend/app/main.py
  backend/tests/core/test_db_error_handling.py
  backend/tests/core/test_graceful_failure.py
  backend/tests/test_exception_handlers.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-987] Implement database query metrics instrumentation
  backend/app/db/__init__.py
  backend/app/db/instrumentation.py
  backend/app/main.py
  backend/docs/METRICS_INSTRUMENTATION.md
  backend/tests/test_db_instrumentation.py
  backend/tests/test_db_instrumentation_integration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-987] Implement database query metrics instrumentation (#995)
  backend/app/db/__init__.py
  backend/app/db/instrumentation.py
  backend/app/main.py
  backend/docs/METRICS_INSTRUMENTATION.md
  backend/tests/test_db_instrumentation.py
  backend/tests/test_db_instrumentation_integration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1008] Create libs/observability/ package structure
  libs/__init__.py
  libs/observability/README.md
  libs/observability/__init__.py
  libs/observability/config.py
  libs/observability/config/default.yaml
  libs/observability/facade.py
  libs/observability/otel_backend.py
  libs/observability/py.typed
  libs/observability/sentry_backend.py
Due: none

[TASK-1008] Address PR review: fix bugs and add tests
  libs/observability/config.py
  libs/observability/config/default.yaml
  libs/observability/otel_backend.py
  libs/observability/requirements.txt
  libs/observability/tests/__init__.py
  libs/observability/tests/test_backends.py
  libs/observability/tests/test_config.py
  libs/observability/tests/test_facade.py
Due: none

[TASK-1008] Fix critical security issue: replace eval() with json
  libs/observability/otel_backend.py
Due: none

[TASK-1008] Create libs/observability/ package structure (#996)
  libs/__init__.py
  libs/observability/README.md
  libs/observability/__init__.py
  libs/observability/config.py
  libs/observability/config/default.yaml
  libs/observability/facade.py
  libs/observability/otel_backend.py
  libs/observability/py.typed
  libs/observability/requirements.txt
  libs/observability/sentry_backend.py
  libs/observability/tests/__init__.py
  libs/observability/tests/test_backends.py
  libs/observability/tests/test_config.py
  libs/observability/tests/test_facade.py
Due: none

[TASK-1009] Define public API in facade.py with stub implementations
  libs/observability/__init__.py
  libs/observability/facade.py
  libs/observability/tests/test_facade.py
Due: none
