Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-1407] Fix build-phase cleanup to remove all refs with matching filename
  ios/scripts/remove_files_from_xcode.rb
Due: none

[TASK-1407] Apply review fixes: scope file-ref removal to expected group only
  ios/scripts/remove_files_from_xcode.rb
Due: none

[TASK-1407] Apply review fixes: scope phase cleanup to same group, warn on other-group refs
  ios/scripts/remove_files_from_xcode.rb
Due: none

[TASK-1406] Document Features/ module layout, shared VMs, and full directory tree
  ios/docs/ARCHITECTURE.md
Due: none

[TASK-1406] Apply review fixes: update stale LoginView examples, clarify nav components, note illustrative tree
  ios/docs/ARCHITECTURE.md
Due: none

Sync tasks.db: mark TASK-1400, 1401, 1404, 1406, 1407 as completed
  tusk/tasks.db
Due: none

Sync tasks.db: mark TASK-1405 as completed
  tusk/tasks.db
Due: none

[TASK-1408] Establish Shared/ boundary: move domain-agnostic code out of Utilities/, ViewModels/, Services/, and Views/Components/
  .secrets.baseline
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Test/IQScoreUtility.swift
  ios/AIQ/Shared/Architecture/BaseViewModel.swift
  ios/AIQ/Shared/Architecture/ViewModelProtocol.swift
  ios/AIQ/Shared/Components/CustomTextField.swift
  ios/AIQ/Shared/Components/EmptyStateView.swift
  ios/AIQ/Shared/Components/ErrorBanner.swift
  ios/AIQ/Shared/Components/ErrorView.swift
  ios/AIQ/Shared/Components/IconButton.swift
  ios/AIQ/Shared/Components/IconContentCard.swift
  ios/AIQ/Shared/Components/IconContentRow.swift
  ios/AIQ/Shared/Components/LoadingOverlay.swift
  ios/AIQ/Shared/Components/LoadingView.swift
  ios/AIQ/Shared/Components/PageIndicator.swift
  ios/AIQ/Shared/Components/PrimaryButton.swift
  ios/AIQ/Shared/Components/ScrollPositionModifier.swift
  ios/AIQ/Shared/Components/ToastView.swift
  ios/AIQ/Shared/Design/ColorPalette.swift
  ios/AIQ/Shared/Design/DesignSystem.swift
  ios/AIQ/Shared/Design/EnvironmentValues+Theme.swift
  ios/AIQ/Shared/Design/Theme.swift
  ios/AIQ/Shared/Design/Typography.swift
  ios/AIQ/Shared/Extensions/Date+Extensions.swift
  ios/AIQ/Shared/Extensions/Int+Extensions.swift
  ios/AIQ/Shared/Extensions/Number+Extensions.swift
  ios/AIQ/Shared/Extensions/String+Extensions.swift
  ios/AIQ/Shared/Extensions/View+Extensions.swift
  ios/AIQ/Shared/Extensions/View+ScreenshotPrevention.swift
  ios/AIQ/Shared/Services/BiometricAuthManager.swift
  ios/AIQ/Shared/Services/HapticManager.swift
  ios/AIQ/Shared/Services/KeychainStorage.swift
  ios/AIQ/Shared/Services/NetworkMonitor.swift
  ios/AIQ/Shared/Services/ToastManager.swift
  ios/AIQ/Shared/Utilities/TimeProvider.swift
  ios/AIQ/Shared/Utilities/Validators.swift
  ios/CLAUDE.md
  ios/docs/CODING_STANDARDS.md
  ios/scripts/remove_files_from_xcode.rb
Due: swiftlint, swiftformat

[TASK-1408] Apply review fixes: remove empty Utilities/Design orphan group
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

Sync tasks.db: recreate TASK-1408, add TASK-1409 and TASK-1410
  tusk/tasks.db
Due: none

Stop tracking tusk/tasks.db in git
  .gitignore
  tusk/tasks.db
Due: none

[TASK-1410] Add SharedKit section to OVERVIEW.md
  docs/architecture/OVERVIEW.md
Due: none

[TASK-1410] Update key source files table to reference Packages/SharedKit/
  ios/CLAUDE.md
Due: none

[TASK-1410] Document SharedKit boundary rule and protocol conformance pattern
  .secrets.baseline
  ios/docs/CODING_STANDARDS.md
Due: none

[TASK-1411] Remove ToastManager.shared singleton from SharedKit
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Services/Navigation/DeepLinkNavigationService.swift
  ios/AIQ/Views/Components/MainTabView.swift
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
  ios/AIQTests/Services/ToastManagerTests.swift
  ios/AIQTests/Views/MainTabViewNotificationTappedTests.swift
  ios/Packages/SharedKit/Sources/SharedKit/Services/ToastManager.swift
Due: swiftlint, swiftformat

[TASK-1408] Move IQScoreUtility.swift to Features/Test/Utilities/
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Test/Utilities/IQScoreUtility.swift
Due: swiftlint, swiftformat

Upgrade tusk to v384
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-branch.py
  .claude/bin/tusk-db-lib.py
  .claude/bin/tusk-lint.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-upgrade.py
  .claude/skills/investigate/SKILL.md
Due: none

[TASK-3] Add RUN_COMPLETE structured log line
  question-service/run_generation.py
Due: mypy-question-service

[TASK-4] Add startup WARNING log when email alerts disabled in non-dev env
  question-service/app/config/config.py
Due: mypy-question-service, check-magic-numbers

[TASK-4] Add tests for email alerts disabled WARNING log behavior
  question-service/tests/config/test_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-2] default verbose to False and suppress third-party log noise
  question-service/app/infrastructure/logging_config.py
  question-service/trigger_server.py
Due: mypy-question-service, check-magic-numbers

[TASK-5] initialize sentinel vars to remove locals().get() in exception handlers
  question-service/run_generation.py
Due: mypy-question-service

[TASK-7] relax third-party log clamp when effective level is DEBUG
  question-service/app/infrastructure/logging_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-7] fix operator: use min() not max() to allow DEBUG level to propagate
  question-service/app/infrastructure/logging_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-7] tighten: relax third-party clamp only at DEBUG, not INFO
  question-service/app/infrastructure/logging_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-8] assert httpx level is DEBUG/WARNING based on setup_logging input
  question-service/tests/observability/test_logging_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-8] Add teardown_method to reset httpx logger level between tests
  question-service/tests/observability/test_logging_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-9] parametrize third-party logger tests for all 6 loggers
  question-service/tests/observability/test_logging_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-10] add third-party logger clamping to backend setup_logging and tests
  backend/app/core/logging_config.py
  backend/tests/observability/test_logging.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1] fix UserTests: update testUserDecodingFailsWithMissingRequiredFields for optional firstName/lastName
  ios/AIQTests/Models/UserTests.swift
Due: swiftlint, swiftformat

[TASK-1] fix AppStoreScreenshotTests: replace wrong dashboardView.startTestButton with dashboardView.actionButton
  ios/AIQUITests/Screenshots/AppStoreScreenshotTests.swift
Due: swiftlint, swiftformat

[TASK-1] apply review fix: add XCTAssertEqual for educationLevel in testDemographicFieldsAreAvailable
  ios/AIQTests/Models/UserTests.swift
Due: swiftlint, swiftformat

[TASK-11] add environment-validation guards to simulator-state UI tests
  ios/AIQUITests/BiometricLockViewUITests.swift
  ios/AIQUITests/DashboardActionButtonUITests.swift
  ios/AIQUITests/DashboardInProgressCardUITests.swift
Due: swiftlint, swiftformat

[TASK-13] guard hasActiveTest using isInProgress instead of non-nil check
  ios/AIQ/Features/Dashboard/ViewModels/DashboardViewModel.swift
Due: swiftlint, swiftformat

[TASK-14] add wall-clock expiry guard to hasActiveTest
  ios/AIQ/Features/Dashboard/ViewModels/DashboardViewModel.swift
Due: swiftlint, swiftformat

[TASK-14] add expiry boundary tests for hasActiveTest
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

Upgrade tusk to v392
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-sync-skills.py
  .claude/skills/investigate/SKILL.md
  .claude/skills/retro/FULL-RETRO.md
  .claude/skills/retro/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none

[TASK-15] add hasActiveTest tests for completed and abandoned session statuses
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-16] make totalTimeSeconds nonisolated to fix Swift 6 actor isolation warning
  ios/AIQ/Features/Test/ViewModels/TestTimerManager.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
