Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-321] Update all test files with a-iq-test.com domain references
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
  ios/AIQTests/Services/PushNotificationDeepLinkTests.swift
  ios/AIQTests/Utilities/AppConfigTests.swift
  ios/AIQTests/Views/MainTabViewNotificationTappedTests.swift
  ios/AIQUITests/DeepLinkTests.swift
Due: swiftlint, swiftformat

[TASK-321] Update iOS README and validate-universal-links.sh domain references
  ios/AIQ/Tests/PUSH_NOTIFICATION_DEEP_LINK_TESTING.md
  ios/README.md
  ios/scripts/validate-universal-links.sh
Due: none

[TASK-321] Fix missed www.aiq.app test URL and bare host array in AIQDeepLinkParser
  ios/AIQ/Services/Navigation/AIQDeepLinkParser.swift
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
Due: swiftlint, swiftformat

[TASK-321] Fix accidental bundle ID changes (com.aiq.app must not be renamed)
  ios/README.md
  ios/scripts/validate-universal-links.sh
Due: none

[TASK-323] Add model_scores field to TestResultResponse and compute in build_test_result_response
  backend/app/api/v1/test.py
  backend/app/core/scoring/engine.py
  backend/app/schemas/responses.py
Due: mypy-backend, check-magic-numbers

[TASK-322] Add schema, endpoint, and router registration for GET /v1/analytics/model-performance
  backend/app/api/v1/api.py
  backend/app/api/v1/model_performance.py
  backend/app/schemas/model_performance.py
Due: mypy-backend, check-magic-numbers

[TASK-322] Add unit tests for model-performance endpoint covering 2 providers
  backend/tests/api/v1/test_model_performance.py
Due: mypy-backend, check-float-comparisons

[TASK-322] Improve IN_PROGRESS session exclusion test per review feedback
  backend/tests/api/v1/test_model_performance.py
Due: mypy-backend, check-float-comparisons

[TASK-325] Regenerate OpenAPI spec and Swift client with model_scores and model-performance endpoint
  docs/api/openapi.json
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Client.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Types.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/openapi.json
Due: swiftlint, swiftformat

[TASK-325] Update schema name references after EducationLevelSchema/FeedbackCategorySchema rename
  ios/AIQ/Models/Feedback.swift
  ios/AIQ/Models/User.swift
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQTests/Extensions/AIQAPIClientExtensionsTests.swift
Due: swiftlint, swiftformat

[TASK-324] Add ModelPerformanceView with vendor accuracy bars and drill-down
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Test/Views/ModelPerformanceView.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQ/Models/TestResult.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-324] Integrate ModelPerformanceBreakdownView into TestResultsView and TestDetailView
  ios/AIQ/Features/History/Views/TestDetailView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
Due: swiftlint, swiftformat

[TASK-324] Apply review fixes: eliminate duplication and double-evaluation
  ios/AIQ/Features/History/Views/TestDetailView.swift
  ios/AIQ/Features/Test/Views/ModelPerformanceView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQ/Models/TestResult.swift
Due: swiftlint, swiftformat

[TASK-327] Add pre-commit hook to detect duplicate PBXFileReference entries in project.pbxproj
  .pre-commit-config.yaml
  scripts/check_duplicate_pbxfilerefs.py
Due: none

[TASK-327] Remove unused Counter import
  scripts/check_duplicate_pbxfilerefs.py
Due: none

[TASK-328] Remove duplicate PBXFileReference entries for ServiceConfigurationTests.swift and TabNavigationIsolationTests.swift
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

[TASK-326] Move model-performance historical pagination from Python slicing to SQL LIMIT/OFFSET
  backend/app/api/v1/model_performance.py
Due: mypy-backend, check-magic-numbers

[TASK-329] Update score label to 'Estimated AIQ Score' and revise disclaimer to communicate scoring approximation
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-329] Add reference distribution note to PercentileCard clarifying percentile is based on standard population model
  ios/AIQ/Features/Test/Views/PercentileCard.swift
Due: swiftlint, swiftformat

[TASK-330] Replace hardcoded 'Estimated AIQ Score' with results.your.score localization key
  ios/AIQ/Features/Test/Views/TestResultsView.swift
Due: swiftlint, swiftformat

[TASK-331] Add estimation disclaimer to TestDetailView for consistency with TestResultsView
  ios/AIQ/Features/History/Views/TestDetailView.swift
Due: swiftlint, swiftformat

[TASK-332] Add LLMTestSession, LLMResponse, LLMTestResult models and export from __init__
  backend/app/models/__init__.py
  backend/app/models/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-332] Add Alembic migration for llm_test_sessions, llm_responses, llm_test_results tables
  backend/alembic/versions/add_llm_benchmark_tables.py
Due: mypy-backend

[TASK-332] Apply review fixes: proper revision ID, filename convention, unique constraint on llm_responses
  backend/alembic/versions/7b6f5b98429d_add_llm_benchmark_tables.py
  backend/app/models/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-333] Add LLM benchmark config settings (API keys + cost cap)
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-333] Add async LLM provider functions (OpenAI, Anthropic, Google) with error handling
  backend/app/services/llm_benchmark/__init__.py
  backend/app/services/llm_benchmark/providers.py
Due: mypy-backend, check-magic-numbers

[TASK-334] Add skip_seen_filter param to sync and async select_stratified_questions
  backend/app/core/scoring/test_composition.py
Due: mypy-backend, check-float-comparisons

[TASK-334] Add per-question-type prompt templates with JSON response format; memory questions present stimulus inline
  backend/app/services/llm_benchmark/prompts.py
Due: mypy-backend, check-magic-numbers

[TASK-334] Add LLM benchmark runner with question selection, answer normalization, cost cap enforcement, and IQ scoring
  backend/app/services/llm_benchmark/__init__.py
  backend/app/services/llm_benchmark/runner.py
Due: mypy-backend, check-magic-numbers

[TASK-334] Apply review fixes: cost estimation, DRY prompts, fence stripping, error handling
  backend/app/services/llm_benchmark/prompts.py
  backend/app/services/llm_benchmark/runner.py
Due: mypy-backend, check-magic-numbers

[TASK-335] Add Pydantic request/response schemas for LLM benchmark admin API
  backend/app/schemas/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-335] Add LLM benchmark admin router with POST /run endpoint
  backend/app/api/v1/admin/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-335] Register LLM benchmark router in admin __init__.py with tag Admin - LLM Benchmark
  backend/app/api/v1/admin/__init__.py
Due: mypy-backend, check-magic-numbers

[TASK-335] Apply review fixes: remove unused temperature param, simplify list query
  backend/app/api/v1/admin/llm_benchmark.py
  backend/app/schemas/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-338] Add unit tests for all LLM benchmark admin API endpoints
  backend/tests/admin/test_admin_llm_benchmark.py
Due: mypy-backend, check-float-comparisons

[TASK-338] Apply review fixes: remove unused param, add runner error test
  backend/tests/admin/test_admin_llm_benchmark.py
Due: mypy-backend, check-float-comparisons

[TASK-336] Add unit tests for _normalize_answer covering whitespace, lowercase, option prefix removal
  backend/tests/services/__init__.py
  backend/tests/services/llm_benchmark/__init__.py
  backend/tests/services/llm_benchmark/test_runner.py
Due: mypy-backend, check-float-comparisons

[TASK-336] Add unit tests for build_prompt covering all 6 question types including memory stimulus
  backend/tests/services/llm_benchmark/test_prompts.py
Due: mypy-backend, check-float-comparisons

[TASK-336] Apply review fixes: mock settings in test_basic_scoring, realistic iq_score in test_provider_exception
  backend/tests/services/llm_benchmark/test_runner.py
Due: mypy-backend, check-float-comparisons

[TASK-340] Fix test to expect URL scheme instead of full URL in deep link analytics
  ios/AIQTests/Mocks/MockAnalyticsManager.swift
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
