Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-939] Address PR review: use (test_session_id, answered_at) to match ORDER BY
  backend/alembic/versions/b2c3d4e5f6g7_add_response_session_id_covering_index.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-939] Add composite index on Response(test_session_id, id) for CAT replay (#1115)
  backend/alembic/versions/b2c3d4e5f6g7_add_response_session_id_covering_index.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-1191] Add create_full_test_app() helper to conftest.py
  .secrets.baseline
  backend/tests/admin/test_admin_auth.py
  backend/tests/conftest.py
  backend/tests/observability/test_error_tracking.py
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

[TASK-1191] Add create_full_test_app() helper to conftest.py (#1116)
  .secrets.baseline
  backend/tests/admin/test_admin_auth.py
  backend/tests/conftest.py
  backend/tests/observability/test_error_tracking.py
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

[TASK-1198] Fix placeholder DSN in .env.example to use numeric project ID
  backend/.env.example
Due: none

[TASK-1198] Fix placeholder DSN in .env.example to use numeric project ID (#1117)
  backend/.env.example
Due: none

[TASK-1195] Address PR review: import shared constants and add tests
  .secrets.baseline
  backend/app/admin/views.py
  backend/tests/admin/test_admin_views.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-180] Add biometric auth toggle to Settings
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Storage/AppStateStorage.swift
  ios/AIQ/Services/Storage/BiometricPreferenceStorage.swift
  ios/AIQ/Utilities/DI/ServiceConfiguration.swift
  ios/AIQ/Utilities/DI/ViewModelFactory.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/ViewModels/SettingsViewModel.swift
  ios/AIQ/Views/Settings/SettingsView.swift
  ios/AIQ/Views/Test/TestTimerView.swift
  ios/AIQTests/Mocks/MockBiometricAuthManager.swift
  ios/AIQTests/ViewModels/SettingsViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-180] Address PR review: publisher subscriptions, storage rollback, mock extraction
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/ViewModels/SettingsViewModel.swift
  ios/AIQ/Views/Settings/SettingsView.swift
  ios/AIQTests/Mocks/MockBiometricPreferenceStorage.swift
  ios/AIQTests/ViewModels/SettingsViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-180] Add biometric authentication toggle to Settings (#1120)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Storage/AppStateStorage.swift
  ios/AIQ/Services/Storage/BiometricPreferenceStorage.swift
  ios/AIQ/Utilities/DI/ServiceConfiguration.swift
  ios/AIQ/Utilities/DI/ViewModelFactory.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/ViewModels/SettingsViewModel.swift
  ios/AIQ/Views/Settings/SettingsView.swift
  ios/AIQ/Views/Test/TestTimerView.swift
  ios/AIQTests/Mocks/MockBiometricAuthManager.swift
  ios/AIQTests/Mocks/MockBiometricPreferenceStorage.swift
  ios/AIQTests/ViewModels/SettingsViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-612] Document model update process and improve CI check sample code
  question-service/README.md
  question-service/docs/GOOGLE_MODEL_VERSIONING.md
Due: none

[TASK-612] Address PR review: add assert guard and fix stale model table
  question-service/docs/GOOGLE_MODEL_VERSIONING.md
Due: none

[TASK-612] Fix Black formatting and mypy type errors in question-service
  .secrets.baseline
  question-service/app/generation/pipeline.py
  question-service/app/infrastructure/embedding_cache.py
  question-service/app/observability/alerting.py
  question-service/pyproject.toml
  question-service/tests/generation/test_generator.py
  question-service/tests/reporting/test_benchmark.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-612] Align pre-commit black to match CI version (24.3.0)
  .pre-commit-config.yaml
  question-service/app/config/config.py
  question-service/app/data/deduplicator.py
  question-service/app/generation/generator.py
  question-service/app/inventory/inventory_analyzer.py
  question-service/app/observability/alerting.py
Due: mypy-question-service, check-magic-numbers

[TASK-612] Fix Question Service CI: provide dummy API key for unit tests
  .github/workflows/question-service-ci.yml
  .secrets.baseline
Due: none

[TASK-612] Improve model availability CI check to validate all configured models (#1121)
  .github/workflows/question-service-ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  question-service/README.md
  question-service/app/config/config.py
  question-service/app/data/deduplicator.py
  question-service/app/generation/generator.py
  question-service/app/generation/pipeline.py
  question-service/app/infrastructure/embedding_cache.py
  question-service/app/inventory/inventory_analyzer.py
  question-service/app/observability/alerting.py
  question-service/docs/GOOGLE_MODEL_VERSIONING.md
  question-service/pyproject.toml
  question-service/tests/generation/test_generator.py
  question-service/tests/reporting/test_benchmark.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1200] Remove registry kwarg from PrometheusMetricReader (API removed in 0.51b0)
  backend/app/metrics/prometheus.py
  libs/observability/otel_backend.py
Due: mypy-backend, check-magic-numbers

[TASK-1200] Remove registry kwarg from PrometheusMetricReader (API removed in 0.51b0) (#1122)
  backend/app/metrics/prometheus.py
  libs/observability/otel_backend.py
Due: mypy-backend, check-magic-numbers

[TASK-1202] Pin SwiftFormat to 0.59.1 in iOS CI and update dev setup docs
  .github/workflows/ios-ci.yml
  ios/README.md
Due: none

[TASK-1202] Pin SwiftFormat to 0.59.1 in iOS CI and update dev setup docs (#1123)
  .github/workflows/ios-ci.yml
  ios/README.md
Due: none

[TASK-1203] Fix CWD shift causing ios/ path double-prefix on successive calls
  .claude/bin/tusk-commit.py
Due: none

[TASK-1203] Fix CWD shift causing ios/ path double-prefix on successive calls (#1124)
  .claude/bin/tusk-commit.py
Due: none

[TASK-1205] Use absolute path in TestObservabilityConfigRouting to fix CWD-dependent test failure
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

[TASK-1205] Use absolute path in TestObservabilityConfigRouting to fix CWD-dependent test failure (#1125)
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

[TASK-1208] Fix config path in TestObservabilityConfigNegativeCases to use correct backend/config/observability.yaml
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

[TASK-1208] Fix config path in TestObservabilityConfigNegativeCases to use correct backend/config/observability.yaml (#1126)
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

[TASK-1206] Replace private _sdk_config usage with public MeterProvider metric_readers API
  backend/app/metrics/prometheus.py
  backend/app/tracing/setup.py
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1206] Replace private _sdk_config usage with public MeterProvider metric_readers API (#1127)
  backend/app/metrics/prometheus.py
  backend/app/tracing/setup.py
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1207] Pin SwiftLint to 0.62.2 via direct binary download in CI and README
  .github/workflows/ios-ci.yml
  ios/README.md
Due: none

[TASK-1207] Pin SwiftLint to 0.62.2 via direct binary download in CI and README (#1128)
  .github/workflows/ios-ci.yml
  ios/README.md
Due: none

[TASK-1209] Add Xcode 16.4 workaround for _OpenAPIGeneratorCore iOS compile error
  .github/workflows/ios-ci.yml
Due: none

[TASK-1209] Add Xcode 16.4 workaround for _OpenAPIGeneratorCore iOS compile error (#1129)
  .github/workflows/ios-ci.yml
Due: none

[TASK-1201] Upgrade pre-commit black rev to 24.3.0 to match backend/requirements.txt and reformat 4 files
  .pre-commit-config.yaml
  backend/app/core/cat/item_selection.py
  backend/app/core/config.py
  backend/app/core/psychometrics/time_analysis.py
  backend/app/middleware/security.py
Due: mypy-backend, check-magic-numbers

[TASK-1201] Upgrade pre-commit black rev to 24.3.0 to match backend/requirements.txt and reformat 4 files (#1130)
  .pre-commit-config.yaml
  backend/app/core/cat/item_selection.py
  backend/app/core/config.py
  backend/app/core/psychometrics/time_analysis.py
  backend/app/middleware/security.py
Due: mypy-backend, check-magic-numbers

[TASK-1211] Apply Xcode 16.4 workaround to ui-tests job
  .github/workflows/ios-ci.yml
Due: none
