Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-1148] Add difficulty label to latency and cost generation metrics
  question-service/app/generator.py
  question-service/tests/test_generator_otel.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1148] Add difficulty label to latency and cost generation metrics (#1064)
  question-service/app/generator.py
  question-service/tests/test_generator_otel.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1149] Update downstream function signatures to accept NotificationType enum
  .secrets.baseline
  backend/app/core/analytics.py
  backend/app/observability.py
  backend/tests/test_apns_service.py
  backend/tests/test_application_metrics.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1149] Address PR review: use .value for enum serialization in analytics properties
  backend/app/core/analytics.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1149] Update downstream function signatures to accept NotificationType enum (#1065)
  .secrets.baseline
  backend/app/core/analytics.py
  backend/app/observability.py
  backend/tests/test_apns_service.py
  backend/tests/test_application_metrics.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1120] Consolidate iOS coding standards and documentation
  .secrets.baseline
  ios/AIQ/Utilities/Design/DesignSystem.swift
  ios/AIQ/Views/Auth/RegistrationView.swift
  ios/AIQ/Views/Auth/WelcomeView.swift
  ios/AIQ/Views/Onboarding/PrivacyConsentView.swift
  ios/docs/CERTIFICATE_ROTATION_RUNBOOK.md
  ios/docs/CODING_STANDARDS.md
Due: swiftlint, swiftformat

[TASK-1120] Address PR review: fix ToC entries and heading hierarchy
  .secrets.baseline
  ios/docs/CODING_STANDARDS.md
Due: none

[TASK-1120] Consolidate iOS coding standards and documentation (#1066)
  .secrets.baseline
  ios/AIQ/Utilities/Design/DesignSystem.swift
  ios/AIQ/Views/Auth/RegistrationView.swift
  ios/AIQ/Views/Auth/WelcomeView.swift
  ios/AIQ/Views/Onboarding/PrivacyConsentView.swift
  ios/docs/CERTIFICATE_ROTATION_RUNBOOK.md
  ios/docs/CODING_STANDARDS.md
Due: swiftlint, swiftformat

[TASK-1111] Add 60 observability hardening tests covering all 19 acceptance criteria
  backend/tests/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

Fix import ordering per PEP 8
  backend/tests/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

[TASK-1111] Harden observability test coverage (#1067)
  backend/tests/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

[TASK-1112] Improve iOS accessibility identifiers and VoiceOver support
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Auth/RegistrationView.swift
  ios/AIQ/Views/Common/EmptyStateView.swift
  ios/AIQ/Views/Common/LoadingOverlay.swift
  ios/AIQ/Views/Common/PageIndicator.swift
  ios/AIQ/Views/Common/ToastView.swift
  ios/AIQ/Views/History/HistoryView.swift
  ios/AIQ/Views/History/TestDetailView.swift
  ios/AIQ/Views/Settings/NotificationSettingsView.swift
  ios/AIQ/Views/Test/AdaptiveProgressHeader.swift
  ios/AIQ/Views/Test/TestTakingView.swift
  ios/AIQUITests/AuthenticationAccessibilityTests.swift
  ios/AIQUITests/NotificationSettingsAccessibilityTests.swift
Due: swiftlint, swiftformat

[TASK-1112] Improve iOS accessibility identifiers and VoiceOver support (#1068)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Auth/RegistrationView.swift
  ios/AIQ/Views/Common/EmptyStateView.swift
  ios/AIQ/Views/Common/LoadingOverlay.swift
  ios/AIQ/Views/Common/PageIndicator.swift
  ios/AIQ/Views/Common/ToastView.swift
  ios/AIQ/Views/History/HistoryView.swift
  ios/AIQ/Views/History/TestDetailView.swift
  ios/AIQ/Views/Settings/NotificationSettingsView.swift
  ios/AIQ/Views/Test/AdaptiveProgressHeader.swift
  ios/AIQ/Views/Test/TestTakingView.swift
  ios/AIQUITests/AuthenticationAccessibilityTests.swift
  ios/AIQUITests/NotificationSettingsAccessibilityTests.swift
Due: swiftlint, swiftformat

[TASK-1113] Improve observability configuration and documentation
  backend/DEPLOYMENT.md
  backend/README.md
  backend/app/middleware/request_logging.py
  backend/config/observability.yaml
  backend/tests/test_observability_config.py
  libs/observability/config/default.yaml
  libs/observability/facade.py
  libs/observability/otel_backend.py
  question-service/config/observability.yaml
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1113] Improve observability configuration and documentation (#1069)
  backend/DEPLOYMENT.md
  backend/README.md
  backend/app/middleware/request_logging.py
  backend/config/observability.yaml
  backend/tests/test_observability_config.py
  libs/observability/config/default.yaml
  libs/observability/facade.py
  libs/observability/otel_backend.py
  question-service/config/observability.yaml
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1114] Expand IRT/CAT adaptive testing tests and docs
  backend/alembic/versions/d0e1f2g3h4i5_add_composite_and_fk_indexes_irt_cat.py
  backend/app/core/cat/calibration_runner.py
  backend/app/core/cat/engine.py
  backend/app/core/cat/item_selection.py
  backend/app/core/cat/score_conversion.py
  backend/app/core/cat/stopping_rules.py
  backend/app/models/models.py
  backend/tests/core/test_cat_stopping_rules.py
  backend/tests/test_cat_simulation_n1000.py
  backend/tests/test_eap_property_tests.py
  backend/tests/test_item_selection_integration.py
  backend/tests/test_theta_stabilization_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Address PR review: use proper migration revision ID and add if_not_exists
  backend/alembic/versions/8e384d712031_add_composite_and_fk_indexes_irt_cat.py
Due: mypy-backend

[TASK-1114] Expand IRT/CAT adaptive testing tests and docs (#1070)
  backend/alembic/versions/8e384d712031_add_composite_and_fk_indexes_irt_cat.py
  backend/app/core/cat/calibration_runner.py
  backend/app/core/cat/engine.py
  backend/app/core/cat/item_selection.py
  backend/app/core/cat/score_conversion.py
  backend/app/core/cat/stopping_rules.py
  backend/app/models/models.py
  backend/tests/core/test_cat_stopping_rules.py
  backend/tests/test_cat_simulation_n1000.py
  backend/tests/test_eap_property_tests.py
  backend/tests/test_item_selection_integration.py
  backend/tests/test_theta_stabilization_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1115] Add deep link and navigation test coverage
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQTests/Mocks/MockAnalyticsService.swift
  ios/AIQTests/Services/AppRouterTests.swift
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
  ios/AIQTests/Views/DashboardNavigationTests.swift
  ios/README.md
Due: swiftlint, swiftformat

[TASK-1115] Add deep link and navigation test coverage (#1071)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQTests/Mocks/MockAnalyticsService.swift
  ios/AIQTests/Services/AppRouterTests.swift
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
  ios/AIQTests/Views/DashboardNavigationTests.swift
  ios/README.md
Due: swiftlint, swiftformat

[TASK-1116] Improve question-service provider tests and maintenance
  .github/workflows/model-availability-check.yml
  .secrets.baseline
  question-service/README.md
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/google_provider.py
  question-service/app/providers/openai_provider.py
  question-service/app/providers/xai_provider.py
  question-service/tests/conftest.py
  question-service/tests/providers/test_anthropic_provider.py
  question-service/tests/providers/test_google_provider.py
  question-service/tests/providers/test_multi_provider_circuit_breaker.py
  question-service/tests/providers/test_openai_provider.py
  question-service/tests/providers/test_provider_model_availability_integration.py
  question-service/tests/providers/test_xai_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Address Claude review: fix CI secret checks and empty choices test assertions
  .github/workflows/model-availability-check.yml
  question-service/tests/providers/test_openai_provider.py
  question-service/tests/providers/test_xai_provider.py
Due: mypy-question-service, check-float-comparisons

Add empty choices validation to OpenAI provider for consistent error handling
  question-service/app/providers/openai_provider.py
  question-service/tests/providers/test_openai_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1116] Improve question-service provider tests and maintenance (#1072)
  .github/workflows/model-availability-check.yml
  .secrets.baseline
  question-service/README.md
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/google_provider.py
  question-service/app/providers/openai_provider.py
  question-service/app/providers/xai_provider.py
  question-service/tests/conftest.py
  question-service/tests/providers/test_anthropic_provider.py
  question-service/tests/providers/test_google_provider.py
  question-service/tests/providers/test_multi_provider_circuit_breaker.py
  question-service/tests/providers/test_openai_provider.py
  question-service/tests/providers/test_provider_model_availability_integration.py
  question-service/tests/providers/test_xai_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1117] Add iOS UI test infrastructure and helpers
  ios/AIQ/Views/Common/PageIndicator.swift
  ios/AIQTests/Services/AnalyticsServiceTests.swift
  ios/AIQTests/Services/ToastManagerTests.swift
  ios/AIQTests/Views/PageIndicatorTests.swift
  ios/AIQUITests/AuthenticationFlowTests.swift
  ios/AIQUITests/Helpers/BaseUITest.swift
  ios/AIQUITests/Helpers/NavigationHelper.swift
  ios/AIQUITests/NetworkErrorScenarioTests.swift
  ios/AIQUITests/TestTakingAccessibilityTests.swift
  ios/AIQUITests/TestTakingFlowTests.swift
Due: swiftlint, swiftformat

[TASK-1117] Address PR review: replace sleep with expectation in async test
  ios/AIQTests/Services/AnalyticsServiceTests.swift
Due: swiftlint, swiftformat

[TASK-1117] Add iOS UI test infrastructure and helpers (#1073)
  ios/AIQ/Views/Common/PageIndicator.swift
  ios/AIQTests/Services/AnalyticsServiceTests.swift
  ios/AIQTests/Services/ToastManagerTests.swift
  ios/AIQTests/Views/PageIndicatorTests.swift
  ios/AIQUITests/AuthenticationFlowTests.swift
  ios/AIQUITests/Helpers/BaseUITest.swift
  ios/AIQUITests/Helpers/NavigationHelper.swift
  ios/AIQUITests/NetworkErrorScenarioTests.swift
  ios/AIQUITests/TestTakingAccessibilityTests.swift
  ios/AIQUITests/TestTakingFlowTests.swift
Due: swiftlint, swiftformat

[TASK-1118] Improve bootstrap script robustness
  question-service/app/alerting.py
  question-service/app/inventory_analyzer.py
  question-service/run_generation.py
  question-service/scripts/bootstrap_inventory.py
Due: mypy-question-service, check-magic-numbers

[TASK-1118] Add bootstrap script and pipeline integration tests
  question-service/tests/test_bootstrap_inventory.py
  scripts/tests/README.md
  scripts/tests/__init__.py
  scripts/tests/test_bootstrap_inventory_sh.py
Due: mypy-question-service, check-float-comparisons

[TASK-1118] Add auto-balance architecture and sentinel file docs
  question-service/docs/AUTO_BALANCE.md
  question-service/docs/SENTINEL_FILE.md
Due: none

[TASK-1118] Improve bootstrap script robustness and tests (#1074)
  question-service/app/alerting.py
  question-service/app/inventory_analyzer.py
  question-service/docs/AUTO_BALANCE.md
  question-service/docs/SENTINEL_FILE.md
  question-service/run_generation.py
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
  scripts/tests/README.md
  scripts/tests/__init__.py
  scripts/tests/test_bootstrap_inventory_sh.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[chore] Move pre-commit hooks to .pre-commit-hooks/
  .pre-commit-config.yaml
  .pre-commit-hooks/check_float_comparisons.py
  .pre-commit-hooks/check_magic_numbers.py
Due: none

[chore] Move task DB and management scripts to taskdb/ and .claude/scripts/
  .claude/commands/review-pr-comments.md
  .claude/scripts/assign_tasks_to_agents.py
  .claude/scripts/check_duplicates.py
  .claude/scripts/jira_to_sqlite.py
  .claude/scripts/manage_dependencies.py
  .claude/skills/analysis-to-tasks/skill.md
  .claude/skills/check-dupes/skill.md
  .claude/skills/groom-backlog/skill.md
  .claude/skills/manage-dependencies/skill.md
  .claude/skills/next-task/SKILL.md
  .claude/skills/run-question-service-tests/skill.md
  .claude/skills/run-scripts-tests/skill.md
  .claude/skills/tasks/SKILL.md
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  taskdb/migrations/migrate_backfill_null_task_types.sql
  taskdb/migrations/migrate_normalize_domain_and_task_type.sql
  taskdb/tasks.db
  taskdb/tasks.db.backup-20260208
Due: none

[chore] Move bootstrap scripts and tests to question-service/scripts/
  .claude/skills/run-scripts-tests/skill.md
  CLAUDE.md
  question-service/README.md
  question-service/app/alerting.py
  question-service/docs/SENTINEL_FILE.md
  question-service/scripts/bootstrap_inventory.sh
  question-service/scripts/log_utils.py
  question-service/scripts/send_script_alert.py
  question-service/scripts/tests/README.md
  question-service/scripts/tests/__init__.py
  question-service/scripts/tests/test_bootstrap_inventory_sh.py
  question-service/scripts/tests/test_log_utils.py
  question-service/scripts/tests/test_parse_success_run.sh
  question-service/scripts/tests/test_write_per_type_metrics.sh
  scripts/tests/__init__.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[chore] Move iOS scripts and remove empty scripts/ directory
  ios/scripts/generate-app-store-screenshots.sh
  ios/scripts/validate-universal-links.sh
  scripts/md_section.py
Due: none

[TASK-1119] Improve question-service cost tracking and metrics
  question-service/app/benchmark.py
  question-service/app/cost_tracking.py
  question-service/app/metrics.py
  question-service/tests/test_benchmark.py
  question-service/tests/test_cost_tracking.py
  question-service/tests/test_metrics.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1119] Improve question-service cost tracking and metrics (#1076)
  question-service/app/benchmark.py
  question-service/app/cost_tracking.py
  question-service/app/metrics.py
  question-service/tests/test_benchmark.py
  question-service/tests/test_cost_tracking.py
  question-service/tests/test_metrics.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Remove MetricsTracker, replace with lightweight RunSummary
  .secrets.baseline
  docs/plans/question-service-observability-alignment.md
  docs/plans/unified-observability-abstraction-plan.md
  question-service/README.md
  question-service/app/generator.py
  question-service/app/metrics.py
  question-service/app/reporter.py
  question-service/app/run_summary.py
  question-service/docs/ARCHITECTURE.md
  question-service/docs/OPERATIONS.md
  question-service/docs/PERFORMANCE.md
  question-service/run_generation.py
  question-service/tests/test_metrics.py
  question-service/tests/test_reporter.py
  question-service/tests/test_run_summary.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1121] Add backend notification and APNs edge case tests
  .secrets.baseline
  backend/alembic/versions/a1b2c3d4e5f6_add_day_30_reminder_query_index.py
  backend/app/api/v1/admin/notifications.py
  backend/app/api/v1/feedback.py
  backend/app/api/v1/test.py
  backend/app/services/notification_scheduler.py
  backend/tests/conftest.py
  backend/tests/test_admin_notifications.py
  backend/tests/test_apns_service.py
  backend/tests/test_feedback.py
  backend/tests/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1121] Address PR review: sanitize IntegrityError debug logging
  backend/app/api/v1/test.py
Due: mypy-backend, check-magic-numbers
