Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-435] Wrap benchmark timing and record_pipeline_run in try/finally so partial LLM costs are persisted even when run_benchmarks() raises
  question-service/app/evaluation/benchmark.py
Due: mypy-question-service, check-magic-numbers

[TASK-435] Replace assert guard with explicit ValueError for -O safety
  question-service/app/evaluation/benchmark.py
Due: mypy-question-service, check-magic-numbers

[TASK-436] Create aiq-data CLI with argparse and 7 subcommands (users, inventory, sessions, scores, generation, activity, sql)
  backend/README.md
  backend/cli/aiq_data.py
Due: mypy-backend

[TASK-436] Add companion skill .claude/skills/aiq-data/SKILL.md
  .claude/skills/aiq-data/SKILL.md
Due: none

[TASK-436] Use column-specific queries to avoid ORM loading unmigrated columns
  backend/cli/aiq_data.py
Due: mypy-backend

[TASK-436] Apply review fixes: allowlist SQL validation, lazy engine, context manager, GROUP BY for inventory, README description
  backend/README.md
  backend/cli/aiq_data.py
Due: mypy-backend

[TASK-438] Fix duplicate alembic revision ID for audit_runs migration (a1b2c3d4e5f6 → b51f3a32cf10) and run alembic upgrade head
  backend/alembic/versions/b51f3a32cf10_add_audit_runs_table.py
Due: mypy-backend

[TASK-438] Remove old duplicate-ID migration file
  backend/alembic/versions/a1b2c3d4e5f6_add_audit_runs_table.py
Due: mypy-backend

[TASK-437] Add unit tests for aiq-data CLI
  backend/tests/cli/__init__.py
  backend/tests/cli/test_aiq_data.py
Due: mypy-backend, check-float-comparisons

[TASK-439] Add admin data-query endpoints mirroring aiq-data CLI (users, inventory, sessions, scores, generation, activity, sql)
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/data_query.py
Due: mypy-backend, check-magic-numbers

[TASK-439] Add semicolon check to SQL endpoint for multi-statement rejection
  backend/app/api/v1/admin/data_query.py
Due: mypy-backend, check-magic-numbers

[TASK-440] Add --prod flag to aiq-data CLI for querying via backend API
  backend/cli/aiq_data.py
Due: mypy-backend

[TASK-440] Document --prod flag in aiq-data skill
  .claude/skills/aiq-data/SKILL.md
Due: none

[TASK-442] Add tests for SQL validation rejecting non-SELECT/WITH statements
  backend/tests/admin/test_admin_data_query.py
Due: mypy-backend, check-float-comparisons

[TASK-441] Add column/table blocklist to admin SQL query endpoint
  backend/app/api/v1/admin/data_query.py
  backend/cli/aiq_data.py
  backend/tests/admin/test_admin_data_query.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Fix audit_runs migration to skip if table already exists
  backend/alembic/versions/b51f3a32cf10_add_audit_runs_table.py
Due: mypy-backend

Move notification soft prompt to pre-test flow with provisional fallback
  ios/AIQ/Features/Dashboard/Views/DashboardView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Views/Components/NotificationSoftPromptView.swift
Due: swiftlint, swiftformat

[TASK-444] Add POST /v1/admin/test-reminders/send and GET /v1/admin/test-reminders/preview endpoints mirroring Day 30 pattern with threading lock and admin auth
  backend/app/api/v1/admin/notifications.py
Due: mypy-backend, check-magic-numbers

[TASK-446] Migrate run_cat_readiness.py to gioe_libs CronJob harness
  backend/scripts/run_cat_readiness.py
Due: mypy-backend

[TASK-443] Add run_notifications.py cron script using CronJob harness with async NotificationScheduler
  backend/scripts/run_notifications.py
Due: mypy-backend

[TASK-443] Add Railway cron config for daily 9 AM UTC notification service
  backend/infra/railway-cron-notifications.json
Due: none

[TASK-447] Add PreTestOnboardingViewModel and PreTestOverviewPageView (Page 1: test overview)
  ios/AIQ/Features/PreTestOnboarding/ViewModels/PreTestOnboardingViewModel.swift
  ios/AIQ/Features/PreTestOnboarding/Views/Pages/PreTestOverviewPageView.swift
Due: swiftlint, swiftformat

[TASK-447] Add PreTestRulesPageView (Page 2: allowed/prohibited aids)
  ios/AIQ/Features/PreTestOnboarding/Views/Pages/PreTestRulesPageView.swift
Due: swiftlint, swiftformat

[TASK-447] Add PreTestIntegrityPageView (Page 3: pattern analysis and honest effort)
  ios/AIQ/Features/PreTestOnboarding/Views/Pages/PreTestIntegrityPageView.swift
Due: swiftlint, swiftformat

[TASK-447] Add PreTestNotificationsPageView (Page 4: conditional notification pitch)
  ios/AIQ/Features/PreTestOnboarding/Views/Pages/PreTestNotificationsPageView.swift
Due: swiftlint, swiftformat

[TASK-447] Add PreTestOnboardingContainerView and wire into DashboardView via fullScreenCover, replacing two disconnected sheets with unified multi-page flow
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Dashboard/Views/DashboardView.swift
  ios/AIQ/Features/PreTestOnboarding/Views/PreTestOnboardingContainerView.swift
Due: swiftlint, swiftformat

[TASK-447] Add accessibility identifiers and localization strings for pre-test onboarding flow
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-448] Update onboarding page 2 copy: fix 20-25 min → accurate timing, reframe as app-level cognitive dashboard overview
  ios/AIQ/Features/Onboarding/Views/Pages/OnboardingPage2View.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-449] Delete deprecated PreTestInfoView and extract PreTestInfoGate to own file
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/PreTestOnboarding/Views/PreTestOnboardingContainerView.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Components/PreTestInfoGate.swift
  ios/AIQ/Views/Components/PreTestInfoView.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-451] Add safe_json_loads helper that extracts first JSON object from concatenated LLM responses
  question-service/app/utils/text_utils.py
Due: mypy-question-service, check-magic-numbers

[TASK-451] Replace json.loads with safe_json_loads in all four LLM providers
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/google_provider.py
  question-service/app/providers/openai_provider.py
  question-service/app/providers/xai_provider.py
Due: mypy-question-service, check-magic-numbers

[TASK-451] Add unit tests for safe_json_loads covering single, concatenated, markdown-wrapped, and error cases
  question-service/tests/utils/test_text_utils.py
Due: mypy-question-service, check-float-comparisons

[TASK-452] Enable Gemini native JSON mode (response_mime_type) in structured completions to prevent missing evaluation fields
  question-service/app/providers/google_provider.py
Due: mypy-question-service, check-magic-numbers

[TASK-454] Fix mock call count assertions to account for record_pipeline_run extra commit/close
  question-service/tests/data/test_answer_correctness_auditor.py
Due: mypy-question-service, check-float-comparisons

[TASK-453] Add investigation report analyzing empty JSON response frequency across 11 production runs
  docs/analysis/TASK-453-empty-json-responses.md
Due: none

[TASK-453] Add empty response warning logging to Google provider (sync + async) for diagnostic parity with Anthropic
  question-service/app/providers/google_provider.py
Due: mypy-question-service, check-magic-numbers

[TASK-455] Add ABANDON_COOLDOWN_DAYS and ABANDON_ANSWER_THRESHOLD config settings
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-455] Add abandon_cooldown_not_met error message for substantive abandon cooldown
  backend/app/core/error_responses.py
Due: mypy-backend, check-magic-numbers

[TASK-455] Add abandon cooldown check in start_test for substantive abandoned attempts (>=7 responses within 7 days)
  backend/app/api/v1/test.py
Due: mypy-backend, check-magic-numbers

[TASK-455] Add unit tests for abandon cooldown: blocks with 7+ answers, allows <7 and 0 answers, expires after 7 days, bypass_cooldown skips check
  backend/tests/api/v1/test_test_sessions.py
Due: mypy-backend, check-float-comparisons

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
