Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-113] remove Equatable conformances now provided by APIClient in ios-libs v1.2.0
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQ/Models/TestSession+Extensions.swift
Due: swiftlint, swiftformat

[TASK-114] mark Identifiable conformances @retroactive to silence Swift retroactive conformance warnings
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQ/Models/TestSession+Extensions.swift
Due: swiftlint, swiftformat

[TASK-115] update ios-libs to v1.3.0: AIQAPIClient product removed
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

[TASK-706] migrate backend and question-service to gioe-libs[domain-types] (#1148)
  backend/requirements.txt
  question-service/requirements.txt
Due: none

[TASK-6] consolidate QuestionType into shared aiq_types module
  README.md
  aiq_types/__init__.py
  backend/Dockerfile
  backend/app/models/models.py
  question-service/Dockerfile.trigger
  question-service/app/data/models.py
  question-service/pyproject.toml
Due: mypy-backend, mypy-question-service, check-magic-numbers

[TASK-7] fix gioe-libs import paths after TASK-4 rename/removal
  backend/app/core/logging_config.py
  backend/app/schemas/auth.py
  backend/app/schemas/feedback.py
  backend/app/schemas/generation_runs.py
Due: mypy-backend, check-magic-numbers

[TASK-8] add /aiq_types/** to railway watchPatterns for backend and question-service
  question-service/railway.json
  railway.json
Due: none

[TASK-9] redirect FeedbackStatus and DifficultyLevel imports to local alias layer
  backend/app/schemas/__init__.py
  backend/app/schemas/feedback.py
Due: mypy-backend, check-magic-numbers

[TASK-10] redirect aiq_logging imports to structured_logging
  question-service/app/infrastructure/logging_config.py
  question-service/run_generation.py
  question-service/scripts/bootstrap_inventory.py
  question-service/scripts/infer_sub_types.py
  question-service/scripts/reevaluate_questions.py
  question-service/trigger_server.py
Due: mypy-question-service, check-magic-numbers

[TASK-17] define LLMErrorCategory locally; replace ErrorCategory.BILLING_QUOTA/RATE_LIMIT/MODEL_ERROR
  question-service/app/infrastructure/error_classifier.py
  question-service/app/infrastructure/llm_error_categories.py
  question-service/app/observability/alerting.py
  question-service/scripts/test_alerts.py
  question-service/tests/infrastructure/test_alerting.py
  question-service/tests/infrastructure/test_retry.py
  question-service/tests/providers/test_google_error_handling.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-15] migrate AIQ completion alerts from send_run_completion to send_notification
  question-service/app/observability/alerting_adapter.py
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-16] migrate AIQ inventory alerting to ResourceMonitor
  question-service/app/observability/alerting.py
  question-service/run_generation.py
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-25] update test assertions to match generic recommendation text from gioe_libs
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons

fix stale docstring reference to aiq_logging in logging_config.py
  backend/app/core/logging_config.py
Due: mypy-backend, check-magic-numbers

[TASK-111] fix README.md aiq_types placeholder description
  README.md
Due: none

[TASK-111] set OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE=delta to fix OTLP export failures
  question-service/Dockerfile.trigger
Due: none

[TASK-117] fix Dockerfile lint warnings: uppercase AS and JSON array CMD
  backend/Dockerfile
Due: none

pin gioe-libs to commit 3a052b5 to bust Docker layer cache
  backend/requirements.txt
Due: none

fix: relax httpx pin to >=0.28.1 for google-genai compatibility
  question-service/requirements.txt
Due: none

Upgrade tusk to v516
  .claude/bin/VERSION
  .claude/bin/config.default.json
  .claude/bin/tusk
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-config-tools.py
  .claude/bin/tusk-criteria.py
  .claude/bin/tusk-init-fetch-bootstrap.py
  .claude/bin/tusk-init-write-config.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-scaffold-reviewer-prompts.py
  .claude/bin/tusk-upgrade.py
  .claude/skills/create-task/SKILL.md
  .claude/skills/investigate/SKILL.md
  .claude/skills/tusk-init/SKILL.md
  .claude/skills/tusk-update/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none

[TASK-119] remove per-comparison DEBUG logs from deduplicator and embedding cache hot paths
  question-service/app/data/deduplicator.py
  question-service/app/infrastructure/embedding_cache.py
Due: mypy-question-service, check-magic-numbers

[TASK-124] remove legacy EmbeddingCache and simplify QuestionDeduplicator to use HybridEmbeddingCache
  .secrets.baseline
  question-service/app/data/deduplicator.py
  question-service/tests/evaluation/test_deduplicator.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-124] remove dead hasattr guards from using_redis_cache and close()
  question-service/app/data/deduplicator.py
Due: mypy-question-service, check-magic-numbers

[TASK-120] bump gioe-libs to b3ec037 with CUMULATIVE temporality fix for Grafana
  backend/requirements.txt
Due: none

[TASK-123] add Resend HTTP email support; disable SMTP on Railway
  backend/requirements.txt
  question-service/.env.example
  question-service/app/config/config.py
  question-service/requirements.txt
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-121] add top-up retry for single-call batch shortfalls and structured WARNING logs
  question-service/app/generation/generator.py
  question-service/app/generation/pipeline.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-121] add generation.loss warning to balanced pipeline variants; cap top-up overflow; fix DRY in RUN_COMPLETE log
  question-service/app/generation/generator.py
  question-service/app/generation/pipeline.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-122] add migration to fix generationrunstatus enum case (uppercase → lowercase)
  backend/alembic/versions/977d2850e07d_fix_generationrunstatus_enum_case.py
Due: mypy-backend

[TASK-122] document BACKEND_API_URL and BACKEND_SERVICE_KEY in Railway deployment guide; enable run reporting
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: none

[TASK-122] fix SA enum values_callable and migration USING cast for generationrunstatus
  backend/alembic/versions/977d2850e07d_fix_generationrunstatus_enum_case.py
  backend/app/models/models.py
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: mypy-backend, check-magic-numbers

[TASK-130] add test asserting SA enum default DB value is .name (uppercase)
  backend/tests/test_enum_db_values.py
Due: mypy-backend, check-float-comparisons

[TASK-126] convert logger.error f-strings to structured logger.warning in generation paths
  question-service/app/generation/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-131] convert logger.error f-strings to structured logger.warning in batch generation paths
  question-service/app/generation/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-129] fix asyncrunstatus enum name mismatch in QuestionGenerationRun model
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-128] add top-up retry tests for single-call and chunked paths in generate_batch_async
  question-service/tests/generation/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-128] Apply review fixes: extract shared generator fixture and simplify _run helper
  question-service/tests/generation/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-134] add test for main single-call exception falling through to parallel generation
  question-service/tests/generation/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-127] add generation_loss_threshold_pct to settings
  question-service/app/config/config.py
Due: mypy-question-service, check-magic-numbers

[TASK-127] alert when generation_loss_pct exceeds threshold with structured context
  question-service/run_generation.py
Due: mypy-question-service

[TASK-127] Apply review fixes: wrap send_notification in try/except on success path
  question-service/run_generation.py
Due: mypy-question-service
