Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-864] Implement CATSessionManager orchestrator
  backend/app/core/cat/__init__.py
  backend/app/core/cat/engine.py
  backend/tests/core/test_cat_engine.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-864] Address PR review: validate question_type, remove unused constant
  backend/app/core/cat/engine.py
  backend/tests/core/test_cat_engine.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-864] Implement CATSessionManager orchestrator (#937)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/engine.py
  backend/tests/core/test_cat_engine.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-865] Implement EAP ability estimation as standalone module
  backend/app/core/cat/__init__.py
  backend/app/core/cat/ability_estimation.py
  backend/app/core/cat/engine.py
  backend/tests/core/test_ability_estimation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-865] Implement EAP ability estimation as standalone module (#938)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/ability_estimation.py
  backend/app/core/cat/engine.py
  backend/tests/core/test_ability_estimation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-866] Implement Maximum Fisher Information item selection for CAT
  backend/app/core/cat/__init__.py
  backend/app/core/cat/engine.py
  backend/app/core/cat/item_selection.py
  backend/tests/core/test_item_selection.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-866] Address PR review: add optional RNG parameter for testability
  backend/app/core/cat/item_selection.py
Due: mypy-backend, check-magic-numbers

[TASK-866] Implement Maximum Fisher Information item selection (#939)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/engine.py
  backend/app/core/cat/item_selection.py
  backend/tests/core/test_item_selection.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-867] Implement content balancing module for CAT
  backend/app/core/cat/__init__.py
  backend/app/core/cat/content_balancing.py
  backend/app/core/cat/engine.py
  backend/app/core/cat/item_selection.py
  backend/tests/core/test_content_balancing.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-867] Address PR review: make get_item_domain public
  backend/app/core/cat/__init__.py
  backend/app/core/cat/content_balancing.py
  backend/app/core/cat/item_selection.py
Due: mypy-backend, check-magic-numbers

[TASK-867] Implement content balancing for CAT (#940)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/content_balancing.py
  backend/app/core/cat/engine.py
  backend/app/core/cat/item_selection.py
  backend/tests/core/test_content_balancing.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-868] Implement randomesque exposure control with monitoring
  backend/app/core/cat/__init__.py
  backend/app/core/cat/exposure_control.py
  backend/tests/core/test_exposure_control.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-868] Implement randomesque exposure control with monitoring (#941)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/exposure_control.py
  backend/tests/core/test_exposure_control.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-869] Implement multi-criteria CAT stopping rules
  backend/app/core/cat/__init__.py
  backend/app/core/cat/engine.py
  backend/app/core/cat/stopping_rules.py
  backend/tests/core/test_cat_stopping_rules.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-869] Address PR review: remove unused _check_content_balance method
  backend/app/core/cat/engine.py
  backend/tests/core/test_cat_engine.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-869] Address PR review: document MIN_ITEMS_PER_DOMAIN rationale and improve logging
  backend/app/core/cat/engine.py
Due: mypy-backend, check-magic-numbers

[TASK-869] Implement multi-criteria CAT stopping rules (#942)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/engine.py
  backend/app/core/cat/stopping_rules.py
  backend/tests/core/test_cat_engine.py
  backend/tests/core/test_cat_stopping_rules.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-870] Implement IRT-based theta to IQ score conversion
  backend/app/core/cat/__init__.py
  backend/app/core/cat/score_conversion.py
  backend/tests/core/test_cat_score_conversion.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-870] Implement IRT-based theta to IQ score conversion (#943)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/score_conversion.py
  backend/tests/core/test_cat_score_conversion.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-871] Add adaptive session and theta tracking columns
  backend/alembic/versions/f6a7b8c9d0e1_add_adaptive_theta_columns.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-871] Address PR review: fix theta_history docs and scoring_method server_default
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-871] Add adaptive session and theta tracking columns (#944)
  backend/alembic/versions/f6a7b8c9d0e1_add_adaptive_theta_columns.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-872] Add comprehensive unit tests for CAT engine components
  backend/tests/test_cat_engine.py
  backend/tests/test_cat_estimation.py
  backend/tests/test_cat_selection.py
  backend/tests/test_cat_stopping.py
Due: mypy-backend, check-float-comparisons

[TASK-872] Add comprehensive unit tests for CAT engine components (#945)
  backend/tests/test_cat_engine.py
  backend/tests/test_cat_estimation.py
  backend/tests/test_cat_selection.py
  backend/tests/test_cat_stopping.py
Due: mypy-backend, check-float-comparisons

[TASK-873] Implement CAT simulation engine for algorithm validation
  backend/app/core/cat/simulation.py
  backend/tests/core/test_cat_simulation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-873] Address PR review: document selection mode and threshold discrepancies
  backend/app/core/cat/simulation.py
Due: mypy-backend, check-magic-numbers

[TASK-873] Address PR review: extract magic numbers to named constants
  backend/app/core/cat/simulation.py
Due: mypy-backend, check-magic-numbers

[TASK-873] Implement CAT simulation engine for algorithm validation (#946)
  backend/app/core/cat/simulation.py
  backend/tests/core/test_cat_simulation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-874] Run simulation study with 1,000 examinees
  backend/app/core/cat/simulation.py
  backend/app/core/cat/simulation_study.py
  backend/tests/core/test_cat_simulation_study.py
  docs/reports/cat-simulation-study-874.md
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-874] Run simulation study with 1,000 examinees (#947)
  backend/app/core/cat/simulation.py
  backend/app/core/cat/simulation_study.py
  backend/tests/core/test_cat_simulation_study.py
  docs/reports/cat-simulation-study-874.md
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-875] Integrate shadow CAT testing alongside fixed-form submissions
  backend/alembic/versions/a7b8c9d0e1f2_add_shadow_cat_results_table.py
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/api/v1/test.py
  backend/app/core/shadow_cat.py
  backend/app/models/__init__.py
  backend/app/models/models.py
  backend/app/schemas/shadow_cat.py
  backend/tests/api/v1/admin/test_shadow_cat.py
  backend/tests/core/test_shadow_cat.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-875] Address PR review: deduplicate constant, simplify statistics
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/core/shadow_cat.py
Due: mypy-backend, check-magic-numbers

[TASK-875] Integrate shadow CAT testing alongside fixed-form submissions (#948)
  backend/alembic/versions/a7b8c9d0e1f2_add_shadow_cat_results_table.py
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/api/v1/test.py
  backend/app/core/shadow_cat.py
  backend/app/models/__init__.py
  backend/app/models/models.py
  backend/app/schemas/shadow_cat.py
  backend/tests/api/v1/admin/test_shadow_cat.py
  backend/tests/core/test_shadow_cat.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-876] Add shadow CAT data collection monitoring and analysis endpoints
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/schemas/shadow_cat.py
  backend/tests/api/v1/admin/test_shadow_cat.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-876] Add shadow CAT data collection monitoring and analysis endpoints (#949)
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/schemas/shadow_cat.py
  backend/tests/api/v1/admin/test_shadow_cat.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-877] Add shadow CAT validation service and endpoint for Phase 4 go/no-go decision
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/core/shadow_cat_validation.py
  backend/app/schemas/shadow_cat.py
  backend/tests/api/v1/admin/test_shadow_cat_validation.py
  backend/tests/core/test_shadow_cat_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-877] Add shadow CAT validation service and endpoint for Phase 4 go/no-go decision (#950)
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/core/shadow_cat_validation.py
  backend/app/schemas/shadow_cat.py
  backend/tests/api/v1/admin/test_shadow_cat_validation.py
  backend/tests/core/test_shadow_cat_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-878] Add adaptive parameter to POST /v1/test/start for CAT delivery
  backend/README.md
  backend/app/api/v1/test.py
  backend/app/schemas/test_sessions.py
  backend/tests/test_test_sessions.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-878] Address PR review: reorder item selection before session creation
  backend/app/api/v1/test.py
Due: mypy-backend, check-magic-numbers

[TASK-878] Add adaptive parameter to POST /v1/test/start (#951)
  backend/README.md
  backend/app/api/v1/test.py
  backend/app/schemas/test_sessions.py
  backend/tests/test_test_sessions.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
