Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-250] Use session_scope in infer_sub_types database update phase
  question-service/scripts/infer_sub_types.py
Due: mypy-question-service

[TASK-250] Apply review fixes: update test mock to use session_scope context manager
  question-service/tests/inventory/test_inventory_analyzer.py
Due: mypy-question-service, check-float-comparisons

Upgrade tusk to v559
  .claude/bin/VERSION
  .claude/bin/tusk-upgrade.py
  .claude/skills/investigate-directory/SKILL.md
Due: none

[TASK-251] Add read_only param to session_scope; use it in SELECT-only methods
  question-service/app/data/database.py
  question-service/tests/data/test_database.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-211] Integrate observability.record_event into AnalyticsTracker.track_event
  .secrets.baseline
  backend/app/core/analytics.py
Due: mypy-backend, check-magic-numbers

[TASK-253] Add unit tests for AnalyticsTracker.track_event observability integration
  backend/tests/core/test_analytics_observability.py
Due: mypy-backend, check-float-comparisons

[TASK-213] Add send_feedback_notification_email and wire into feedback endpoint
  backend/app/api/v1/feedback.py
  backend/app/services/email_service.py
Due: mypy-backend, check-magic-numbers

[TASK-213] Apply review fixes: html.escape user input, sanitize headers, fix PII log, add tests
  backend/app/services/email_service.py
  backend/tests/notifications/test_email_service.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-254] Remove stale 'not yet implemented' comment from email config
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-214] Re-enable 9 skipped iOS tests blocked on ConfidenceInterval
  .claude/skills/run-generation/skill.md
  .claude/skills/run-ios-test/SKILL.md
  .claude/tusk-manifest.json
  CLAUDE.md
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQTests/Models/TestResultTests.swift
  ios/AIQTests/Views/IQTrendChartTests.swift
  ios/scripts/remove_files_from_xcode.rb
Due: swiftlint, swiftformat

[TASK-255] Re-enable 4 commented-out score display helper tests
  ios/AIQTests/Models/TestResultTests.swift
Due: swiftlint, swiftformat

[TASK-215] Implement domainScoresConverted and sortedDomainScores; re-enable 4 tests
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQTests/Models/TestResultTests.swift
Due: swiftlint, swiftformat

[TASK-257] Add strongestCognitiveDomain and weakestCognitiveDomain computed properties
  ios/AIQ/Models/TestResult+Extensions.swift
Due: swiftlint, swiftformat

[TASK-257] Re-enable testStrongestDomain and testWeakestDomain using strongestCognitiveDomain/weakestCognitiveDomain
  ios/AIQTests/Models/TestResultTests.swift
Due: swiftlint, swiftformat

[TASK-216] Wire 'View Detailed Breakdown' button to ScoreBreakdownView via router.push
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Test/Views/ScoreBreakdownView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Services/Navigation/AppRouter.swift
  ios/AIQ/Views/Components/MainTabView.swift
Due: swiftlint, swiftformat

[TASK-216] Apply review fixes: color in summaryMetricCard, if-let for domainScoresConverted, rename preview, add Route tests
  ios/AIQ/Features/Test/Views/ScoreBreakdownView.swift
  ios/AIQTests/Views/DashboardNavigationTests.swift
Due: swiftlint, swiftformat

[TASK-258] Add domainScores parameter and makeDomainScoresPayload helper to MockDataFactory
  ios/AIQ/Models/MockDataFactory.swift
Due: swiftlint, swiftformat

[TASK-258] Add 'With Domain Scores' preview to ScoreBreakdownView exercising domain breakdown layout
  ios/AIQ/Features/Test/Views/ScoreBreakdownView.swift
Due: swiftlint, swiftformat

[TASK-258] Apply review fixes: assertionFailure on encode/decode failure, unique preview id
  ios/AIQ/Features/Test/Views/ScoreBreakdownView.swift
  ios/AIQ/Models/MockDataFactory.swift
Due: swiftlint, swiftformat

[TASK-259] Add round-trip test for makeDomainScoresPayload in TestResultTests
  ios/AIQTests/Models/TestResultTests.swift
Due: swiftlint, swiftformat

[TASK-237] Fix FixedWindowStrategy.reset() to delete compound key identifier:window_id
  backend/app/ratelimit/limiter.py
  backend/app/ratelimit/strategies.py
  backend/tests/ratelimit/test_ratelimit_strategies.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-237] Apply review fixes: clarify else branch in FixedWindowStrategy.reset()
  backend/app/ratelimit/strategies.py
Due: mypy-backend, check-magic-numbers

[TASK-245] Replace direct ColorPalette/Typography refs with theme tokens in all feature views
  ios/AIQ/Features/Auth/Views/RegistrationView.swift
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Features/Dashboard/Views/DashboardActionButton.swift
  ios/AIQ/Features/Dashboard/Views/DashboardView.swift
  ios/AIQ/Features/Dashboard/Views/DashboardWelcomeHeader.swift
  ios/AIQ/Features/Dashboard/Views/InProgressTestCard.swift
  ios/AIQ/Features/Dashboard/Views/OnboardingSkippedInfoCard.swift
  ios/AIQ/Features/History/Views/InsightsCardView.swift
  ios/AIQ/Features/Onboarding/Views/OnboardingContainerView.swift
  ios/AIQ/Features/Onboarding/Views/Pages/OnboardingPage1View.swift
  ios/AIQ/Features/Onboarding/Views/Pages/OnboardingPage2View.swift
  ios/AIQ/Features/Onboarding/Views/Pages/OnboardingPage3View.swift
  ios/AIQ/Features/Onboarding/Views/Pages/OnboardingPage4View.swift
  ios/AIQ/Features/Onboarding/Views/PrivacyConsentView.swift
  ios/AIQ/Features/Settings/Views/FeedbackView.swift
  ios/AIQ/Features/Test/Views/DomainScoresView.swift
  ios/AIQ/Features/Test/Views/PercentileCard.swift
  ios/AIQ/Features/Test/Views/ScoreBreakdownView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
Due: swiftlint, swiftformat

[TASK-245] Apply review fixes: migrate preview scaffolding from ColorPalette to DefaultTheme tokens
  ios/AIQ/Features/Dashboard/Views/InProgressTestCard.swift
  ios/AIQ/Features/Dashboard/Views/OnboardingSkippedInfoCard.swift
Due: swiftlint, swiftformat

[TASK-252] Replace stale get_session/close_session mocks with session_scope context manager mocks
  question-service/tests/integration/test_integration.py
Due: mypy-question-service, check-float-comparisons

[TASK-261] Replace FixedWindowStrategy.reset() None fallback with ValueError
  backend/app/ratelimit/strategies.py
Due: mypy-backend, check-magic-numbers

[TASK-263] Fix fixtures with answer options that are substrings of question text
  question-service/tests/integration/test_integration.py
Due: mypy-question-service, check-float-comparisons

[TASK-260] Add optional window param to RateLimiter.reset() and pass through to strategy
  backend/app/ratelimit/limiter.py
Due: mypy-backend, check-magic-numbers

[TASK-260] Add test verifying reset() with custom window clears FixedWindowStrategy state
  backend/tests/ratelimit/test_ratelimit_limiter.py
Due: mypy-backend, check-float-comparisons

[TASK-262] Add stat/gradient/backgroundGrouped tokens to ColorTokens and migrate call sites
  ios/AIQ/Features/Auth/Views/RegistrationView.swift
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Features/Onboarding/Views/Pages/OnboardingPage1View.swift
  ios/AIQ/Features/Onboarding/Views/Pages/OnboardingPage2View.swift
  ios/AIQ/Features/Onboarding/Views/Pages/OnboardingPage3View.swift
  ios/AIQ/Features/Onboarding/Views/PrivacyConsentView.swift
  ios/AIQ/Features/Test/Views/PercentileCard.swift
  ios/AIQ/Features/Test/Views/ScoreBreakdownView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Views/Components/BiometricLockView.swift
  ios/AIQ/Views/Components/RootView.swift
  ios/Packages/SharedKit/Sources/SharedKit/Design/Theme.swift
Due: swiftlint, swiftformat

[TASK-262] Migrate LoadingOverlay scoreGradient to theme.gradients.scoreGradient
  ios/Packages/SharedKit/Sources/SharedKit/Components/LoadingOverlay.swift
Due: swiftlint, swiftformat

[TASK-264] Replace ColorPalette.backgroundGrouped with DefaultTheme().colors.backgroundGrouped in preview blocks
  ios/AIQ/Features/Test/Views/DomainScoresView.swift
Due: swiftlint, swiftformat

[TASK-236] Replace delete account confirmationDialog with centered custom modal matching logout style
  ios/AIQ/Features/Settings/Views/SettingsView.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-265] Add reusable ConfirmationModal component to SharedKit
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Shared/Components/ConfirmationModal.swift
  ios/Packages/SharedKit/Sources/SharedKit/Components/ConfirmationModal.swift
Due: swiftlint, swiftformat

[TASK-265] Replace duplicated modals in SettingsView with ConfirmationModal
  ios/AIQ/Features/Settings/Views/SettingsView.swift
Due: swiftlint, swiftformat

[TASK-266] Add UI test for logout confirmation modal identifiers
  ios/AIQUITests/AccessibilityIdentifierTests.swift
Due: swiftlint, swiftformat

[TASK-243] Assert send_alert called with CRITICAL/SERVER_ERROR on 500
  backend/tests/observability/test_exception_handlers.py
Due: mypy-backend, check-float-comparisons

[TASK-249] Add tests for setTokens/setAccessToken/setRefreshToken mutation paths
  ios/Packages/APIClient/Tests/APIClientTests/AuthenticationMiddlewareTests.swift
Due: swiftlint, swiftformat

[TASK-249] Apply review fix: assert refresh token half of setTokens
  ios/Packages/APIClient/Tests/APIClientTests/AuthenticationMiddlewareTests.swift
Due: swiftlint, swiftformat

[TASK-256] Enable commented-out domain score assertions using domainScoresConverted
  ios/AIQTests/Models/TestResultTests.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
