Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-956] Add signpost instrumentation to login, token refresh, and logout (#965)
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-957] Replace time.sleep with deterministic time mocking in logout-all tests
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons

[TASK-957] Replace time.sleep with deterministic time mocking in logout-all tests (#966)
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons

[TASK-958] Add push notification for logout-all security events
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/services/apns_service.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-958] Address PR review: use background thread for non-blocking notification
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-958] Use FastAPI BackgroundTasks for non-blocking notification
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-958] Add push notification for logout-all security events (#967)
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/services/apns_service.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-959] Add admin monitoring endpoint for logout-all events
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/core/security_monitoring.py
  backend/app/schemas/security_monitoring.py
  backend/tests/api/v1/admin/test_security_monitoring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-959] Add admin monitoring endpoint for logout-all events (#968)
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/core/security_monitoring.py
  backend/app/schemas/security_monitoring.py
  backend/tests/api/v1/admin/test_security_monitoring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-960] Distinguish logout success/failure in signpost logging
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-960] Distinguish logout success/failure in signpost logging (#969)
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-961] Add signpost instrumentation to deleteAccount operation
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-961] Add signpost instrumentation to deleteAccount operation (#970)
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-962] Add notification delivery tracking metrics
  backend/app/core/analytics.py
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-962] Address PR review: add user_id to notification analytics
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
  backend/tests/test_auth_logout_all.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-962] Add notification delivery tracking metrics (#971)
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/core/analytics.py
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
  backend/tests/test_auth_logout_all.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-963] Document aiq://login deep link handling in iOS app
  backend/app/services/apns_service.py
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/Views/Common/MainTabView.swift
Due: mypy-backend, check-magic-numbers, swiftlint, swiftformat

[TASK-963] Document aiq://login deep link handling in iOS app (#972)
  backend/app/services/apns_service.py
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/Views/Common/MainTabView.swift
Due: mypy-backend, check-magic-numbers, swiftlint, swiftformat

[TASK-964] Add error logging wrapper for APNs background tasks
  backend/app/services/apns_service.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-964] Add error logging wrapper for APNs background tasks (#973)
  backend/app/services/apns_service.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-966] Add pagination to logout-all monitoring endpoint
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/core/security_monitoring.py
  backend/app/schemas/security_monitoring.py
  backend/tests/api/v1/admin/test_security_monitoring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-966] Address review: remove redundant total_matching, clarify page-scoped fields
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/core/security_monitoring.py
  backend/app/schemas/security_monitoring.py
  backend/tests/api/v1/admin/test_security_monitoring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-966] Add pagination to logout-all monitoring endpoint (#974)
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/core/security_monitoring.py
  backend/app/schemas/security_monitoring.py
  backend/tests/api/v1/admin/test_security_monitoring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-967] Increase device token prefix from 8 to 12 characters in notification analytics
  backend/app/services/apns_service.py
  backend/tests/test_auth_logout_all.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-967] Increase device token prefix from 8 to 12 characters in notification analytics (#975)
  backend/app/services/apns_service.py
  backend/tests/test_auth_logout_all.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-968] Include error type in notification failure analytics
  backend/app/core/analytics.py
  backend/app/services/apns_service.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-968] Include error type in notification failure analytics (#976)
  backend/app/core/analytics.py
  backend/app/services/apns_service.py
  backend/tests/test_notification_delivery_tracking.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-969] Add error logging to send_test_reminder_notification
  backend/app/services/apns_service.py
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-969] Add error logging to send_test_reminder_notification (#977)
  backend/app/services/apns_service.py
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-970] Extract DEVICE_TOKEN_PREFIX_LENGTH constant in apns_service.py
  backend/app/services/apns_service.py
Due: mypy-backend, check-magic-numbers

[TASK-970] Add comment explaining DEVICE_TOKEN_PREFIX_LENGTH rationale
  backend/app/services/apns_service.py
Due: mypy-backend, check-magic-numbers

[TASK-970] Extract DEVICE_TOKEN_PREFIX_LENGTH constant in apns_service.py (#978)
  backend/app/services/apns_service.py
Due: mypy-backend, check-magic-numbers

[TASK-971] Add exception logging test for send_logout_all_notification
  .secrets.baseline
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons

[TASK-971] Add exception logging test for send_logout_all_notification (#979)
  .secrets.baseline
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons

[TASK-972] Add success and disconnect-on-error tests for send_logout_all_notification
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons

[TASK-972] Add device_token and sound assertions to success test
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons

[TASK-972] Add success and disconnect-on-error tests for send_logout_all_notification (#980)
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons

[TASK-973] Extract shared APNs mock setup to pytest fixture
  backend/tests/conftest.py
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons

[TASK-973] Extract shared APNs mock setup to pytest fixture (#981)
  backend/tests/conftest.py
  backend/tests/test_apns_service.py
Due: mypy-backend, check-float-comparisons

[TASK-938] Add unique constraint on Response(test_session_id, question_id)
  backend/alembic/versions/c9d0e1f2g3h4_add_unique_constraint_response_session_question.py
  backend/app/api/v1/test.py
  backend/app/models/models.py
  backend/tests/test_response_constraint.py
  backend/tests/test_run_irt_calibration.py
  backend/tests/test_time_analysis.py
  backend/tests/test_user.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
