Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

Add run-generation skill for question generation pipeline
  .claude/skills/run-generation/skill.md
Due: none

Improve error classification with SDK types and granular quota logging
  question-service/app/error_classifier.py
Due: mypy-question-service, check-magic-numbers

Improve question generation efficiency and add salvage phase
  question-service/app/generator.py
  question-service/app/prompts.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

Fix Google batch API response handling and add debug logging
  question-service/app/providers/google_provider.py
  question-service/scripts/bootstrap_inventory.py
Due: mypy-question-service, check-magic-numbers

Add stimulus field to GeneratedQuestion model
  question-service/app/models.py
  question-service/tests/test_models.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Add stimulus field to GeneratedQuestion model (#832)
  question-service/app/models.py
  question-service/tests/test_models.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Separate difficulty scoring from acceptance criteria
  .claude/skills/question-stats/skill.md
  .secrets.baseline
  question-service/app/cost_tracking.py
  question-service/app/database.py
  question-service/app/generator.py
  question-service/app/judge.py
  question-service/app/judge_config.py
  question-service/app/prompts.py
  question-service/app/providers/google_provider.py
  question-service/config/judges.yaml
  question-service/run_generation.py
  question-service/tests/test_database.py
  question-service/tests/test_judge.py
  question-service/tests/test_judge_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Add stimulus column to QuestionModel in database.py
  question-service/app/database.py
Due: mypy-question-service, check-magic-numbers

[TASK-727] Add stimulus column to backend and migration
  backend/alembic/versions/e89f401dea3b_add_stimulus_column_to_questions.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-727] Add stimulus field to QuestionResponse schema
  backend/app/schemas/questions.py
Due: mypy-backend, check-magic-numbers

[TASK-727] Add stimulus column to QuestionModel in database.py (#833)
  backend/alembic/versions/e89f401dea3b_add_stimulus_column_to_questions.py
  backend/app/models/models.py
  backend/app/schemas/questions.py
  question-service/app/database.py
Due: mypy-backend, mypy-question-service, check-magic-numbers

[TASK-728] Add tests for stimulus field in database insert methods
  question-service/tests/test_database.py
Due: mypy-question-service, check-float-comparisons

[TASK-732] Update memory question generation prompt for stimulus field
  question-service/app/prompts.py
Due: mypy-question-service, check-magic-numbers

[TASK-732] Update memory question generation prompt for stimulus field (#834)
  question-service/app/prompts.py
Due: mypy-question-service, check-magic-numbers

[TASK-733] Update JSON response format schema for stimulus field
  question-service/app/prompts.py
Due: mypy-question-service, check-magic-numbers

[TASK-733] Update JSON response format schema for stimulus field (#835)
  question-service/app/prompts.py
Due: mypy-question-service, check-magic-numbers

[TASK-734] Update judge prompt for two-phase memory questions
  question-service/app/judge.py
  question-service/app/prompts.py
  question-service/tests/test_prompts.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-734] Update judge prompt for two-phase memory questions (#836)
  question-service/app/judge.py
  question-service/app/prompts.py
  question-service/tests/test_prompts.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-735] Update generator question parsing for stimulus field
  question-service/app/generator.py
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-735] Update generator question parsing for stimulus field (#837)
  question-service/app/generator.py
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-736] Update regeneration prompt for stimulus field
  question-service/app/generator.py
  question-service/app/prompts.py
  question-service/tests/test_prompts.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-736] Update regeneration prompt for stimulus field (#838)
  question-service/app/generator.py
  question-service/app/prompts.py
  question-service/tests/test_prompts.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-737] Increment PROMPT_VERSION to 2.1
  question-service/app/database.py
Due: mypy-question-service, check-magic-numbers

[TASK-737] Address PR review: update tests and comment
  question-service/app/database.py
  question-service/tests/test_database.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-737] Increment PROMPT_VERSION to 2.1 (#839)
  question-service/app/database.py
  question-service/tests/test_database.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-738] Add unit tests for GeneratedQuestion stimulus field
  question-service/tests/test_models.py
Due: mypy-question-service, check-float-comparisons

[TASK-738] Add unit tests for GeneratedQuestion stimulus field (#840)
  question-service/tests/test_models.py
Due: mypy-question-service, check-float-comparisons

[TASK-739] Add unit tests for database operations with stimulus field
  .secrets.baseline
  question-service/tests/test_database.py
Due: mypy-question-service, check-float-comparisons

[TASK-739] Add unit tests for database operations with stimulus field (#841)
  .secrets.baseline
  question-service/tests/test_database.py
Due: mypy-question-service, check-float-comparisons

[TASK-740] Add unit tests for judge evaluation of memory questions
  .secrets.baseline
  question-service/tests/test_judge.py
Due: mypy-question-service, check-float-comparisons

[TASK-740] Add unit tests for judge evaluation of memory questions (#842)
  .secrets.baseline
  question-service/tests/test_judge.py
Due: mypy-question-service, check-float-comparisons

[TASK-741] Add end-to-end test results for memory question generation
  question-service/tests/results/TASK-741-memory-question-e2e-test.md
Due: none

[TASK-741] Add end-to-end test results for memory question generation (#843)
  question-service/tests/results/TASK-741-memory-question-e2e-test.md
Due: none

[TASK-742] Add backward compatibility tests for questions without stimulus field
  backend/tests/test_backward_compat_stimulus.py
Due: mypy-backend, check-float-comparisons

[TASK-742] Address PR review: Improve test clarity and documentation
  backend/tests/test_backward_compat_stimulus.py
Due: mypy-backend, check-float-comparisons

[TASK-742] Add backward compatibility tests for questions without stimulus field (#844)
  backend/tests/test_backward_compat_stimulus.py
Due: mypy-backend, check-float-comparisons

[TASK-744] Add stimulus field to API question responses
  backend/app/core/question_utils.py
  backend/tests/test_api_stimulus_response.py
  backend/tests/test_backward_compat_stimulus.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-744] Add stimulus field to API question responses (#845)
  backend/app/core/question_utils.py
  backend/tests/test_api_stimulus_response.py
  backend/tests/test_backward_compat_stimulus.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-745] Regenerate OpenAPI schema with stimulus field
  docs/api/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/openapi.json
Due: none

[TASK-745] Regenerate OpenAPI schema with stimulus field (#846)
  docs/api/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/openapi.json
Due: none
