Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-1176] Add granular retry tracking for notification sends
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
  backend/tests/notifications/test_apns_service.py
  backend/tests/notifications/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1176] Add granular retry tracking for notification sends (#1108)
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
  backend/tests/notifications/test_apns_service.py
  backend/tests/notifications/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-448] Create shared domain types package in libs/domain_types
  backend/app/api/v1/admin/generation.py
  backend/app/models/models.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/schemas/calibration.py
  backend/app/schemas/feedback.py
  backend/app/schemas/generation_runs.py
  libs/domain_types/__init__.py
  libs/domain_types/tests/__init__.py
  libs/domain_types/tests/test_domain_types.py
  question-service/app/models.py
Due: mypy-backend, mypy-question-service, check-magic-numbers

[TASK-448] Add cross-service identity test and remove stale noqa
  backend/app/models/models.py
  libs/domain_types/tests/test_domain_types.py
Due: mypy-backend, check-magic-numbers

Fix trailing whitespace in workflow files and Contents.json
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  ios/AIQ/Assets.xcassets/AppIcon.appiconset/Contents.json
Due: none

[TASK-448] Create shared domain types package (#1109)
  backend/app/api/v1/admin/generation.py
  backend/app/models/models.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/schemas/calibration.py
  backend/app/schemas/feedback.py
  backend/app/schemas/generation_runs.py
  libs/domain_types/__init__.py
  libs/domain_types/tests/__init__.py
  libs/domain_types/tests/test_domain_types.py
  question-service/app/models.py
Due: mypy-backend, mypy-question-service, check-magic-numbers

Fix trailing whitespace in workflow files and Contents.json (#1110)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  ios/AIQ/Assets.xcassets/AppIcon.appiconset/Contents.json
Due: none

Upgrade tusk CLI with versioning, migrations, progress tracking, and session stats
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-dashboard.py
  .claude/bin/tusk-dupes.py
  .claude/bin/tusk-session-stats.py
  .claude/settings.json
  .claude/skills/create-task/SKILL.md
  .claude/skills/next-task/SKILL.md
  .claude/skills/tusk-init/SKILL.md
  scripts/manage_dependencies.py
Due: none

Restructure backend and question-service READMEs, move loose scripts to scripts/
  .github/CI_CD_SETUP.md
  .github/workflows/backend-ci.yml
  .github/workflows/ios-ci.yml
  .secrets.baseline
  backend/README.md
  backend/docs/ADMIN_API.md
  backend/docs/ADMIN_DASHBOARD.md
  backend/docs/LOGGING.md
  backend/docs/RATE_LIMITING.md
  backend/docs/SECURITY_AUDIT.md
  backend/docs/VALIDITY_SYSTEM.md
  backend/scripts/export_openapi.py
  backend/scripts/run_cat_readiness.py
  backend/scripts/run_irt_calibration.py
  backend/tests/utils/test_export_openapi.py
  question-service/README.md
  question-service/docs/ALERTING.md
  question-service/docs/BOOTSTRAP.md
  question-service/docs/TRIGGER_SERVICE.md
  question-service/scripts/export_openapi.py
  question-service/scripts/infer_sub_types.py
  question-service/scripts/reevaluate_questions.py
  question-service/scripts/test_alerts.py
  question-service/test_google_api.py
  question-service/tests/evaluation/test_reevaluate.py
Due: mypy-backend, mypy-question-service, check-float-comparisons

Clean up root directory: relocate Railway cron configs, remove stale dirs
  README.md
  backend/railway-cron-calibration.json
  backend/railway-cron-readiness.json
  deployment/.env.railway.template
  question-service/railway-cron.json
  shared/README.md
Due: none

Add .mypy_cache/ to .gitignore
  .gitignore
Due: none

Move docs out of .github/, delete stale DEFERRED_REVIEW_ITEMS
  .claude/commands/review-pr-comments.md
  .github/DEFERRED_REVIEW_ITEMS.md
  .github/PULL_REQUEST_TEMPLATE.md
  .secrets.baseline
  CLAUDE.md
  docs/CI_CD_SETUP.md
  docs/DOCUMENTATION_PR_CHECKLIST.md
  docs/infrastructure/DEPENDABOT.md
Due: none

Remove dead weight scripts and stale plan doc
  .secrets.baseline
  docs/plans/bootstrap-inventory-improvements.md
  scripts/bootstrap_inventory.sh
  scripts/jira_to_sqlite.py
  scripts/log_utils.py
  scripts/migrate_backfill_null_task_types.sql
  scripts/migrate_normalize_domain_and_task_type.sql
  scripts/send_script_alert.py
  scripts/tests/README.md
  scripts/tests/__init__.py
  scripts/tests/test_bootstrap_inventory_sh.py
  scripts/tests/test_log_utils.py
  scripts/tests/test_parse_success_run.sh
  scripts/tests/test_write_per_type_metrics.sh
Due: none

Move Claude scripts to .claude/scripts/, delete orphaned scripts
  .claude/scripts/manage_dependencies.py
  .claude/skills/analysis-to-tasks/skill.md
  .claude/skills/groom-backlog/skill.md
  .claude/skills/manage-dependencies/skill.md
  .secrets.baseline
  scripts/assign_tasks_to_agents.py
  scripts/db_path.py
  scripts/md_section.py
Due: none

Move iOS scripts to ios/scripts/ and update references
  .secrets.baseline
  ios/AIQUITests/Screenshots/AppStoreScreenshotTests.swift
  ios/README.md
  ios/app-store/screenshots/README.md
  ios/scripts/generate-app-store-screenshots.sh
  ios/scripts/validate-universal-links.sh
Due: swiftlint, swiftformat

Update README project structure after directory cleanup
  README.md
Due: none

Add sync_readme_structure.py to detect README drift
  README.md
  scripts/sync_readme_structure.py
Due: none

Make sync_readme_structure.py directory-agnostic, add /check-directory-drift skill
  .claude/skills/check-directory-drift/skill.md
  scripts/sync_readme_structure.py
Due: none

Fix sync script false positives on anchor links
  scripts/sync_readme_structure.py
Due: none

Add directory tree to ios/README.md, add suffix exclusions to sync script
  ios/README.md
  scripts/sync_readme_structure.py
Due: none

Add directory tree to backend/README.md
  backend/README.md
Due: none

Add directory tree to question-service/README.md, fix sync script regex
  question-service/README.md
  scripts/sync_readme_structure.py
Due: none

Add check-directory-drift pre-commit hook
  .pre-commit-config.yaml
  ios/app-store/screenshots/README.md
  libs/observability/README.md
  scripts/sync_readme_structure.py
Due: none

Remove unused Procfile/start.sh, move cron configs to infra/
  backend/DEPLOYMENT.md
  backend/Procfile
  backend/infra/railway-cron-calibration.json
  backend/infra/railway-cron-readiness.json
  backend/start.sh
Due: none

Remove redundant files from question-service root
  .secrets.baseline
  question-service/.pre-commit-config.yaml
  question-service/CLAUDE.md
  question-service/Dockerfile
  question-service/README.md
  question-service/config/README.md
  question-service/docs/JUDGE_SELECTION.md
  question-service/docs/OPERATIONS.md
  question-service/examples/judge_config_example.py
  question-service/railway-cron.json
Due: mypy-question-service

Remove redundant .pre-commit-config.yaml from backend
  backend/.pre-commit-config.yaml
Due: none

Remove redundant files from ios root
  ios/.pre-commit-config.yaml
  ios/README.md
  ios/docs/APNS_SETUP.md
  ios/project.yml
Due: none

Drop passlib in favor of direct bcrypt for password hashing
  backend/.env.example
  backend/DEPLOYMENT.md
  backend/app/core/auth/security.py
  backend/app/core/config.py
  backend/docs/ADMIN_DASHBOARD.md
  backend/requirements.txt
Due: mypy-backend, check-magic-numbers

Add create_test_app() factory for middleware-free test clients
  .secrets.baseline
  backend/tests/conftest.py
  backend/tests/utils/test_validation.py
Due: mypy-backend, check-float-comparisons

Add create_test_app() factory for middleware-free test clients (#1111)
  .secrets.baseline
  backend/tests/conftest.py
  backend/tests/utils/test_validation.py
Due: mypy-backend, check-float-comparisons

Migrate all test files off singleton app import to create_test_app()
  .secrets.baseline
  backend/tests/admin/test_admin_auth.py
  backend/tests/admin/test_admin_background_jobs.py
  backend/tests/admin/test_admin_irt_calibration.py
  backend/tests/auth/test_auth_logout_all.py
  backend/tests/auth/test_auth_logout_revocation.py
  backend/tests/conftest.py
  backend/tests/db/test_db_instrumentation_integration.py
  backend/tests/observability/test_error_tracking.py
  backend/tests/observability/test_exception_handlers.py
  backend/tests/observability/test_metrics.py
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

Migrate all test files off singleton app import to create_test_app() (#1112)
  .secrets.baseline
  backend/tests/admin/test_admin_auth.py
  backend/tests/admin/test_admin_background_jobs.py
  backend/tests/admin/test_admin_irt_calibration.py
  backend/tests/auth/test_auth_logout_all.py
  backend/tests/auth/test_auth_logout_revocation.py
  backend/tests/conftest.py
  backend/tests/db/test_db_instrumentation_integration.py
  backend/tests/observability/test_error_tracking.py
  backend/tests/observability/test_exception_handlers.py
  backend/tests/observability/test_metrics.py
  backend/tests/observability/test_observability_hardening.py
Due: mypy-backend, check-float-comparisons

Move root / endpoint inside create_application()
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

Move root / endpoint inside create_application() (#1113)
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

Add safe_background_task wrapper for consistent exception handling
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/core/background_tasks.py
  backend/app/services/notification_scheduler.py
  backend/tests/core/test_background_tasks.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1190] Address PR review: add repr fallback test, log metrics failures
  backend/app/core/background_tasks.py
  backend/tests/core/test_background_tasks.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1190] Add safe_background_task wrapper for consistent exception handling (#1114)
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/core/background_tasks.py
  backend/app/services/notification_scheduler.py
  backend/tests/core/test_background_tasks.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-939] Add composite index on Response(test_session_id, id) for CAT replay
  backend/alembic/versions/b2c3d4e5f6g7_add_response_session_id_covering_index.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers
