Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-879] Add POST /v1/test/next endpoint for adaptive (CAT) test delivery
  .secrets.baseline
  backend/app/api/v1/test.py
  backend/app/core/error_responses.py
  backend/app/schemas/test_sessions.py
  backend/tests/test_adaptive_next.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-879] Address PR review: flush, logging, and comments
  backend/app/api/v1/test.py
Due: mypy-backend, check-magic-numbers

[TASK-879] Add CATSession type hint to _finalize_adaptive_session
  backend/app/api/v1/test.py
Due: mypy-backend, check-magic-numbers

[TASK-879] Add POST /v1/test/next endpoint for adaptive CAT delivery (#952)
  .secrets.baseline
  backend/app/api/v1/test.py
  backend/app/core/error_responses.py
  backend/app/schemas/test_sessions.py
  backend/tests/test_adaptive_next.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-880] Add GET /v1/test/progress endpoint for adaptive CAT progress tracking
  backend/app/api/v1/test.py
  backend/app/schemas/test_sessions.py
  backend/tests/test_test_progress.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-880] Address PR review: make current_se required field
  backend/app/schemas/test_sessions.py
Due: mypy-backend, check-float-comparisons

[TASK-880] Add GET /v1/test/progress endpoint for adaptive CAT progress tracking (#953)
  backend/app/api/v1/test.py
  backend/app/schemas/test_sessions.py
  backend/tests/test_test_progress.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-881] Regenerate OpenAPI spec for adaptive CAT endpoints
  docs/api/openapi.json
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/openapi.json
Due: none

[TASK-881] Regenerate OpenAPI spec for adaptive CAT endpoints (#954)
  docs/api/openapi.json
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/openapi.json
Due: none

[TASK-882] Refactor TestTakingViewModel for adaptive CAT testing
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Utilities/Helpers/Constants.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/ViewModels/AdaptiveTestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-882] Address PR review: extract magic number, add retry guard
  ios/AIQ/Utilities/Helpers/Constants.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/AIQTests/ViewModels/AdaptiveTestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-882] Refactor TestTakingViewModel for adaptive CAT testing (#955)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Utilities/Helpers/Constants.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/ViewModels/AdaptiveTestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-883] Add AdaptiveTestView and AdaptiveProgressHeader for CAT testing
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Test/AdaptiveProgressHeader.swift
  ios/AIQ/Views/Test/AdaptiveTestView.swift
Due: swiftlint, swiftformat

[TASK-883] Address PR review: fix timer race condition, optimize domains
  ios/AIQ/Views/Test/AdaptiveTestView.swift
Due: swiftlint, swiftformat

[TASK-883] Address follow-up review: error UI, submit guard, incremental domains
  ios/AIQ/Views/Test/AdaptiveTestView.swift
Due: swiftlint, swiftformat

[TASK-883] Address review round 3: alert navigation, submit guard, timer cleanup
  ios/AIQ/Views/Test/AdaptiveTestView.swift
Due: swiftlint, swiftformat

[TASK-883] Address review round 4: exit message, guard comment, domain docs
  ios/AIQ/Views/Test/AdaptiveTestView.swift
Due: swiftlint, swiftformat

[TASK-883] iOS: Implement AdaptiveTestView UI for adaptive CAT testing (#956)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Test/AdaptiveProgressHeader.swift
  ios/AIQ/Views/Test/AdaptiveTestView.swift
Due: swiftlint, swiftformat

[TASK-884] iOS: Add routing for adaptive test flow gated by feature flag
  ios/AIQ/Services/Navigation/AppRouter.swift
  ios/AIQ/Views/Common/MainTabView.swift
  ios/AIQ/Views/Dashboard/DashboardView.swift
Due: swiftlint, swiftformat

[TASK-884] Add unit tests for adaptive routing logic
  ios/AIQTests/Views/DashboardNavigationTests.swift
Due: swiftlint, swiftformat

[TASK-884] iOS: Implement backward compatibility for fixed-form and adaptive test flows (#957)
  ios/AIQ/Services/Navigation/AppRouter.swift
  ios/AIQ/Views/Common/MainTabView.swift
  ios/AIQ/Views/Dashboard/DashboardView.swift
  ios/AIQTests/Views/DashboardNavigationTests.swift
Due: swiftlint, swiftformat

[TASK-516] Enable rate limiting by default to protect new deployments
  backend/.env.example
  backend/DEPLOYMENT.md
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-516] Enable rate limiting by default to protect new deployments (#958)
  backend/.env.example
  backend/DEPLOYMENT.md
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-524] Add token blacklist admin endpoint for monitoring
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/token_blacklist.py
  backend/app/schemas/token_blacklist.py
  backend/tests/test_admin_token_blacklist.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-524] Add token blacklist admin endpoint for monitoring (#959)
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/token_blacklist.py
  backend/app/schemas/token_blacklist.py
  backend/tests/test_admin_token_blacklist.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-599] Remove retired grok-beta model from xAI provider
  question-service/app/cost_tracking.py
  question-service/app/providers/xai_provider.py
  question-service/config/generators.yaml
  question-service/config/judges.yaml
  question-service/tests/providers/test_xai_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-271] Add registration timing instrumentation and normalize timeout
  .secrets.baseline
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQUITests/Helpers/RegistrationHelper.swift
Due: swiftlint, swiftformat

[TASK-271] Add registration timing instrumentation and normalize timeout (#960)
  .secrets.baseline
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQUITests/Helpers/RegistrationHelper.swift
Due: swiftlint, swiftformat

[TASK-526] Add POST /v1/auth/logout-all endpoint for revoking all tokens
  .secrets.baseline
  backend/alembic/versions/b8c9d0e1f2g3_add_token_revoked_before_to_users.py
  backend/app/api/v1/auth.py
  backend/app/core/auth.py
  backend/app/core/security.py
  backend/app/models/models.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-526] Address PR review: add index and rate limiting
  backend/alembic/versions/b8c9d0e1f2g3_add_token_revoked_before_to_users.py
  backend/app/core/auth.py
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

[TASK-526] Address PR review: fix race condition and timestamp precision
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-526] Address PR review: dialect-aware migration and db.get consistency
  backend/alembic/versions/b8c9d0e1f2g3_add_token_revoked_before_to_users.py
  backend/app/core/auth.py
Due: mypy-backend, check-magic-numbers

[TASK-526] Add logout from all devices endpoint (#961)
  .secrets.baseline
  backend/alembic/versions/b8c9d0e1f2g3_add_token_revoked_before_to_users.py
  backend/app/api/v1/auth.py
  backend/app/core/auth.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/models/models.py
  backend/tests/test_auth_logout_all.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-953] Add rate limiting note to backend README setup section
  backend/README.md
Due: none

[TASK-953] Add rate limiting note to backend README setup section (#962)
  backend/README.md
Due: none

[TASK-954] Add integration test for RATE_LIMIT_ENABLED toggle behavior
  backend/tests/test_ratelimit_middleware.py
Due: mypy-backend, check-float-comparisons

[TASK-954] Add integration test for RATE_LIMIT_ENABLED toggle behavior (#963)
  backend/tests/test_ratelimit_middleware.py
Due: mypy-backend, check-float-comparisons

[TASK-955] Add storage_type property to TokenBlacklist for encapsulation
  backend/app/api/v1/admin/token_blacklist.py
  backend/app/core/token_blacklist.py
  backend/tests/test_admin_token_blacklist.py
  backend/tests/test_token_blacklist.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-955] Add storage_type property to TokenBlacklist for encapsulation (#964)
  backend/app/api/v1/admin/token_blacklist.py
  backend/app/core/token_blacklist.py
  backend/tests/test_admin_token_blacklist.py
  backend/tests/test_token_blacklist.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-956] Add signpost instrumentation to login, token refresh, and logout
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat
