Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-631] Address PR review: improve database error guidance
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-631] Add exit code handling guidance to generate-questions-by-type skill (#800)
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-645] Add API key documentation links to generate-questions-by-type skill
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-645] Add API key documentation links to generate-questions-by-type skill (#801)
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

Add SENTRY_DSN env var and update analysis docs
  backend/.env.example
  docs/analysis/2026-01-16-ios-code-quality.md
  docs/analysis/2026-01-17-api-contract-strategy.md
  docs/analysis/2026-01-20-iq-question-categories-analysis.md
  docs/analysis/2026-01-20-question-service-comprehensive-analysis.md
  docs/analysis/2026-01-22-launch-readiness-assessment.md
  docs/analysis/2026-01-25-alerting-service-health-monitoring.md
  docs/analysis/2026-01-25-question-generation-infrastructure-scalability.md
Due: none

[TASK-648] Add Sentry SDK integration for error tracking
  backend/app/core/config.py
  backend/app/main.py
  backend/requirements.txt
Due: mypy-backend, check-magic-numbers

[TASK-648] Add Sentry SDK integration for error tracking (#802)
  backend/app/core/config.py
  backend/app/main.py
  backend/requirements.txt
Due: mypy-backend, check-magic-numbers

[TASK-649] Add Railway webhook alerts documentation for Discord
  backend/DEPLOYMENT.md
  docs/operations/RAILWAY_WEBHOOK_ALERTS.md
Due: none

[TASK-649] Address PR review: Add security note for webhook URL
  docs/operations/RAILWAY_WEBHOOK_ALERTS.md
Due: none

[TASK-649] Add Railway webhook alerts documentation for Discord (#803)
  backend/DEPLOYMENT.md
  docs/operations/RAILWAY_WEBHOOK_ALERTS.md
Due: none

[TASK-653] Add explicit FastAPI/Starlette integrations to Sentry init
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

[TASK-653] Add explicit FastAPI/Starlette integrations to Sentry init (#804)
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

[TASK-654] Add validation for SENTRY_TRACES_SAMPLE_RATE
  backend/app/core/config.py
  backend/tests/core/test_settings_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-654] Add validation for SENTRY_TRACES_SAMPLE_RATE (#805)
  backend/app/core/config.py
  backend/tests/core/test_settings_validation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-655] Add tests for Sentry initialization
  backend/tests/core/test_sentry_initialization.py
Due: mypy-backend, check-float-comparisons

[TASK-655] Address PR review: Extract init_sentry function for testability
  backend/app/main.py
  backend/tests/core/test_sentry_initialization.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-655] Add tests for Sentry initialization (#806)
  backend/app/main.py
  backend/tests/core/test_sentry_initialization.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-658] Add preflight check for jq dependency in bootstrap script
  scripts/bootstrap_inventory.sh
Due: none

[TASK-658] Improve comment clarity for jq dependency check
  scripts/bootstrap_inventory.sh
Due: none

[TASK-658] Add preflight check for jq dependency in bootstrap script (#807)
  scripts/bootstrap_inventory.sh
Due: none

[TASK-659] Add real-time terminal output to bootstrap_inventory.sh
  scripts/bootstrap_inventory.sh
Due: none

[TASK-659] Add real-time terminal output to bootstrap_inventory.sh (#808)
  scripts/bootstrap_inventory.sh
Due: none

[TASK-660] Add real-time heartbeat parsing to extract progress signals
  scripts/bootstrap_inventory.sh
Due: none

[TASK-660] Address PR review: Fix pipe failure masking
  scripts/bootstrap_inventory.sh
Due: none

[TASK-660] Add real-time heartbeat parsing to extract progress signals (#809)
  scripts/bootstrap_inventory.sh
Due: none

[TASK-661] Add extract_last_error() function to parse log for failures
  scripts/log_utils.py
  scripts/tests/__init__.py
  scripts/tests/test_log_utils.py
Due: none

[TASK-661] Address PR review: extract constants and clarify logic
  scripts/log_utils.py
Due: none

[TASK-661] Add extract_last_error() function to parse log for failures (#810)
  scripts/log_utils.py
  scripts/tests/__init__.py
  scripts/tests/test_log_utils.py
Due: none

[TASK-662] Display extracted errors when type fails in bootstrap script
  scripts/bootstrap_inventory.sh
Due: none

[TASK-662] Display extracted errors when type fails in bootstrap script (#811)
  scripts/bootstrap_inventory.sh
Due: none

[TASK-663] Parse structured error from heartbeat JSON if available
  scripts/bootstrap_inventory.sh
Due: none

[TASK-663] Parse structured error from heartbeat JSON if available (#812)
  scripts/bootstrap_inventory.sh
Due: none

[TASK-664] Add log_event() function for JSONL event emission
  scripts/bootstrap_inventory.sh
Due: none

[TASK-664] Address PR review: use jq for JSON encoding
  scripts/bootstrap_inventory.sh
Due: none

[TASK-664] Add log_event() function for JSONL event emission (#813)
  scripts/bootstrap_inventory.sh
Due: none

[TASK-665] Log structured events for script start, type start, type end
  scripts/bootstrap_inventory.sh
Due: none

[TASK-665] Address PR review: paired type_start/type_end events
  scripts/bootstrap_inventory.sh
Due: none

[TASK-665] Standardize field name to target_per_type
  scripts/bootstrap_inventory.sh
Due: none

[TASK-665] Add script_end event for lifecycle completion
  scripts/bootstrap_inventory.sh
Due: none

[TASK-665] Log structured events for script start, type start, type end (#814)
  scripts/bootstrap_inventory.sh
Due: none
