Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-749] Fix exhaustive switch for logout API response
  ios/AIQ/Services/API/OpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-749] Fix exhaustive switch for logout API response (#847)
  ios/AIQ/Services/API/OpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-750] Create MemoryQuestionView component
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQ/en.lproj/Localizable.strings
  ios/AIQTests/Views/MemoryQuestionViewTests.swift
Due: swiftlint, swiftformat

[TASK-750] Create MemoryQuestionView component (#848)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQ/en.lproj/Localizable.strings
  ios/AIQTests/Views/MemoryQuestionViewTests.swift
Due: swiftlint, swiftformat

[TASK-751] Update QuestionCardView for memory questions
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-751] Update QuestionCardView for memory questions (#849)
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-752] Add unit tests for MemoryQuestionView phase transitions and state management
  ios/AIQTests/Views/MemoryQuestionViewTests.swift
Due: swiftlint, swiftformat

[TASK-752] Address PR review: remove Mirror-based tests
  ios/AIQTests/Views/MemoryQuestionViewTests.swift
Due: swiftlint, swiftformat

[TASK-752] Add unit tests for MemoryQuestionView (#850)
  ios/AIQTests/Views/MemoryQuestionViewTests.swift
Due: swiftlint, swiftformat

[TASK-753] Add stimulus field sample data to MockDataFactory
  ios/AIQ/Models/MockDataFactory.swift
Due: swiftlint, swiftformat

[TASK-753] Add stimulus field sample data to MockDataFactory (#851)
  ios/AIQ/Models/MockDataFactory.swift
Due: swiftlint, swiftformat

[TASK-755] Add memory question stimulus validation and bug fixes
  question-service/app/generator.py
  question-service/app/prompts.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-755] Address PR review: improve stimulus validation and add tests
  question-service/app/generator.py
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-755] Generate production batch of memory questions (#852)
  question-service/app/generator.py
  question-service/app/prompts.py
  question-service/run_generation.py
  question-service/tests/test_generator.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-756] Add memory question approval rate monitoring report
  docs/operations/MEMORY_QUESTION_APPROVAL_MONITORING.md
Due: none

[TASK-756] Address PR review: improve SQL query safety
  docs/operations/MEMORY_QUESTION_APPROVAL_MONITORING.md
Due: none

[TASK-756] Monitor memory question approval rates (#853)
  docs/operations/MEMORY_QUESTION_APPROVAL_MONITORING.md
Due: none

[TASK-757] Document memory question approval rate comparison
  docs/plans/memory-question-two-phase-model.md
Due: none

[TASK-757] Document memory question approval rate comparison (#854)
  docs/plans/memory-question-two-phase-model.md
Due: none

[TASK-759] Document memory question project findings and archive
  docs/plans/memory-question-two-phase-model.md
Due: none

[TASK-759] Document memory question project findings and archive (#855)
  docs/plans/memory-question-two-phase-model.md
Due: none

[TASK-763] Add model-level validation for stimulus field in memory questions
  .secrets.baseline
  question-service/app/models.py
  question-service/tests/test_judge.py
  question-service/tests/test_models.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-763] Add model-level validation for stimulus field in memory questions (#856)
  .secrets.baseline
  question-service/app/models.py
  question-service/tests/test_judge.py
  question-service/tests/test_models.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-764] Add generation prompt tests for stimulus field in memory questions
  question-service/tests/test_prompts.py
Due: mypy-question-service, check-float-comparisons

[TASK-764] Address PR review: remove redundant assertions, use dynamic type list
  question-service/tests/test_prompts.py
Due: mypy-question-service, check-float-comparisons

[TASK-764] Add tests for stimulus field in memory question prompts (#857)
  question-service/tests/test_prompts.py
Due: mypy-question-service, check-float-comparisons

[TASK-765] Add clarifying comments for stimulus template design in prompts.py
  question-service/app/prompts.py
Due: mypy-question-service, check-magic-numbers

[TASK-765] Add clarifying comments for stimulus template design in prompts.py (#858)
  question-service/app/prompts.py
Due: mypy-question-service, check-magic-numbers

[TASK-776] Persist memory question stimulus phase state during navigation
  ios/AIQ/Models/SavedTestProgress.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQ/Views/Test/TestTakingView.swift
  ios/AIQTests/Integration/ActiveSessionFlowIntegrationTests.swift
  ios/AIQTests/Storage/LocalAnswerStorageTests.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
  ios/AIQTests/Views/MemoryQuestionViewTests.swift
Due: swiftlint, swiftformat

[TASK-776] Address PR review: filter stimulusSeen by valid question IDs
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-776] Persist memory question stimulus phase state during navigation (#859)
  ios/AIQ/Models/SavedTestProgress.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQ/Views/Test/TestTakingView.swift
  ios/AIQTests/Integration/ActiveSessionFlowIntegrationTests.swift
  ios/AIQTests/Storage/LocalAnswerStorageTests.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
  ios/AIQTests/Views/MemoryQuestionViewTests.swift
Due: swiftlint, swiftformat

[TASK-774] Extract DifficultyBadge to shared reusable component
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Views/Common/DifficultyBadge.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQ/Views/Test/QuestionCardView.swift
  ios/AIQTests/Views/DifficultyBadgeTests.swift
Due: swiftlint, swiftformat

[TASK-774] Extract DifficultyBadge to shared reusable component (#860)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Views/Common/DifficultyBadge.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQ/Views/Test/QuestionCardView.swift
  ios/AIQTests/Views/DifficultyBadgeTests.swift
Due: swiftlint, swiftformat

[TASK-722] Use batch insertion in bootstrap_inventory.py
  question-service/app/database.py
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-722] Use batch insertion in bootstrap_inventory.py (#861)
  question-service/app/database.py
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-784] Add fallback_model field to GeneratorAssignment Pydantic model
  question-service/app/generator_config.py
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-784] Address PR review: add model validator for fallback_model
  question-service/app/generator_config.py
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-784] Add fallback_model field to GeneratorAssignment Pydantic model (#862)
  question-service/app/generator_config.py
  question-service/tests/test_generator_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-786] Add fallback_model configuration to all question types in generators.yaml
  question-service/config/generators.yaml
Due: none

[TASK-786] Add fallback_model configuration to all question types in generators.yaml (#863)
  question-service/config/generators.yaml
Due: none
