Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-135] skip generation loss alert during dry_run
  question-service/run_generation.py
Due: mypy-question-service

[TASK-137] document GENERATION_LOSS_THRESHOLD_PCT env var in OPERATIONS.md
  .secrets.baseline
  question-service/docs/OPERATIONS.md
Due: none

[TASK-138] update footer date and version in OPERATIONS.md
  question-service/docs/OPERATIONS.md
Due: none

[TASK-132] call report_run() in all non-success terminal paths
  question-service/run_generation.py
Due: mypy-question-service

[TASK-139] align EXIT_PARTIAL_FAILURE=3 with reporter.py, remove unused EXIT_CONFIG_ERROR
  question-service/run_generation.py
Due: mypy-question-service

[TASK-139] fix _determine_status() comments to reference correct exit code constants
  question-service/app/reporting/reporter.py
  question-service/tests/reporting/test_reporter.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-133] add parametrized status test and pg type name guard for generation-runs POST
  backend/tests/admin/test_admin.py
Due: mypy-backend, check-float-comparisons

[TASK-136] add test: send_notification fires when loss_pct > threshold
  question-service/tests/observability/test_generation_loss_alert.py
Due: mypy-question-service, check-float-comparisons

Upgrade tusk to v532
  .claude/bin/VERSION
  .claude/bin/config.default.json
  .claude/bin/tusk
  .claude/bin/tusk-config-tools.py
  .claude/bin/tusk-conventions.py
  .claude/bin/tusk-lint.py
  .claude/bin/tusk-migrate.py
  .claude/hooks/block-sql-neq.sh
  .claude/skills/address-issue/SKILL.md
  .claude/skills/retro/FULL-RETRO.md
  .claude/skills/retro/SKILL.md
  .claude/skills/review-commits/REVIEWER-PROMPT-cli.md
  .claude/skills/review-commits/REVIEWER-PROMPT-dashboard.md
  .claude/skills/review-commits/REVIEWER-PROMPT-docs.md
  .claude/skills/review-commits/REVIEWER-PROMPT-install.md
  .claude/skills/review-commits/REVIEWER-PROMPT-schema.md
  .claude/skills/review-commits/REVIEWER-PROMPT-skills.md
  .claude/skills/tusk-update/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none

[TASK-140] remove separate loss-alert email; surface warning in RunSummary details
  question-service/app/observability/alerting_adapter.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-140] rewrite loss alert tests to verify RunSummary warning fields
  question-service/tests/observability/test_generation_loss_alert.py
Due: mypy-question-service, check-float-comparisons

[TASK-140] Apply review fixes: restore resend_api_key, remove dead sys.path, add missing assert
  question-service/run_generation.py
  question-service/tests/observability/test_generation_loss_alert.py
Due: mypy-question-service, check-float-comparisons

remove duplicate hook entries from settings.json (refs gioe/tusk#421)
  .claude/settings.json
Due: none

Refresh providers: math→sonnet-4.5, verbal fallback→gemini-3.1 (Mar 2026)
  docs/MODEL_BENCHMARKS.md
  question-service/config/benchmark_scores.yaml
  question-service/config/generators.yaml
  question-service/config/judges.yaml
Due: none

[TASK-145] emit structured judge.evaluation_failure log line with provider/type/error
  question-service/app/evaluation/judge.py
Due: mypy-question-service, check-magic-numbers

[TASK-145] align structured log severity with surrounding error handlers
  question-service/app/evaluation/judge.py
Due: mypy-question-service, check-magic-numbers

[TASK-144] replace invalid claude-sonnet-4-5-20250929 with claude-sonnet-4-5-20251001 in generators.yaml
  question-service/config/generators.yaml
Due: none

[TASK-147] extract actual API error message from response body in error classifier
  question-service/app/infrastructure/error_classifier.py
Due: mypy-question-service, check-magic-numbers

[TASK-147] fix docstring and add unit tests for _extract_api_error_message
  question-service/app/infrastructure/error_classifier.py
  question-service/tests/infrastructure/test_retry.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-148] apply _extract_api_error_message to auth handlers in _classify_by_exception_type
  question-service/app/infrastructure/error_classifier.py
Due: mypy-question-service, check-magic-numbers

[TASK-148] apply _extract_api_error_message to 401/403 and 402 handlers in _classify_by_status_code
  question-service/app/infrastructure/error_classifier.py
Due: mypy-question-service, check-magic-numbers

[TASK-148] add unit tests for auth and billing error body extraction
  question-service/tests/infrastructure/test_retry.py
Due: mypy-question-service, check-float-comparisons

[TASK-148] add Google ClientError auth test from review feedback
  question-service/tests/infrastructure/test_retry.py
Due: mypy-question-service, check-float-comparisons

[TASK-149] cap api_msg detail suffix to 200 chars and add truncation tests
  question-service/app/infrastructure/error_classifier.py
  question-service/tests/infrastructure/test_retry.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-141] remove xai/grok-4 from judge fallback chain; replace with anthropic or google
  question-service/config/judges.yaml
  question-service/tests/evaluation/test_judge.py
Due: mypy-question-service, check-float-comparisons

[TASK-141] apply review feedback: fix fixture docstring and header comment
  question-service/config/judges.yaml
  question-service/tests/evaluation/test_judge.py
Due: mypy-question-service, check-float-comparisons

[TASK-150] update JUDGE_SELECTION.md: grok-4 removed, reflect 3-provider setup
  question-service/docs/JUDGE_SELECTION.md
Due: none

[TASK-150] update PERFORMANCE.md and ARCHITECTURE.md: reflect 3-provider judge setup
  question-service/docs/ARCHITECTURE.md
  question-service/docs/PERFORMANCE.md
Due: none

[TASK-150] update README.md: annotate xAI/grok-4 as credits exhausted
  question-service/README.md
Due: none

[TASK-152] include error_summary when total_errors > 0 even without classification
  question-service/app/reporting/reporter.py
  question-service/tests/reporting/test_reporter.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-143] Fix judge/generator model ID: 20251101 -> 20251001 across all config and code
  docs/MODEL_BENCHMARKS.md
  question-service/README.md
  question-service/app/observability/cost_tracking.py
  question-service/app/providers/anthropic_provider.py
  question-service/config/benchmark_scores.yaml
  question-service/config/generators.yaml
  question-service/config/judges.yaml
  question-service/docs/JUDGE_SELECTION.md
  question-service/docs/PERFORMANCE.md
  question-service/tests/evaluation/test_judge.py
  question-service/tests/generation/test_generator_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-153] add model ID validation test for judges.yaml and generators.yaml
  question-service/config/generators.yaml
  question-service/tests/config/test_model_ids.py
Due: mypy-question-service, check-float-comparisons

Remove analysis-to-tasks skill and docs/analysis directory
  .claude/skills/analysis-to-tasks/skill.md
  docs/analysis/2026-01-25-alerting-service-health-monitoring.md
  docs/analysis/2026-01-29-fallback-provider-model-support.md
  docs/analysis/2026-01-31-question-service-sentry-grafana-gap-analysis.md
Due: none

Upgrade tusk to v546
  .claude/bin/VERSION
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-lint.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-task-select.py
  .claude/bin/tusk-task-start.py
  .claude/bin/tusk-upgrade.py
  .claude/skills/address-issue/SKILL.md
  .claude/skills/investigate/SKILL.md
  .claude/skills/retro/FULL-RETRO.md
  .claude/skills/retro/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none

Upgrade tusk to v547
  .claude/bin/VERSION
  .claude/skills/investigate-directory/SKILL.md
Due: none

[TASK-157] Replace invalid claude-opus-4-5-20251001 with claude-opus-4-6 in judges.yaml, generators.yaml, and ANTHROPIC_MODELS
  question-service/app/providers/anthropic_provider.py
  question-service/config/generators.yaml
  question-service/config/judges.yaml
Due: mypy-question-service, check-magic-numbers

[TASK-161] Fix stale claude-opus-4-5-20251001 in benchmark_scores.yaml models list
  question-service/config/benchmark_scores.yaml
Due: none

[TASK-161] Update cost_tracking.py: add claude-opus-4-6, gemini-2.5-pro, gemini-3.1-pro-preview; remove stale claude-opus-4-5-20251001
  question-service/app/observability/cost_tracking.py
Due: mypy-question-service, check-magic-numbers

[TASK-161] Fix judge.py defaults: claude-sonnet-4-5->claude-sonnet-4-5-20250929, gemini-pro->gemini-2.5-pro
  question-service/app/evaluation/judge.py
Due: mypy-question-service, check-magic-numbers

[TASK-161] Fix generator.py defaults: claude-sonnet-4-5->claude-sonnet-4-5-20250929, gemini-3-pro-preview->gemini-3.1-pro-preview
  question-service/app/generation/generator.py
Due: mypy-question-service, check-magic-numbers
