Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-80] fix async error propagation in startAdaptiveTest and stale scenario count
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQTests/Utilities/DI/MockModeDetectorTests.swift
  ios/AIQTests/ViewModels/AdaptiveTestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-80] fix stale session timestamps and test assertion bugs in unit/integration tests
  .secrets.baseline
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQTests/Integration/ActiveSessionFlowIntegrationTests.swift
  ios/AIQTests/Services/AuthServiceTests.swift
  ios/AIQTests/Storage/DataCacheTests.swift
Due: swiftlint, swiftformat

[TASK-85] store init task and expose awaitInitialization() to eliminate Task.yield() workarounds
  .secrets.baseline
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQTests/Services/AuthServiceTests.swift
Due: swiftlint, swiftformat

[TASK-87] add awaitInitialization() to AuthServiceProtocol with default no-op extension
  ios/AIQ/Services/Auth/AuthServiceProtocol.swift
Due: swiftlint, swiftformat

[TASK-88] fix stimulusCard/continueButton missing from accessibility tree
  ios/AIQ/Features/Test/Views/MemoryQuestionView.swift
Due: swiftlint, swiftformat

[TASK-93] add accessibilityLabel to brain icon in WelcomeView
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
Due: swiftlint, swiftformat

[TASK-94] add .accessibilityElement(children: .contain) to questionPhase VStack
  ios/AIQ/Features/Test/Views/MemoryQuestionView.swift
Due: swiftlint, swiftformat

[TASK-89] fix questionCard accessibility tree visibility via overlay and type-agnostic queries
  ios/AIQ/Features/Test/Views/QuestionCardView.swift
  ios/AIQUITests/Helpers/TestTakingHelper.swift
  ios/AIQUITests/TestTakingFlowTests.swift
Due: swiftlint, swiftformat

[TASK-89] Apply review fixes: correct assertion messages and update stale comments
  ios/AIQ/Features/Test/Views/MemoryQuestionView.swift
  ios/AIQUITests/TestTakingFlowTests.swift
Due: swiftlint, swiftformat

[TASK-96] add waitForKeyboardFocus guard before typeText in login helper
  ios/AIQUITests/Helpers/LoginHelper.swift
Due: swiftlint, swiftformat

[TASK-90] increase Time's Up alert timeout from extendedTimeout to 30s; fix stale docstrings
  ios/AIQUITests/TestTakingAbandonmentFlowTests.swift
Due: swiftlint, swiftformat

[TASK-91] make testSuccessfulAuthDismissesLockAndShowsMainApp resilient to fast dismissal
  ios/AIQUITests/BiometricLockViewUITests.swift
Due: swiftlint, swiftformat

[TASK-92] fix history scrollView type query and onboarding relaunch scenario
  ios/AIQUITests/Screenshots/AppStoreScreenshotTests.swift
Due: swiftlint, swiftformat

[TASK-97] fix testCaptureOnboarding button identifier mismatch
  ios/AIQUITests/Screenshots/AppStoreScreenshotTests.swift
Due: swiftlint, swiftformat

[TASK-95] verify stimulusCard accessibility with .contain + UIViewRepresentable child
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

[TASK-99] update stale 'pure SwiftUI VStack' comments to explain descendants(matching:.any) rationale
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

[TASK-100] replace hardcoded timeout 5 with standardTimeout in assertStimulusPhaseReady
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

Upgrade tusk to v497
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-config-tools.py
  .claude/bin/tusk-lint.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-migrate.py
  .claude/bin/tusk-review.py
  .claude/skills/review-commits/REVIEWER-PROMPT.md
  .claude/skills/review-commits/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none

[TASK-102] upgrade google-genai SDK and add thinking_budget to fix gemini-2.5-pro HTTP 400 errors
  question-service/app/providers/google_provider.py
  question-service/config/generators.yaml
  question-service/config/judges.yaml
  question-service/requirements.txt
  question-service/tests/generation/test_generator_config.py
  question-service/tests/providers/test_google_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-104] populate questions_by_type and questions_by_difficulty from pipeline stats
  question-service/run_generation.py
Due: mypy-question-service

[TASK-105] replace gemini-3-pro-preview with gemini-3.1-pro-preview in benchmark_scores.yaml
  question-service/config/benchmark_scores.yaml
Due: none

[TASK-107] add test asserting by_difficulty populated from pipeline stats
  question-service/tests/reporting/test_run_summary.py
Due: mypy-question-service, check-float-comparisons

[TASK-86] fix AppStoreScreenshotTests: correct identifiers and flow
  ios/AIQUITests/Screenshots/AppStoreScreenshotTests.swift
Due: swiftlint, swiftformat

[TASK-103] add Google fallback when OpenAI quota exhausted in generate_embedding_safe and generate_embedding_with_fallback
  question-service/app/utils/embedding_utils.py
Due: mypy-question-service, check-magic-numbers

[TASK-103] propagate google_api_key to deduplicator and handle dimension mismatch for cross-provider comparisons
  question-service/app/data/deduplicator.py
Due: mypy-question-service, check-magic-numbers

[TASK-103] add unit tests for embedding fallback path
  question-service/app/data/database.py
  question-service/run_generation.py
  question-service/tests/utils/test_embedding_utils.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-106] add smoke tests for configured Google models reading from generators.yaml
  question-service/tests/integration/test_google_integration.py
Due: mypy-question-service, check-float-comparisons

[TASK-108] add cron-results skill with pipeline funnel, quality metrics, and breakdowns
  .claude/skills/cron-results/skill.md
Due: none

[TASK-109] build and attach run_summary to exception before raising RuntimeError on insertion failure
  question-service/run_generation.py
Due: mypy-question-service

[TASK-109] extract _build_run_stats() helper to eliminate duplicated 9-field stats dict
  question-service/run_generation.py
Due: mypy-question-service

[TASK-705] update gioe-libs deps to use domain-types extra
  backend/requirements.txt
  question-service/requirements.txt
Due: none

[TASK-112] replace RuntimeError duck-typing with typed InsertionError class
  question-service/run_generation.py
Due: mypy-question-service

[TASK-112] Apply review fixes: group RunSummary import with gioe_libs, drop forward-reference quotes
  question-service/run_generation.py
Due: mypy-question-service

[TASK-706] migrate backend and question-service to gioe-libs[domain-types]
  backend/requirements.txt
  question-service/requirements.txt
Due: none

[TASK-711] migrate ios-libs UI extensions to app target
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/AIQ/Features/History/Views/TestDetailView.swift
  ios/AIQ/Features/History/Views/TestHistoryListItem.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Models/ConfidenceInterval+Extensions.swift
  ios/AIQ/Models/Extensions/User+Extensions.swift
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQTests/Extensions/AIQAPIClientExtensionsTests.swift
  ios/docs/SWIFT_OPENAPI_INTEGRATION.md
Due: swiftlint, swiftformat

[TASK-711] register ConfidenceInterval+Extensions.swift in Xcode project
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

[TASK-711] fix UI tests to match in-progress card dashboard state
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQUITests/DashboardActionButtonUITests.swift
  ios/AIQUITests/DashboardInProgressCardUITests.swift
Due: swiftlint, swiftformat

[TASK-711] fix completionTimeFormatted test assertion for nil case
  ios/AIQTests/Models/TestSessionTests.swift
Due: swiftlint, swiftformat

[TASK-711] migrate ios-libs UI extensions to app target (#1149)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/AIQ/Features/History/Views/TestDetailView.swift
  ios/AIQ/Features/History/Views/TestHistoryListItem.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Models/ConfidenceInterval+Extensions.swift
  ios/AIQ/Models/Extensions/User+Extensions.swift
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQTests/Extensions/AIQAPIClientExtensionsTests.swift
  ios/AIQTests/Models/TestSessionTests.swift
  ios/AIQUITests/DashboardActionButtonUITests.swift
  ios/AIQUITests/DashboardInProgressCardUITests.swift
  ios/docs/SWIFT_OPENAPI_INTEGRATION.md
Due: swiftlint, swiftformat

[TASK-113] update ios-libs to v1.2.0: APIClient module now clean of UI extensions
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/CLAUDE.md
Due: none

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
