Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-422] Add total_cost_usd and avg_cost_per_question to Stats schema and aggregation endpoint
  backend/app/api/v1/admin/generation.py
  backend/app/schemas/generation_runs.py
Due: mypy-backend, check-magic-numbers

[TASK-422] Extract summary cost data in reporter _transform_metrics_to_payload
  question-service/app/reporting/reporter.py
Due: mypy-question-service, check-magic-numbers

[TASK-421] Add leakage_score to EvaluationScore model and parse it from judge response
  question-service/app/data/models.py
  question-service/app/evaluation/judge.py
Due: mypy-question-service, check-magic-numbers

[TASK-421] Auto-reject questions with leakage_score <= 0.1 with distinct logging and observability metric
  question-service/app/evaluation/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-421] Fix metrics to account for leakage rejections in approved flag
  question-service/app/evaluation/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-419] Add blind-solve, generator defense, and judge final ruling prompt builders
  question-service/app/generation/prompts.py
Due: mypy-question-service, check-magic-numbers

[TASK-419] Add verify_answer and verify_answer_async methods to QuestionJudge with full adversarial flow
  question-service/app/evaluation/judge.py
Due: mypy-question-service, check-magic-numbers

[TASK-419] Integrate answer verification into judge phase runner with fail-open error handling
  question-service/app/evaluation/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-419] Add answer_verified and verification_details fields to EvaluationScore model
  question-service/app/data/models.py
Due: mypy-question-service, check-magic-numbers

[TASK-419] Add answer_verification enabled/disabled config to judges.yaml and JudgeConfig
  question-service/app/config/judge_config.py
  question-service/config/judges.yaml
Due: mypy-question-service, check-magic-numbers

[TASK-419] Update secrets baseline for new prompt files
  .secrets.baseline
Due: none

[TASK-419] Apply review fixes: skip verification for single-option questions, case-insensitive answer comparison, fix approval metrics correction, add skipped verification metric
  .secrets.baseline
  question-service/app/evaluation/judge.py
  question-service/app/evaluation/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-423] Add comprehensive unit tests for adversarial answer verification
  question-service/tests/evaluation/test_answer_verification.py
Due: mypy-question-service, check-float-comparisons

[TASK-423] Apply review fixes: remove unused patch decorators, fix misleading docstring
  question-service/tests/evaluation/test_answer_verification.py
Due: mypy-question-service, check-float-comparisons

[TASK-420] Add answer correctness auditor with adversarial blind-solve verification
  question-service/app/data/answer_correctness_auditor.py
Due: mypy-question-service, check-magic-numbers

[TASK-420] Add post-generation correctness audit integration and CLI flag
  question-service/run_generation.py
Due: mypy-question-service

[TASK-420] Apply review fixes: add unit tests and optimize details list
  question-service/app/data/answer_correctness_auditor.py
  question-service/tests/data/test_answer_correctness_auditor.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-424] Add last_audited_at column to QuestionModel for audit timestamp tracking
  question-service/app/data/db_models.py
Due: mypy-question-service, check-magic-numbers

[TASK-424] Add incremental audit mode with audit_window_hours filtering and last_audited_at stamping
  question-service/app/data/answer_correctness_auditor.py
  question-service/tests/data/test_answer_correctness_auditor.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-424] Add --max-questions and --audit-window-hours CLI flags to run_generation.py
  question-service/run_generation.py
Due: mypy-question-service

[TASK-426] Map cost fields in create_generation_run endpoint so total_cost_usd is persisted
  backend/app/api/v1/admin/generation.py
Due: mypy-backend, check-magic-numbers

[TASK-427] Add standalone run_correctness_audit.py CLI entry point
  question-service/run_correctness_audit.py
Due: mypy-question-service

[TASK-428] Import and reset CostTracker at audit start, capture cost summary in results, log costs at completion
  question-service/app/data/answer_correctness_auditor.py
Due: mypy-question-service, check-magic-numbers

[TASK-428] Add AuditRunModel and Alembic migration for audit_runs table, log cost in CLI
  backend/alembic/versions/a1b2c3d4e5f6_add_audit_runs_table.py
  question-service/app/data/db_models.py
  question-service/run_correctness_audit.py
Due: mypy-backend, mypy-question-service, check-magic-numbers

[TASK-428] Update auditor tests for cost tracking integration
  question-service/tests/data/test_answer_correctness_auditor.py
Due: mypy-question-service, check-float-comparisons

[TASK-430] Add **kwargs to fake_urlopen mock to accept context kwarg from gioe_libs.alerting
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons

[TASK-431] Set leakage_score=1.0 in _make_evaluated mock so leakage check returns a numeric value above rejection threshold
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons

[TASK-429] Add track_costs() context manager for reusable cost tracking
  question-service/app/observability/cost_tracking.py
Due: mypy-question-service, check-magic-numbers

[TASK-429] Migrate benchmark module to use track_costs() abstraction
  question-service/app/evaluation/benchmark.py
  question-service/tests/reporting/test_benchmark.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-429] Migrate correctness audit pipeline to use track_costs() context manager
  question-service/app/data/answer_correctness_auditor.py
Due: mypy-question-service, check-magic-numbers

[TASK-432] Add dedicated unit tests for track_costs() context manager
  question-service/tests/infrastructure/test_cost_tracking.py
Due: mypy-question-service, check-float-comparisons

[TASK-433] Add migration script to create audit_runs table matching AuditRunModel schema
  question-service/scripts/migrate_create_audit_runs.py
Due: mypy-question-service

[TASK-434] Add PipelineRunModel to db_models.py for unified pipeline cost tracking
  question-service/app/data/db_models.py
Due: mypy-question-service, check-magic-numbers

[TASK-434] Add migration script for pipeline_runs table and apply to production
  question-service/scripts/migrate_create_pipeline_runs.py
Due: mypy-question-service

[TASK-434] Integrate pipeline_runs persistence into generation pipeline
  question-service/app/observability/pipeline_run.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-434] Integrate pipeline_runs persistence into correctness audit pipeline
  question-service/app/data/answer_correctness_auditor.py
  question-service/app/observability/pipeline_run.py
Due: mypy-question-service, check-magic-numbers

[TASK-434] Integrate pipeline_runs persistence into benchmark pipeline
  question-service/app/evaluation/benchmark.py
Due: mypy-question-service, check-magic-numbers

[TASK-434] Add track_costs() and pipeline_runs persistence to infer sub-types script
  question-service/scripts/infer_sub_types.py
Due: mypy-question-service

[TASK-434] Add track_costs() and pipeline_runs persistence to reevaluate questions script
  question-service/scripts/reevaluate_questions.py
Due: mypy-question-service

[TASK-434] Apply review fixes: replace track_costs().__enter__() with reset_cost_tracker()
  question-service/scripts/infer_sub_types.py
  question-service/scripts/reevaluate_questions.py
Due: mypy-question-service
