Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-455] Add Round up comment to abandon cooldown days_remaining for consistency
  backend/app/api/v1/test.py
Due: mypy-backend, check-magic-numbers

[TASK-456] Add abandonAnswerThreshold constant and exit modal accessibility identifiers
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Utilities/Helpers/Constants.swift
Due: swiftlint, swiftformat

[TASK-456] Replace OS exit alert with ConfirmationModal, branch messaging on substantive threshold
  ios/AIQ/Features/Test/Views/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-457] Replace OS exit alert with ConfirmationModal in AdaptiveTestView, use ViewModel exit state instead of local @State
  ios/AIQ/Features/Test/Views/AdaptiveTestView.swift
Due: swiftlint, swiftformat

[TASK-457] Replace OS exit alert with ConfirmationModal in GuestTestContainerView
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
Due: swiftlint, swiftformat

[TASK-457] Add exit modal accessibility identifiers for AdaptiveTestView and GuestTestContainerView
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-463] Fix guest token multi-worker race condition with Redis-backed token store
  CLAUDE.md
  backend/.env.example
  backend/DEPLOYMENT.md
  backend/app/api/v1/guest_test.py
  backend/app/core/config.py
  backend/app/main.py
  docs/architecture/OVERVIEW.md
Due: mypy-backend, check-magic-numbers

[TASK-458] Show exit modal at 0 answers in AdaptiveTestView, add lighter copy variant
  ios/AIQ/Features/Test/Views/AdaptiveTestView.swift
Due: swiftlint, swiftformat

[TASK-458] Apply same fix to GuestTestContainerView for parity
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
Due: swiftlint, swiftformat

[TASK-459] Disable NavigationStack swipe-back during active test
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Features/Test/Views/AdaptiveTestView.swift
  ios/AIQ/Views/Components/SwipeBackGestureBlocker.swift
Due: swiftlint, swiftformat

[TASK-460] Simplify PreTestInfoGate to only check hasSeenPreTestInfo
  ios/AIQ/Features/Dashboard/Views/DashboardView.swift
  ios/AIQ/Views/Components/PreTestInfoGate.swift
Due: swiftlint, swiftformat

[TASK-460] Update PreTestInfoGate tests for simplified signature
  ios/AIQTests/ViewModels/PreTestInfoGateTests.swift
Due: swiftlint, swiftformat

[TASK-464] Add TestExitConfirmationModifier and requestExitOrClose VM helper
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Features/Test/Views/TestExitConfirmationModifier.swift
Due: swiftlint, swiftformat

[TASK-464] Delegate both views to shared testExitConfirmation modifier
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Features/Test/Views/AdaptiveTestView.swift
  ios/AIQ/Features/Test/Views/TestExitConfirmationModifier.swift
Due: swiftlint, swiftformat

[TASK-465] Migrate TestTakingView to shared TestExitConfirmationModifier
  ios/AIQ/Features/Test/Views/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-461] Replace opacity-only exit modal transition with spring + scale
  ios/AIQ/Features/Test/Views/TestExitConfirmationModifier.swift
Due: swiftlint, swiftformat

[TASK-466] Apply spring/scale polish to SettingsView confirmation modals
  ios/AIQ/Features/Settings/Views/SettingsView.swift
Due: swiftlint, swiftformat

[TASK-467] Add ADMIN_TEST value to NotificationType enum
  aiq_types/__init__.py
Due: none

[TASK-467] Add POST /v1/admin/notifications/send-test endpoint
  backend/app/api/v1/admin/notifications.py
Due: mypy-backend, check-magic-numbers

[TASK-467] Add tests for send-test push endpoint
  backend/tests/admin/test_admin_notifications.py
Due: mypy-backend, check-float-comparisons

[TASK-467] Apply review fixes
  backend/app/api/v1/admin/notifications.py
  backend/tests/admin/test_admin_notifications.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-468] Add APNs launch-time and foreground re-registration hooks
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Services/Auth/NotificationManager.swift
  ios/AIQ/Services/Auth/NotificationManagerProtocol.swift
  ios/AIQ/Utilities/Mocks/UITestMockNotificationManager.swift
  ios/AIQTests/Mocks/MockNotificationManager.swift
Due: swiftlint, swiftformat

[TASK-468] Record Crashlytics error when device-token POST fails
  ios/AIQ/Services/Auth/NotificationManager.swift
Due: swiftlint, swiftformat

[TASK-468] Add unit tests for APNs launch hooks and Crashlytics recording
  ios/AIQTests/Services/NotificationManagerTests.swift
Due: swiftlint, swiftformat

[TASK-468] Replace APNs-flow print() with Logger for production diagnosis
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Services/Auth/NotificationManager.swift
Due: swiftlint, swiftformat

Switch aps-environment to match build configuration
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/AIQ.entitlements
Due: none

Fix fastlane beta lane and bump to v1.3-6
  .gitignore
  ios/AIQ/Info.plist
  ios/AIQ/Resources/WhatsNew.json
  ios/fastlane/Fastfile
  ios/fastlane/metadata/en-US/release_notes.txt
Due: none

Scope release notes to commits that touched ios/
  ios/fastlane/Fastfile
Due: none

Fix app_path value for changelog_from_git_commits
  ios/fastlane/Fastfile
Due: none

[TASK-470] Add OAuthIdentity model and migration for oauth_identities table
  backend/alembic/versions/oauth470_add_oauth_identities_table.py
  backend/app/models/__init__.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-470] Add OIDC identity-token verifier for Apple and Google
  backend/app/core/auth/oauth_verifier.py
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-470] Add POST /v1/auth/oauth/apple with account linking and 401 on invalid tokens
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/schemas/auth.py
Due: mypy-backend, check-magic-numbers

[TASK-470] Add POST /v1/auth/oauth/google endpoint
  .secrets.baseline
  backend/app/api/v1/auth.py
Due: mypy-backend, check-magic-numbers

[TASK-470] Add unit tests for OAuth token exchange endpoints
  backend/tests/auth/test_oauth.py
Due: mypy-backend, check-float-comparisons

[TASK-470] Apply review fixes
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/core/auth/oauth_verifier.py
  backend/app/main.py
  backend/tests/auth/test_oauth.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-470] Add test coverage from second-pass review
  backend/tests/auth/test_oauth.py
Due: mypy-backend, check-float-comparisons

[TASK-471] Add Apple OAuth token exchange in OpenAPIService and AuthService
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQ/Services/Auth/AuthServiceProtocol.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-471] Add loginWithApple through AuthManager and LoginViewModel with error mapping
  .secrets.baseline
  ios/AIQ/Features/Auth/ViewModels/LoginViewModel.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Services/Auth/AuthManagerProtocol.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQTests/Mocks/MockAuthManager.swift
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
  ios/AIQTests/ViewModels/LoginViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-471] Add Sign in with Apple button to WelcomeView with entitlement and handler
  .secrets.baseline
  ios/AIQ/AIQ.entitlements
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
