Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-525] Add refresh token revocation on logout
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/schemas/auth.py
  backend/tests/test_auth_logout_revocation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-525] Add refresh token revocation on logout (#784)
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/schemas/auth.py
  backend/tests/test_auth_logout_revocation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-163] Add warning for extra path components in deep links
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
Due: swiftlint, swiftformat

[TASK-163] Address PR review: Use .auto privacy for URL logging
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
Due: swiftlint, swiftformat

[TASK-163] Add warning for extra path components in deep links (#785)
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
Due: swiftlint, swiftformat

[TASK-616] Use Body(None) for optional logout request parameter
  backend/app/api/v1/auth.py
Due: mypy-backend, check-magic-numbers

[TASK-616] Use Body(None) for optional logout request parameter (#786)
  backend/app/api/v1/auth.py
Due: mypy-backend, check-magic-numbers

[TASK-617] Add token type validation for refresh token in logout
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/tests/test_auth_logout_revocation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-617] Add token type validation for refresh token in logout (#787)
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/tests/test_auth_logout_revocation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-618] Tolerate extra path components in settings deep links
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/en.lproj/Localizable.strings
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
Due: swiftlint, swiftformat

[TASK-618] Tolerate extra path components in settings deep links (#788)
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/en.lproj/Localizable.strings
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
Due: swiftlint, swiftformat

[TASK-166] Remove emojis from CrashlyticsErrorRecorder DEBUG logging
  ios/AIQ/Utilities/Helpers/CrashlyticsErrorRecorder.swift
Due: swiftlint, swiftformat

[TASK-166] Address PR review: improve indentation alignment
  ios/AIQ/Utilities/Helpers/CrashlyticsErrorRecorder.swift
Due: swiftlint, swiftformat

[TASK-166] Remove emojis from CrashlyticsErrorRecorder DEBUG logging (#789)
  ios/AIQ/Utilities/Helpers/CrashlyticsErrorRecorder.swift
Due: swiftlint, swiftformat

[TASK-623] Standardize DEBUG logging format across iOS codebase
  ios/AIQ/Services/API/APIClient.swift
  ios/AIQ/Services/API/NetworkLogger.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQ/Services/Auth/NotificationManager.swift
  ios/AIQ/Services/Storage/DataCache.swift
  ios/AIQ/ViewModels/DashboardViewModel.swift
  ios/AIQ/ViewModels/HistoryViewModel.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/AIQ/ViewModels/TestTimerManager.swift
Due: swiftlint, swiftformat

[TASK-623] Standardize DEBUG logging format across iOS codebase (#790)
  ios/AIQ/Services/API/APIClient.swift
  ios/AIQ/Services/API/NetworkLogger.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQ/Services/Auth/NotificationManager.swift
  ios/AIQ/Services/Storage/DataCache.swift
  ios/AIQ/ViewModels/DashboardViewModel.swift
  ios/AIQ/ViewModels/HistoryViewModel.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/AIQ/ViewModels/TestTimerManager.swift
Due: swiftlint, swiftformat

[TASK-624] Add generate-questions-by-type skill for local question generation
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-624] Address PR review: use relative paths instead of hardcoded paths
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-624] Add generate-questions-by-type skill for local question generation (#791)
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-625] Add GET /v1/admin/inventory-health endpoint
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/inventory.py
  backend/app/schemas/inventory.py
  backend/tests/api/v1/admin/test_inventory.py
  backend/tests/conftest.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-625] Add GET /v1/admin/inventory-health endpoint (#792)
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/inventory.py
  backend/app/schemas/inventory.py
  backend/tests/api/v1/admin/test_inventory.py
  backend/tests/conftest.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-626] Add bootstrap_inventory.sh for initial question generation
  question-service/README.md
  scripts/bootstrap_inventory.sh
Due: none

[TASK-626] Add bootstrap_inventory.sh for initial question generation (#793)
  question-service/README.md
  scripts/bootstrap_inventory.sh
Due: none

[TASK-627] Add --auto-balance flag to run_generation.py
  docs/analysis/2026-01-25-question-generation-infrastructure-scalability.md
  question-service/app/__init__.py
  question-service/app/inventory_analyzer.py
  question-service/app/pipeline.py
  question-service/run_generation.py
  question-service/tests/test_inventory_analyzer.py
  question-service/tests/test_pipeline.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-627] Address PR review: fix division by zero and improve type hints
  question-service/app/pipeline.py
Due: mypy-question-service, check-magic-numbers

[TASK-627] Add --auto-balance flag to run_generation.py (#794)
  docs/analysis/2026-01-25-question-generation-infrastructure-scalability.md
  question-service/app/__init__.py
  question-service/app/inventory_analyzer.py
  question-service/app/pipeline.py
  question-service/run_generation.py
  question-service/tests/test_inventory_analyzer.py
  question-service/tests/test_pipeline.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-628] Implement alerting for low inventory strata
  question-service/app/alerting.py
  question-service/app/error_classifier.py
  question-service/config/alerting.yaml
  question-service/run_generation.py
  question-service/tests/test_alerting.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-628] Implement alerting for low inventory strata (#795)
  question-service/app/alerting.py
  question-service/app/error_classifier.py
  question-service/config/alerting.yaml
  question-service/run_generation.py
  question-service/tests/test_alerting.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-629] Add Redis caching for embedding similarity lookups
  question-service/app/config.py
  question-service/app/deduplicator.py
  question-service/app/embedding_cache.py
  question-service/requirements.txt
  question-service/tests/test_deduplicator.py
  question-service/tests/test_embedding_cache.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-629] Wire Redis cache config into run_generation.py
  question-service/run_generation.py
Due: mypy-question-service

[TASK-629] Address PR review feedback
  question-service/app/deduplicator.py
  question-service/app/embedding_cache.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-629] Improve error tracking and handling
  question-service/app/embedding_cache.py
Due: mypy-question-service, check-magic-numbers

[TASK-629] Implement Redis caching for embedding similarity lookups (#796)
  question-service/app/config.py
  question-service/app/deduplicator.py
  question-service/app/embedding_cache.py
  question-service/requirements.txt
  question-service/run_generation.py
  question-service/tests/test_deduplicator.py
  question-service/tests/test_embedding_cache.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-636] Add input validation to bootstrap_inventory.sh
  scripts/bootstrap_inventory.sh
Due: none

[TASK-636] Add input validation to bootstrap_inventory.sh (#798)
  scripts/bootstrap_inventory.sh
Due: none

[TASK-630] Add prerequisites section to generate-questions-by-type skill
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-630] Address PR review: remove hardcoded user path
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-630] Add prerequisites section to generate-questions-by-type skill (#799)
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-631] Add exit code handling guidance to generate-questions-by-type skill
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

[TASK-631] Address PR review: remove unimplemented exit codes 5 and 6
  .claude/skills/generate-questions-by-type/SKILL.md
Due: none

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
