Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-398] Use timeTracker.totalElapsed for analytics duration instead of hardcoded 0
  ios/AIQ/Features/Test/ViewModels/QuestionTimeTracker.swift
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-398] Add token refresh retry to getActiveTest() and surface decode errors
  ios/AIQ/Services/API/OpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-398] Update userFullName doc comment to reflect missing name fields in generated schema
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-401] Add nullable fields to generated UserResponse schema (firstName, lastName, birthYear, educationLevel, country, region, lastLoginAt)
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Types.swift
Due: swiftlint, swiftformat

[TASK-401] Update userFullName to return constructed name from firstName/lastName instead of email fallback
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-400] Add reset() method to MockAdaptiveTestCoordinatorDelegate that clears all call-tracking booleans and captured parameters
  ios/AIQTests/ViewModels/AdaptiveTestCoordinatorTests.swift
Due: swiftlint, swiftformat

[TASK-402] Fix ModelSummary and DomainAccuracySummary init argument ordering
  ios/AIQTests/Views/AIComparisonCardTests.swift
Due: swiftlint, swiftformat

[TASK-402] Fix LeaderboardEntryResponse init argument ordering
  ios/AIQTests/Views/LeaderboardRowViewTests.swift
Due: swiftlint, swiftformat

[TASK-402] Fix LeaderboardEntryResponse, LeaderboardResponse, GroupMemberResponse, and GroupDetailResponse init ordering and add missing totalCount param
  ios/AIQTests/Views/GroupDetailViewLeaderboardTests.swift
Due: swiftlint, swiftformat

[TASK-402] Unwrap Optional Double values before XCTAssertEqual with accuracy
  ios/AIQTests/ViewModels/AdaptiveTestCoordinatorTests.swift
Due: swiftlint, swiftformat

[TASK-403] Add fullName, initials, approximateAge, locationDisplay, educationLevelDisplay computed properties to UserResponse and fix createUser helper
  ios/AIQ/Models/Extensions/User+Extensions.swift
  ios/AIQTests/Extensions/AIQAPIClientExtensionsTests.swift
Due: swiftlint, swiftformat

[TASK-403] Fix FeedbackSubmitResponse init parameter order (success, submissionId, message)
  ios/AIQTests/ViewModels/FeedbackViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-403] Fix init argument ordering and missing member errors across all test files for OpenAPI schema regeneration
  .secrets.baseline
  ios/AIQTests/Extensions/AIQAPIClientExtensionsTests.swift
  ios/AIQTests/Integration/ActiveSessionFlowIntegrationTests.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/Models/PerformanceInsightsTests.swift
  ios/AIQTests/Models/QuestionTests.swift
  ios/AIQTests/Models/TestResultTests.swift
  ios/AIQTests/Models/TestSessionTests.swift
  ios/AIQTests/Models/UserTests.swift
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
  ios/AIQTests/Services/AuthServiceTests.swift
  ios/AIQTests/Services/NotificationServiceTests.swift
  ios/AIQTests/ViewModels/AdaptiveTestTakingViewModelTests.swift
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
  ios/AIQTests/ViewModels/HistoryViewModelTests.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
  ios/AIQTests/Views/IQTrendChartTests.swift
Due: swiftlint, swiftformat

[TASK-403] Fix percentileFormatted assertions to expect nil (percentileRank removed from schema)
  ios/AIQTests/Models/TestSessionTests.swift
Due: swiftlint, swiftformat

[TASK-404] Remove vacuous and misleadingly-named test methods left over from OpenAPI schema field removals
  ios/AIQTests/Models/QuestionTests.swift
  ios/AIQTests/Models/TestSessionTests.swift
  ios/AIQTests/Models/UserTests.swift
Due: swiftlint, swiftformat

[TASK-405] Clip ZStack to prevent grid overlay from intercepting header touches during removal animation
  ios/AIQ/Features/Test/Views/TestContentLayout.swift
Due: swiftlint, swiftformat

[TASK-406] Remove redundant internal animation system from TimeWarningBanner — dismiss calls onDismiss() directly, parent .bannerSlideTransition() handles all animation
  ios/AIQ/Features/Test/Views/TimeWarningBanner.swift
Due: swiftlint, swiftformat

[TASK-407] Add unit tests for question grid toggle binding cycles and onQuestionTap closure
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/Views/QuestionNavigationGridToggleTests.swift
Due: swiftlint, swiftformat

[TASK-407] Add XCUITests for grid toggle cycling and header touch interception
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQUITests/QuestionGridToggleUITests.swift
Due: swiftlint, swiftformat

[TASK-409] Register AnalyticsManagerProtocol in MockServiceConfiguration — AppDelegate resolves it at init, causing fatalError crash in mock mode
  ios/AIQ/Utilities/DI/MockServiceConfiguration.swift
Due: swiftlint, swiftformat

[TASK-410] Add app-state assertion after app.launch() in setUpWithError and relaunchWithScenario
  ios/AIQUITests/Helpers/BaseUITest.swift
Due: swiftlint, swiftformat

[TASK-408] Add unit tests for time warning banner dismiss handler and re-show guard
  ios/AIQTests/Views/TimeWarningBannerTests.swift
Due: swiftlint, swiftformat

[TASK-408] Add timerNearWarning mock scenario and XCUITests for banner dismiss flow
  ios/AIQ/Utilities/DI/MockModeDetector.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQUITests/Helpers/BaseUITest.swift
  ios/AIQUITests/TimeWarningBannerUITests.swift
Due: swiftlint, swiftformat

[TASK-408] Add TimeWarningBannerUITests.swift to AIQUITests target
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

[TASK-408] Remove unused Combine import and cancellables property
  ios/AIQTests/Views/TimeWarningBannerTests.swift
Due: swiftlint, swiftformat

[TASK-411] Remove isFirstTest gate from notification soft prompt so it can appear after any test completion
  ios/AIQ/Features/Test/Views/AdaptiveTestView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Features/Test/Views/TestTakingView.swift
  ios/AIQ/Services/Navigation/AppRouter.swift
  ios/AIQ/Views/Components/MainTabView.swift
  ios/AIQTests/Services/AppRouterTests.swift
  ios/AIQTests/Views/DashboardNavigationTests.swift
  ios/AIQTests/Views/TestResultsViewTests.swift
Due: swiftlint, swiftformat

Show only first name in dashboard greeting instead of full name
  ios/AIQ/Features/Dashboard/Views/DashboardWelcomeHeader.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
Due: swiftlint, swiftformat

[TASK-412] New migration drops ix_test_sessions_user_active and recreates with WHERE status = 'IN_PROGRESS' AND user_id != -1
  backend/alembic/versions/1c8ff1d679b9_exempt_guest_user_from_active_session_.py
Due: mypy-backend

[TASK-412] Remove IntegrityError catch for guest starts and update stale cleanup comment — index now excludes guests
  backend/app/api/v1/guest_test.py
Due: mypy-backend, check-magic-numbers

[TASK-412] Add tests verifying concurrent guest starts succeed and auth users remain constrained
  backend/tests/api/v1/test_guest_test.py
Due: mypy-backend, check-float-comparisons

[TASK-413] Show Submit button alongside Next when all questions are answered on non-last questions
  ios/AIQ/Features/Test/Views/TestNavigationControls.swift
Due: swiftlint, swiftformat

[TASK-415] Add tag_release lane and call it from beta and release lanes; add generate_release_notes lane using last tag as diff anchor
  ios/fastlane/Fastfile
Due: none

[TASK-414] Enhance generate_release_notes lane with dedup, categorization, dual output, and 4000-char truncation
  ios/fastlane/Fastfile
Due: none

[TASK-417] Call generate_release_notes before bump_build_number in beta and release lanes
  ios/fastlane/Fastfile
Due: none

[TASK-417] Update fastlane-beta and fastlane-release skill docs with release notes step
  .claude/skills/fastlane-beta/skill.md
  .claude/skills/fastlane-release/skill.md
Due: none

[TASK-416] Add What's New section to settings screen with bundled JSON
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Settings/ViewModels/SettingsViewModel.swift
  ios/AIQ/Features/Settings/Views/SettingsView.swift
  ios/AIQ/Models/WhatsNew.swift
  ios/AIQ/Resources/WhatsNew.json
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-418] Add remote-notification to UIBackgroundModes in Info.plist
  ios/AIQ/Info.plist
Due: none

[TASK-422] Add cost tracking columns to QuestionGenerationRun model and Alembic migration
  backend/alembic/versions/97d79959f830_add_cost_tracking_to_question_generation_runs.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-422] Add cost fields to Create, Read, Detail schemas and wire Detail construction
  backend/app/api/v1/admin/generation.py
  backend/app/schemas/generation_runs.py
Due: mypy-backend, check-magic-numbers

[TASK-422] Add total_cost_usd to QuestionGenerationRunSummary for list view
  backend/app/schemas/generation_runs.py
Due: mypy-backend, check-magic-numbers

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
