Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

Replace prometheus-fastapi-instrumentator with OTEL FastAPI instrumentation
  libs/observability/facade.py
  libs/observability/otel_backend.py
  question-service/docs/RAILWAY_DEPLOYMENT.md
  question-service/infra/grafana/question-service-dashboard.json
  question-service/requirements.txt
  question-service/tests/test_trigger_server.py
  question-service/trigger_server.py
Due: mypy-question-service, check-float-comparisons

Wire dead business metrics to endpoint call sites
  .secrets.baseline
  backend/app/api/v1/admin/generation.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/test.py
  backend/tests/test_business_metrics_wiring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1132] Address PR review: fix division-by-zero and skip zero-count types
  backend/app/api/v1/admin/generation.py
Due: mypy-backend, check-magic-numbers

[TASK-1132] Wire dead business metrics to endpoint call sites (#1048)
  .secrets.baseline
  backend/app/api/v1/admin/generation.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/test.py
  backend/tests/test_business_metrics_wiring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Add test.sessions.duration histogram to record_test_completed
  backend/app/observability.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Add test.sessions.duration histogram to record_test_completed (#1049)
  backend/app/observability.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1134] Add IQ score distribution histogram metric
  backend/app/api/v1/test.py
  backend/app/observability.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1134] Address PR review: add input validation for IQ score range
  backend/app/observability.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1134] Address PR review: import IQ bounds from scoring module
  backend/app/observability.py
Due: mypy-backend, check-magic-numbers

[TASK-1134] Add IQ score distribution histogram metric (#1050)
  backend/app/api/v1/test.py
  backend/app/observability.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1135] Add auth login metrics
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/observability.py
  backend/tests/test_application_metrics.py
  backend/tests/test_business_metrics_wiring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1135] Add auth login metrics (#1051)
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/observability.py
  backend/tests/test_application_metrics.py
  backend/tests/test_business_metrics_wiring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1136] Add APNs notification delivery metrics
  backend/app/observability.py
  backend/app/services/apns_service.py
  backend/tests/test_apns_service.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1136] Add APNs notification delivery metrics (#1052)
  backend/app/observability.py
  backend/app/services/apns_service.py
  backend/tests/test_apns_service.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1137] Add backend Grafana dashboard
  backend/infra/grafana/backend-dashboard.json
Due: none

[TASK-1137] Address PR review: fix metric names and queries
  backend/infra/grafana/backend-dashboard.json
Due: none

[TASK-1137] Create backend Grafana dashboard (#1053)
  backend/infra/grafana/backend-dashboard.json
Due: none

[TASK-1138] Emit generation.failure counter metric to OTEL
  question-service/app/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-1138] Emit generation.failure counter metric to OTEL (#1054)
  question-service/app/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-1139] Emit judge.evaluation_score histogram metric to OTEL
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1139] Emit judge.evaluation_score histogram metric to OTEL (#1055)
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1140] Emit per-stage pipeline timing histograms to OTEL
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1140] Emit per-stage pipeline timing histograms to OTEL (#1056)
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1141] Emit dedup.by_type counter metric to OTEL
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1141] Add tests for dedup.by_type OTEL metric
  question-service/tests/test_run_generation_otel.py
Due: mypy-question-service, check-float-comparisons

[TASK-1141] Emit per-type dedup counter metric to OTEL (#1057)
  question-service/run_generation.py
  question-service/tests/test_run_generation_otel.py
Due: mypy-question-service, check-float-comparisons

[TASK-1142] Emit embedding cache hit/miss counters to OTEL
  question-service/run_generation.py
  question-service/tests/test_run_generation_otel.py
Due: mypy-question-service, check-float-comparisons

[TASK-1142] Emit embedding cache hit/miss counters to OTEL (#1058)
  question-service/run_generation.py
  question-service/tests/test_run_generation_otel.py
Due: mypy-question-service, check-float-comparisons

[TASK-1143] Add Pipeline Health row to Grafana dashboard
  question-service/infra/grafana/question-service-dashboard.json
Due: none

[TASK-1143] Address PR review: fix histogram quantile and zero-division
  question-service/infra/grafana/question-service-dashboard.json
Due: none

[TASK-1143] Add Pipeline Health row to Grafana dashboard (#1059)
  question-service/infra/grafana/question-service-dashboard.json
Due: none

[TASK-1144] Add validation for notification_type in record_notification metric
  backend/app/observability.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1144] Add validation for notification_type in record_notification metric (#1060)
  backend/app/observability.py
  backend/tests/test_application_metrics.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1145] Add difficulty label to generation.failure metric
  question-service/app/generator.py
  question-service/infra/grafana/question-service-dashboard.json
  question-service/tests/test_generator_otel.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1145] Add difficulty label to generation.failure metric (#1061)
  question-service/app/generator.py
  question-service/infra/grafana/question-service-dashboard.json
  question-service/tests/test_generator_otel.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1146] Document dedup.by_type metric in observability docs
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: none

[TASK-1146] Enumerate duplicate_type label values in metric docs
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: none

[TASK-1146] Document dedup.by_type metric in observability docs (#1062)
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: none

[TASK-1147] Replace hardcoded VALID_NOTIFICATION_TYPES with NotificationType enum
  backend/app/models/__init__.py
  backend/app/models/models.py
  backend/app/observability.py
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
Due: mypy-backend, check-magic-numbers

[TASK-1147] Replace hardcoded VALID_NOTIFICATION_TYPES with NotificationType enum (#1063)
  backend/app/models/__init__.py
  backend/app/models/models.py
  backend/app/observability.py
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
Due: mypy-backend, check-magic-numbers

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
