Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-339] Fix ScreenshotContainerView tests to match implementation design
  ios/Packages/AIQSharedKit/Tests/AIQSharedKitTests/Extensions/ScreenshotContainerViewTests.swift
Due: swiftlint, swiftformat

[TASK-341] Fix test assertion to expect fresh empty API result instead of nil cache
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

Fix Anthropic benchmark: add JSON prefill and temperature=0, update Gemini default model
  backend/app/services/llm_benchmark/providers.py
Due: mypy-backend, check-magic-numbers

Align benchmark defaults with actual question generation models
  backend/app/schemas/llm_benchmark.py
  backend/app/services/llm_benchmark/providers.py
  backend/app/services/llm_benchmark/runner.py
Due: mypy-backend, check-magic-numbers

Handle Opus models that don't support assistant prefill
  backend/app/services/llm_benchmark/providers.py
Due: mypy-backend, check-magic-numbers

[TASK-343] Add prose-embedded JSON extraction to _parse_answer_from_response for models without prefill
  backend/app/services/llm_benchmark/runner.py
Due: mypy-backend, check-magic-numbers

[TASK-343] Add unit tests for prose-wrapped JSON extraction
  backend/tests/services/llm_benchmark/test_runner.py
Due: mypy-backend, check-float-comparisons

[TASK-344] Replace per-vendor flat rate with per-model cost lookup for accurate cost-cap enforcement
  backend/app/services/llm_benchmark/runner.py
  backend/tests/services/llm_benchmark/test_runner.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-346] Add BenchmarkSet and BenchmarkSetQuestion models with migration
  backend/alembic/versions/a1b2c3d4e5f6_add_benchmark_set_tables.py
  backend/app/models/__init__.py
  backend/app/models/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-346] Add curation script for balanced benchmark question selection
  backend/scripts/curate_benchmark_set.py
Due: mypy-backend

[TASK-346] Add admin endpoints to create, list, and retrieve benchmark sets by name
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/benchmark_sets.py
  backend/app/schemas/benchmark_set.py
Due: mypy-backend, check-magic-numbers

[TASK-346] Apply review fixes: duplicate ID validation, DRY detail response helper, remove dead code
  backend/app/api/v1/admin/benchmark_sets.py
Due: mypy-backend, check-magic-numbers

[TASK-342] Add optional question_ids field to RunBenchmarkRequest with mutual exclusion validator
  backend/app/schemas/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-342] Add fixed question set mode to runner, bypassing stratified sampling when question_ids provided
  backend/app/services/llm_benchmark/runner.py
Due: mypy-backend, check-magic-numbers

[TASK-342] Add GET /question-set endpoint for balanced question selection and wire question_ids through POST /run
  backend/app/api/v1/admin/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-342] Add tests for fixed question set path, question-set endpoint, and mutual exclusion validation
  backend/tests/admin/test_admin_llm_benchmark.py
Due: mypy-backend, check-float-comparisons

[TASK-342] Apply review fixes: catch ValueError for invalid question_ids, reject duplicate IDs in schema
  backend/app/api/v1/admin/llm_benchmark.py
  backend/app/schemas/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-345] Add CI, sample size, domain breakdown, low-sample warning, and Cohen's d to compare endpoint
  backend/app/api/v1/admin/llm_benchmark.py
  backend/app/schemas/llm_benchmark.py
Due: mypy-backend, check-magic-numbers

[TASK-345] Add tests for CI calculation, domain breakdown, low-sample warning, and effect size
  backend/tests/admin/test_admin_llm_benchmark.py
Due: mypy-backend, check-float-comparisons

[TASK-347] Use t-distribution critical value for small-sample CIs (n<30) instead of hardcoded z=1.96
  backend/app/api/v1/admin/llm_benchmark.py
  backend/tests/admin/test_admin_llm_benchmark.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-348] Add benchmark_models.py script to benchmark all generator and judge models via the backend LLM benchmark API
  question-service/scripts/benchmark_models.py
Due: mypy-question-service

[TASK-348] Apply review fix: move import os to top-level imports
  question-service/scripts/benchmark_models.py
Due: mypy-question-service

Fix duplicate Alembic revision ID causing deployment failure
  backend/alembic/versions/75aa1726e3aa_add_benchmark_set_tables.py
Due: mypy-backend

Skip fallback/default models in benchmark by default
  question-service/scripts/benchmark_models.py
Due: mypy-question-service

Add Makefile targets and compare script for LLM benchmarks
  Makefile
  question-service/scripts/benchmark_compare.py
Due: mypy-question-service

[TASK-349] Add public GET /v1/benchmark/summary endpoint with user auth, per-model mean IQ, accuracy, and domain breakdown
  backend/app/api/v1/api.py
  backend/app/api/v1/benchmark.py
  backend/tests/api/test_benchmark_summary.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-349] Export updated OpenAPI spec and copy to iOS client package
  docs/api/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/openapi.json
Due: none

[TASK-351] Regenerate OpenAPI client with benchmark summary endpoint
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Client.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Types.swift
Due: swiftlint, swiftformat

[TASK-351] Add AI benchmark reference lines to IQ trend chart with distinct styling and labels
  ios/AIQ/Features/History/Views/ChartDomainCalculator.swift
  ios/AIQ/Features/History/Views/IQTrendChart.swift
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-351] Wire up benchmark data fetching in HistoryViewModel and HistoryView
  ios/AIQ/Features/History/ViewModels/HistoryViewModel.swift
  ios/AIQ/Features/History/Views/HistoryView.swift
Due: swiftlint, swiftformat

Update iOS CLAUDE.md with OpenAPI client regeneration workflow
  ios/CLAUDE.md
Due: none

[TASK-350] Add AIComparisonCard view and wire into TestResultsView
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Test/Views/AIComparisonCard.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
Due: swiftlint, swiftformat

[TASK-350] Add AIComparisonCard accessibility identifiers
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-350] Fix gauge marker overflow at IQ range boundaries
  ios/AIQ/Features/Test/Views/AIComparisonCard.swift
Due: swiftlint, swiftformat

[TASK-352] Extract computation logic into AIComparisonCardLogic for testability
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Test/Views/AIComparisonCard.swift
  ios/AIQ/Features/Test/Views/AIComparisonCardLogic.swift
Due: swiftlint, swiftformat

[TASK-352] Add 22 unit tests for AIComparisonCard logic (gauge position, best model, average IQ, domain filtering)
  ios/AIQTests/Views/AIComparisonCardTests.swift
Due: swiftlint, swiftformat

[TASK-353] Add UI tests for AIComparisonCard visibility and empty state on results screen
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQUITests/AIComparisonCardUITests.swift
Due: swiftlint, swiftformat

[TASK-356] Add notificationsDisabled mock scenario for UI testing disabled notification state
  ios/AIQ/Utilities/DI/MockModeDetector.swift
  ios/AIQ/Utilities/DI/MockServiceConfiguration.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQ/Utilities/Mocks/UITestMockNotificationService.swift
Due: swiftlint, swiftformat

[TASK-354] Add scenario-aware getBenchmarkSummary with populated ModelSummary data for loggedInWithHistory scenarios
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
Due: swiftlint, swiftformat

[TASK-355] Add scenario-aware submitTest with low/mid/high score variants
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
