Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-270] Correct RegistrationHelper timeout documentation to match backend
  .secrets.baseline
  ios/AIQUITests/Helpers/RegistrationHelper.swift
Due: swiftlint, swiftformat

[TASK-270] Correct RegistrationHelper timeout documentation to match backend (#922)
  .secrets.baseline
  ios/AIQUITests/Helpers/RegistrationHelper.swift
Due: swiftlint, swiftformat

[TASK-834] Research CAT implementation requirements for AIQ
  docs/research/2026-02-02-cat-implementation-requirements.md
Due: none

[TASK-834] Address PR review: clarify wording, fix stopping rules, add indexes
  docs/research/2026-02-02-cat-implementation-requirements.md
Due: none

[TASK-835] Design CAT implementation architecture specification
  docs/plans/cat-implementation-architecture.md
Due: none

[TASK-835] Design CAT implementation architecture specification (#924)
  docs/plans/cat-implementation-architecture.md
Due: none

[TASK-836] Add per-type response time percentile analytics endpoint
  backend/app/api/v1/admin/analytics.py
  backend/app/core/time_analysis.py
  backend/app/schemas/response_time_analytics.py
  backend/tests/test_time_analysis.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-836] Add per-type response time percentile analytics endpoint (#925)
  backend/app/api/v1/admin/analytics.py
  backend/app/core/time_analysis.py
  backend/app/schemas/response_time_analytics.py
  backend/tests/test_time_analysis.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-852] Add response data export utility for IRT calibration
  backend/app/core/cat/__init__.py
  backend/app/core/cat/data_export.py
  backend/tests/core/test_cat_data_export.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-852] Add response data export utility for IRT calibration (#926)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/data_export.py
  backend/tests/core/test_cat_data_export.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-853] Add calibration monitoring dashboard endpoint
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/calibration_monitoring.py
  backend/app/main.py
  backend/app/schemas/calibration_monitoring.py
  backend/tests/api/v1/admin/test_calibration_monitoring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-853] Address PR review: fix exception handling, add query bounds, clarify naming
  backend/app/api/v1/admin/calibration_monitoring.py
  backend/app/schemas/calibration_monitoring.py
Due: mypy-backend, check-magic-numbers

[TASK-853] Add calibration monitoring dashboard endpoint (#927)
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/calibration_monitoring.py
  backend/app/main.py
  backend/app/schemas/calibration_monitoring.py
  backend/tests/api/v1/admin/test_calibration_monitoring.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-850] Add anchor item designation for IRT calibration
  backend/alembic/versions/c3d4e5f6a7b8_add_is_anchor_column_to_questions.py
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/anchor_items.py
  backend/app/models/models.py
  backend/app/schemas/anchor_items.py
  backend/tests/api/v1/admin/test_anchor_items.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-851] Modify test composition to include anchor items
  backend/app/core/test_composition.py
  backend/tests/core/test_test_composition.py
Due: mypy-backend, check-float-comparisons

[TASK-851] Fix anchor allocation tracking and add invariant tests
  backend/app/core/test_composition.py
  backend/tests/core/test_test_composition.py
Due: mypy-backend, check-float-comparisons

[TASK-851] Modify test composition to include anchor items (#928)
  backend/app/core/test_composition.py
  backend/tests/core/test_test_composition.py
Due: mypy-backend, check-float-comparisons

[TASK-840] Derive domain set from QuestionType enum in config validator
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-840] Derive domain set from QuestionType enum in config validator (#929)
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-842] Tighten domain tolerance ranges in test_25_question_distribution
  backend/tests/core/test_test_composition.py
Due: mypy-backend, check-float-comparisons

[TASK-842] Tighten domain tolerance ranges in test_25_question_distribution (#930)
  backend/tests/core/test_test_composition.py
Due: mypy-backend, check-float-comparisons

[TASK-843] Add onDisappear test for DeepLinkNavigationService reset
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
Due: swiftlint, swiftformat

[TASK-843] Add onDisappear test for DeepLinkNavigationService reset (#931)
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
Due: swiftlint, swiftformat

[TASK-835] Add dynamic CAT readiness evaluation system
  backend/alembic/versions/d4e5f6a7b8c9_add_irt_calibration_metadata_and_is_adaptive.py
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/api/v1/test.py
  backend/app/core/cat/__init__.py
  backend/app/core/cat/data_export.py
  backend/app/core/cat/readiness.py
  backend/app/core/config.py
  backend/app/core/system_config.py
  backend/app/models/models.py
  backend/app/schemas/cat_readiness.py
  backend/app/schemas/test_sessions.py
  backend/tests/api/v1/admin/test_cat_readiness.py
  backend/tests/core/test_cat_data_export.py
  backend/tests/core/test_cat_readiness.py
  backend/tests/test_test_sessions.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Update methodology doc to reflect actual implementation state
  docs/methodology/METHODOLOGY.md
Due: none

Add Railway cron job for daily CAT readiness evaluation
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/core/cat/readiness.py
  backend/run_cat_readiness.py
  railway-cron-readiness.json
Due: mypy-backend, check-magic-numbers

[TASK-854] Add IRT calibration metadata columns and partial index
  backend/alembic/versions/d4e5f6a7b8c9_add_irt_calibration_metadata_and_is_adaptive.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-834] Research CAT implementation requirements for AIQ (#923)
  docs/research/2026-02-02-cat-implementation-requirements.md
Due: none

[TASK-854] Add IRT calibration metadata columns and partial index (#932)
  backend/alembic/versions/d4e5f6a7b8c9_add_irt_calibration_metadata_and_is_adaptive.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-855] Add IRT calibration dependencies (py-irt, girth, catsim)
  backend/README.md
  backend/requirements.txt
Due: none

[TASK-855] Add IRT calibration dependencies (py-irt, girth, catsim) (#933)
  backend/README.md
  backend/requirements.txt
Due: none

[TASK-856] Implement Bayesian 2PL IRT calibration function
  backend/app/core/cat/__init__.py
  backend/app/core/cat/calibration.py
  backend/tests/core/test_calibration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-856] Implement Bayesian 2PL IRT calibration function (#934)
  backend/app/core/cat/__init__.py
  backend/app/core/cat/calibration.py
  backend/tests/core/test_calibration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-862] Add admin endpoint to trigger IRT calibration on demand
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/irt_calibration.py
  backend/app/core/cat/__init__.py
  backend/app/core/cat/calibration_runner.py
  backend/app/schemas/irt_calibration.py
  backend/tests/test_admin_irt_calibration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-862] Address PR review: fix race condition and add job eviction
  backend/app/core/cat/calibration_runner.py
Due: mypy-backend, check-magic-numbers

[TASK-862] Address PR review round 2: eviction guard and session rollback
  backend/app/core/cat/calibration_runner.py
Due: mypy-backend, check-magic-numbers

[TASK-862] Admin endpoint: POST /admin/calibration/run (#935)
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/irt_calibration.py
  backend/app/core/cat/__init__.py
  backend/app/core/cat/calibration_runner.py
  backend/app/schemas/irt_calibration.py
  backend/tests/test_admin_irt_calibration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-863] Schedule periodic IRT recalibration job
  backend/alembic/versions/e5f6a7b8c9d0_add_irt_calibration_runs_table.py
  backend/app/models/__init__.py
  backend/app/models/models.py
  backend/run_irt_calibration.py
  backend/tests/test_run_irt_calibration.py
  railway-cron-calibration.json
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-863] Address PR review: use inclusive timestamp filter
  backend/run_irt_calibration.py
Due: mypy-backend

[TASK-863] Schedule periodic IRT recalibration job (#936)
  backend/alembic/versions/e5f6a7b8c9d0_add_irt_calibration_runs_table.py
  backend/app/models/__init__.py
  backend/app/models/models.py
  backend/run_irt_calibration.py
  backend/tests/test_run_irt_calibration.py
  railway-cron-calibration.json
Due: mypy-backend, check-float-comparisons, check-magic-numbers
