Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-162] Add config/models.yaml and models_config.py loader
  question-service/app/config/models_config.py
  question-service/config/models.yaml
Due: mypy-question-service, check-magic-numbers

[TASK-162] Load get_available_models() from models.yaml for all 4 providers
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/google_provider.py
  question-service/app/providers/openai_provider.py
  question-service/app/providers/xai_provider.py
Due: mypy-question-service, check-magic-numbers

[TASK-162] Wire cost_tracking and test_model_ids to models.yaml
  question-service/app/observability/cost_tracking.py
  question-service/tests/config/test_model_ids.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-155] Extract BaseConfigLoader and BaseAssignment; deduplicate shared logic from GeneratorConfigLoader and JudgeConfigLoader
  question-service/app/config/base_config_loader.py
  question-service/app/config/generator_config.py
  question-service/app/config/judge_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-159] Add test-model-ids pre-commit hook for question-service config changes
  .pre-commit-config.yaml
Due: none

[TASK-154] Move benchmark_scores.yaml from config/ to refresh-providers skill directory and update path references
  .claude/skills/refresh-providers/benchmark_scores.yaml
  .claude/skills/refresh-providers/skill.md
Due: none

[TASK-160] Fix stale claude-sonnet-4-5-20251001 example in generators.yaml comment
  question-service/config/generators.yaml
Due: none

[TASK-163] Rename _no_providers_error to _no_providers_error_message
  question-service/app/config/base_config_loader.py
  question-service/app/config/judge_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-164] Update math generator test to assert anthropic provider
  question-service/tests/generation/test_generator_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-158] Load resend_api_key via secrets backend; improve no-channel warning with Railway SMTP note
  question-service/app/config/config.py
Due: mypy-question-service, check-magic-numbers

[TASK-165] Remove SMTP/email/Resend fields and secrets from Settings; simplify to Discord-only notification warning
  question-service/app/config/config.py
Due: mypy-question-service, check-magic-numbers

[TASK-165] Update AlertManager init to pass only alert_file_path and discord_webhook_url
  question-service/run_generation.py
Due: mypy-question-service

[TASK-165] Remove email test paths from test_alerts.py and test suite
  .secrets.baseline
  question-service/scripts/test_alerts.py
  question-service/tests/config/test_config.py
  question-service/tests/infrastructure/test_alerting.py
  question-service/tests/inventory/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-165] Apply review fixes: add Discord warning tests and strengthen noop assertion
  question-service/tests/config/test_config.py
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons

[TASK-167] Fix production validation test by disabling .env file loading
  question-service/tests/config/test_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-166] Remove email/SMTP params from AlertManager and clean up callers
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons

[TASK-166] Apply review fix: clarify BootstrapAlerter docstring for alert_manager=None
  question-service/scripts/bootstrap_inventory.py
Due: mypy-question-service

Relocate embedding_utils to infrastructure layer and update tusk config
  .claude/bin/tusk-generate-manifest.py
  .claude/settings.json
  .claude/skills/generate-questions-by-type/SKILL.md
  .claude/skills/groom-backlog/skill.md
  .claude/skills/run-backend-tests/skill.md
  .claude/skills/run-generation/skill.md
  .claude/skills/run-ios-test/SKILL.md
  .claude/tusk-manifest.json
  .gitignore
  1219
  CLAUDE.md
  backend/CLAUDE.md
  question-service/CLAUDE.md
  question-service/app/data/database.py
  question-service/app/data/deduplicator.py
  question-service/app/infrastructure/embedding_utils.py
  question-service/tests/utils/test_embedding_utils.py
  tusk/config.json
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-168] Replace deprecated gpt-4-turbo-preview with gpt-4o
  question-service/app/evaluation/judge.py
  question-service/app/generation/generator.py
  question-service/app/providers/openai_provider.py
  question-service/config/models.yaml
  question-service/tests/evaluation/test_judge.py
  question-service/tests/providers/test_openai_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-168] Apply review fix: replace duplicate assertion with explicit not-in check for removed model
  question-service/tests/providers/test_openai_provider.py
Due: mypy-question-service, check-float-comparisons

[TASK-170] Update gpt-4-turbo-preview references to gpt-4o
  question-service/docs/PERFORMANCE.md
Due: none

[TASK-171] Update gpt-4o pricing and Gemini model references in PERFORMANCE.md
  question-service/docs/PERFORMANCE.md
Due: none

[TASK-171] Apply review fix: add note clarifying gemini-2.5-pro pricing baseline vs active gemini-3.1-pro-preview
  question-service/docs/PERFORMANCE.md
Due: none

[TASK-172] Update Anthropic generation model in Stage 1 table to claude-sonnet-4-5-20250929
  question-service/docs/PERFORMANCE.md
Due: none

[TASK-174] Fix XAIProvider to call super().__init__() and remove hasattr guard
  question-service/app/providers/base.py
  question-service/app/providers/xai_provider.py
Due: mypy-question-service, check-magic-numbers

[TASK-175] Remove no-op try/except/raise from fetch_available_models sync and async in OpenAI and XAI providers
  question-service/app/providers/openai_provider.py
  question-service/app/providers/xai_provider.py
Due: mypy-question-service, check-magic-numbers

[TASK-176] Move import json to module level in base.py
  question-service/app/providers/base.py
Due: mypy-question-service, check-magic-numbers

[TASK-177] Use logger.warning for all re-raised API errors in xai_provider.py
  question-service/app/providers/xai_provider.py
Due: mypy-question-service, check-magic-numbers

[TASK-178] Remove redundant provider_name attribute from XAIProvider
  question-service/app/providers/xai_provider.py
  question-service/tests/providers/test_xai_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-173] Make generate_completion delegate to _generate_completion_internal
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/google_provider.py
  question-service/app/providers/openai_provider.py
  question-service/app/providers/xai_provider.py
  question-service/tests/providers/test_xai_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-179] Replace base fallback _generate_*_internal methods with NotImplementedError
  question-service/app/providers/base.py
Due: mypy-question-service, check-magic-numbers

Remove duplicate relative-path hook entries from settings.json
  .claude/settings.json
Due: none

Upgrade tusk to v555
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-migrate.py
  .claude/bin/tusk-pillars.py
  .claude/skills/address-issue/SKILL.md
  .claude/skills/investigate-directory/SKILL.md
  .claude/skills/investigate/SKILL.md
  .claude/skills/tusk-init/SKILL.md
  .claude/skills/tusk-update/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none

[TASK-181] Fix correctness and cleanup issues in inventory_analyzer
  question-service/app/inventory/inventory_analyzer.py
Due: mypy-question-service, check-magic-numbers

[TASK-184] Generate run_id and inject into log records via filter
  question-service/run_generation.py
Due: mypy-question-service

[TASK-184] Add client_run_id to backend API, schema, model, and migration
  backend/alembic/versions/19fad4f4ae64_add_client_run_id_to_question_.py
  backend/app/api/v1/admin/generation.py
  backend/app/models/models.py
  backend/app/schemas/generation_runs.py
  question-service/app/reporting/reporter.py
Due: mypy-backend, mypy-question-service, check-magic-numbers

[TASK-184] Commit pre-existing file moves and test updates for alerting_adapter refactor
  question-service/app/observability/alerting.py
  question-service/app/reporting/alerting_adapter.py
  question-service/scripts/bootstrap_inventory.py
  question-service/scripts/test_alerts.py
  question-service/tests/infrastructure/test_alerting.py
  question-service/tests/infrastructure/test_circuit_breaker.py
  question-service/tests/observability/test_alerting_adapter.py
  question-service/tests/observability/test_generation_loss_alert.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-184] Add client_run_id to docstrings in reporter.py
  question-service/app/reporting/reporter.py
Due: mypy-question-service, check-magic-numbers

[TASK-180] Add config/inventory.yaml with threshold defaults
  question-service/config/inventory.yaml
Due: none

[TASK-180] Add InventoryConfig loader; InventoryAnalyzer reads defaults from config
  question-service/app/inventory/inventory_analyzer.py
  question-service/app/inventory/inventory_config.py
Due: mypy-question-service, check-magic-numbers

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
