Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-35] Apply review fixes: pass settings to setup_logging, use record.created for timestamp
  libs/logging/logging_config.py
  question-service/trigger_server.py
Due: mypy-question-service

[TASK-36] Create libs/alerting/alerting.py with no service dependencies
  libs/alerting/__init__.py
  libs/alerting/alerting.py
Due: none

[TASK-36] AlertManager.send_alert accepts AlertableError Protocol; send_run_completion accepts generic RunSummary dict
  question-service/app/infrastructure/error_classifier.py
  question-service/app/observability/alerting.py
Due: mypy-question-service, check-magic-numbers

[TASK-36] Add alerting_adapter.py with to_run_summary; update run_generation.py to use adapter
  question-service/app/observability/alerting_adapter.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-36] Update alerting tests to use RunSummary interface; all 78 tests passing
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons

[TASK-36] Apply review fixes: html.escape in _create_html_alert, json.dumps in _log_inventory_check, add adapter and libs tests
  libs/alerting/alerting.py
  libs/alerting/tests/__init__.py
  libs/alerting/tests/test_alerting.py
  question-service/tests/observability/test_alerting_adapter.py
Due: mypy-question-service, check-float-comparisons

Upgrade tusk to v465
  .claude/bin/VERSION
  .claude/bin/tusk-upgrade.py
Due: none

Upgrade tusk to v466
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk_loader.py
Due: none

[TASK-36] Apply review fixes: guard float(None), HTML-escape type/difficulty rows, improve comments and test assertions
  libs/alerting/alerting.py
  libs/alerting/tests/test_alerting.py
  question-service/app/infrastructure/error_classifier.py
  question-service/app/observability/alerting_adapter.py
  question-service/tests/observability/test_alerting_adapter.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-37] Add libs/cron_runner/ package with CronJob harness
  libs/cron_runner/__init__.py
  libs/cron_runner/cron_job.py
Due: none

[TASK-37] Add unit tests covering happy path and failure path
  libs/cron_runner/tests/__init__.py
  libs/cron_runner/tests/test_cron_job.py
Due: none

[TASK-37] Apply review fixes: isolated Scheduler, heartbeat error guard, logging guard, test assertions
  libs/cron_runner/cron_job.py
  libs/cron_runner/requirements-optional.txt
  libs/cron_runner/tests/test_cron_job.py
Due: none

[TASK-38] Add generic run_cron.sh.template with placeholder variables
  libs/templates/run_cron.sh.template
Due: none

[TASK-38] Add libs/templates/README.md with 5-step workflow
  libs/templates/README.md
Due: none

[TASK-38] Update run_cron.sh header to reference template in libs/templates/
  question-service/scripts/run_cron.sh
Due: none

[TASK-38] Apply review fix: unify crontab frequency in template header
  libs/templates/run_cron.sh.template
Due: none

[TASK-43] Remove write_heartbeat() and inline setup boilerplate from run_generation.py
  question-service/run_generation.py
Due: mypy-question-service

[TASK-43] Apply review fix: wrap _work() pipeline body in try/finally for guaranteed db.close()
  question-service/run_generation.py
Due: mypy-question-service

[TASK-39] Add pyproject.toml to make libs/ pip-installable as gioe-libs
  libs/cron_runner/__init__.py
  libs/cron_runner/cron_job.py
  libs/logging/__init__.py
  libs/observability/__init__.py
  libs/observability/facade.py
  libs/observability/otel_backend.py
  libs/observability/sentry_backend.py
  libs/pyproject.toml
Due: none

[TASK-40] Migrate backend logging_config.py to libs/logging shim
  backend/app/core/logging_config.py
  libs/logging/__init__.py
  libs/logging/logging_config.py
Due: mypy-backend, check-magic-numbers

[TASK-40] Apply review fix: consolidate request_id_context import to public libs.logging
  backend/app/core/logging_config.py
Due: mypy-backend, check-magic-numbers

[TASK-32] restore rule22 to tusk-lint.py and add multi-file aggregation test
  .claude/bin/tusk-lint-rule22-test.py
  .claude/bin/tusk-lint.py
Due: none

[TASK-32] Apply review fix: convert _PROVIDER_MODELS values to sets for O(1) lookup
  .claude/bin/tusk-lint.py
Due: none

[TASK-41] rename libs/logging to libs/aiq_logging to avoid shadowing stdlib
  backend/app/core/logging_config.py
  libs/aiq_logging/__init__.py
  libs/aiq_logging/logging_config.py
  libs/pyproject.toml
  question-service/app/infrastructure/logging_config.py
  question-service/run_generation.py
  question-service/scripts/bootstrap_inventory.py
  question-service/scripts/infer_sub_types.py
  question-service/scripts/reevaluate_questions.py
  question-service/trigger_server.py
Due: mypy-backend, mypy-question-service, check-magic-numbers

[TASK-42] fix heartbeat stats duplicating duration_seconds when alert_manager is set
  libs/cron_runner/cron_job.py
  libs/cron_runner/tests/test_cron_job.py
Due: none

[TASK-44] document alert_manager closure behavior and run_loop() limitation
  question-service/run_generation.py
Due: mypy-question-service

[TASK-46] add asymmetric rule22 tests: one clean file, one bad
  .claude/bin/tusk-lint-rule22-test.py
Due: none

[TASK-47] add 35-min expiry check to handleTestStartError before showing conflict alert
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/ViewModels/TestTakingViewModelCooldownTests.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-47] apply review fixes: abandon before retry, nil-session retry, analytics placement, test improvements
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-48] store startErrorTask handle and cancel on deinit
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-49] assert abandonTestCalled in expired-session test
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-51] pass activeTestSession?.id when resuming active test
  ios/AIQ/Features/Dashboard/Views/DashboardView.swift
Due: swiftlint, swiftformat

[TASK-50] cap QuestionCardView height at 240pt with inner ScrollView, reduce padding to lg
  ios/AIQ/Features/Test/Views/QuestionCardView.swift
Due: swiftlint, swiftformat

[TASK-50] Apply review fix: revert ScrollView to VStack with maxHeight cap
  ios/AIQ/Features/Test/Views/QuestionCardView.swift
Due: swiftlint, swiftformat

[TASK-52] Replace IQ with AIQ branding in Localizable.strings and Swift views
  ios/AIQ/Features/Auth/Views/RegistrationView.swift
  ios/AIQ/Features/History/Views/HistoryView.swift
  ios/AIQ/Features/History/Views/IQTrendChart.swift
  ios/AIQ/Features/History/Views/TestDetailView.swift
  ios/AIQ/Features/History/Views/TestHistoryListItem.swift
  ios/AIQ/Features/Settings/Views/HelpView.swift
  ios/AIQ/Features/Settings/Views/NotificationSettingsView.swift
  ios/AIQ/Features/Settings/Views/SettingsView.swift
  ios/AIQ/Features/Test/Views/AdaptiveTestView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Features/Test/Views/TestTakingView.swift
  ios/AIQ/Views/Components/NotificationPermissionBanner.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-52] Apply review fix: update missed IQ→AIQ branding in accessibility strings, HelpView, and tests
  ios/AIQ/Features/Settings/Views/HelpView.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQ/en.lproj/Localizable.strings
  ios/AIQTests/Models/TestSessionTests.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/Extensions/TestResultResponse+UI.swift
Due: swiftlint, swiftformat

[TASK-53] update notification title and test assertions to AIQ branding
  backend/app/services/apns_service.py
  backend/app/services/notification_scheduler.py
  backend/tests/notifications/test_notification_integration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-53] update iOS test payload strings to AIQ branding
  ios/AIQTests/Services/PushNotificationDeepLinkTests.swift
Due: swiftlint, swiftformat

[TASK-54] fix notification body copy from 6 months to 3 months
  backend/tests/notifications/test_notification_integration.py
Due: mypy-backend, check-float-comparisons
