Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-357] Add AI vs Human Benchmarks screenshot capture to AppStoreScreenshotTests
  ios/AIQUITests/Screenshots/AppStoreScreenshotTests.swift
Due: swiftlint, swiftformat

[TASK-357] Update Framefile.json with AI Benchmarks entry and renumber screenshots 04-07
  ios/fastlane/Framefile.json
Due: none

[TASK-358] Replace send_notification with send_run_completion in CronJob.run_once and bump gioe-libs pin
  question-service/requirements.txt
Due: none

Fix Discord webhook 403 by bumping gioe-libs pin
  question-service/requirements.txt
Due: none

Bump gioe-libs pin for enriched Discord embed and User-Agent fix
  question-service/requirements.txt
Due: none

Remove --dry-run flag from question generation pipeline
  .claude/skills/run-generation/skill.md
  question-service/README.md
  question-service/app/data/answer_leakage_auditor.py
  question-service/run_generation.py
  question-service/tests/data/test_answer_leakage_auditor.py
  question-service/tests/integration/test_trigger_server.py
  question-service/tests/observability/test_observability_integration.py
  question-service/trigger_server.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-361] Add Guest Users subsection and update Device ID purposes for guest test limits
  website/PRIVACY_POLICY.md
Due: none

[TASK-359] Add guest test start endpoint with device limit enforcement and in-memory token store
  .secrets.baseline
  backend/app/api/v1/api.py
  backend/app/api/v1/guest_test.py
  backend/app/core/config.py
  backend/app/core/error_responses.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/models.py
  backend/app/schemas/guest_test.py
  backend/requirements.txt
Due: mypy-backend, check-magic-numbers

[TASK-359] Add Alembic migration for guest_device_limits table and sentinel guest user
  backend/alembic/versions/g359a0b1c2d3_add_guest_device_limits_and_sentinel_user.py
Due: mypy-backend

[TASK-362] Regenerate OpenAPI spec and Swift client for guest test endpoints
  docs/api/openapi.json
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Client.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Types.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/openapi.json
Due: swiftlint, swiftformat

[TASK-365] Add pyproject.toml for aiq_types editable install in local venvs
  aiq_types/pyproject.toml
Due: none

[TASK-366] Filter gitignored directories via git check-ignore in sync_readme_structure.py
  ios/README.md
  scripts/sync_readme_structure.py
Due: none

[TASK-360] Add guest test start/submit methods to OpenAPIServiceProtocol and implementation
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
Due: swiftlint, swiftformat

[TASK-360] Add GuestTestContainerView, WelcomeView guest button, RootView guest mode, TestTakingViewModel guest support
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Views/Components/RootView.swift
Due: swiftlint, swiftformat

[TASK-360] Apply review fixes: persist fallback device ID, wire guest limit state, add guest submit error handling
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Views/Components/RootView.swift
Due: swiftlint, swiftformat

[TASK-367] Extract shared TestContentLayout and TestNavigationControls from TestTakingView and GuestTestContainerView
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Features/Test/Views/TestContentLayout.swift
  ios/AIQ/Features/Test/Views/TestNavigationControls.swift
  ios/AIQ/Features/Test/Views/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-369] Fix duplicate PBXFileReference entries for files in virtual groups
  ios/scripts/add_files_to_xcode.rb
Due: none

[TASK-368] Add unit tests for guest test flow in TestTakingViewModel
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

Update App Store metadata and review notes for resubmission
  .claude/skills/xcode-file-manager/SKILL.md
  ios/AIQ/Info.plist
  ios/fastlane/Fastfile
  ios/fastlane/metadata/en-US/description.txt
  ios/fastlane/metadata/en-US/keywords.txt
  ios/fastlane/metadata/en-US/name.txt
  ios/fastlane/metadata/primary_category.txt
  ios/fastlane/metadata/review_information/notes.txt
  ios/fastlane/metadata/secondary_category.txt
Due: none

[TASK-371] Add Welcome screen screenshot to App Store screenshots
  .secrets.baseline
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQUITests/Screenshots/AppStoreScreenshotTests.swift
  ios/fastlane/Framefile.json
Due: swiftlint, swiftformat

[TASK-374] Add collapsible disclosure toggle to InsightsCardView with AppStorage persistence
  ios/AIQ/Features/History/Views/InsightsCardView.swift
Due: swiftlint, swiftformat

[TASK-372] Replace benchmark RuleMarks with shaded AreaMark band and compact legend
  ios/AIQ/Features/History/Views/IQTrendChart.swift
Due: swiftlint, swiftformat

[TASK-373] Add CompactTestRow component and replace flat history list with month-grouped sections
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/History/Views/CompactTestRow.swift
  ios/AIQ/Features/History/Views/HistoryView.swift
Due: swiftlint, swiftformat

[TASK-375] Add response_model param to cache_key() and @cached decorator for schema-versioned cache keys
  backend/app/core/cache.py
Due: mypy-backend, check-magic-numbers

[TASK-375] Wire response_model into benchmark, discrimination, and reliability cache keys
  backend/app/api/v1/benchmark.py
  backend/app/core/psychometrics/discrimination_analysis.py
  backend/app/core/reliability/report.py
Due: mypy-backend, check-magic-numbers

[TASK-375] Add schema versioning unit tests and fix circular import in reliability report
  backend/app/core/reliability/report.py
  backend/tests/core/test_cache.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-376] Add Group, GroupMembership, and GroupInvite models with TYPE_CHECKING import for User
  backend/app/models/__init__.py
  backend/app/models/group.py
Due: mypy-backend, check-magic-numbers

[TASK-376] Add Alembic migration for groups, group_memberships, and group_invites tables
  backend/alembic/versions/3c9097316d43_add_group_groupmembership_and_.py
  backend/alembic/versions/e56a6142c809_merge_llm_benchmark_and_guest_device_.py
Due: mypy-backend

[TASK-376] Remove redundant PK and unique constraint indexes per review
  backend/alembic/versions/3c9097316d43_add_group_groupmembership_and_.py
  backend/app/models/group.py
Due: mypy-backend, check-magic-numbers

[TASK-381] Add unit tests for Group, GroupMembership, and GroupInvite models
  backend/tests/db/test_group_models.py
Due: mypy-backend, check-float-comparisons

[TASK-377] Add groups API: schemas, router with CRUD/invite/leaderboard endpoints, and router registration
  backend/app/api/v1/api.py
  backend/app/api/v1/groups.py
  backend/app/schemas/groups.py
Due: mypy-backend, check-magic-numbers

[TASK-377] Apply review fixes: use group.max_members, wire GroupInvite flow, improve logging
  backend/app/api/v1/groups.py
  backend/app/schemas/groups.py
Due: mypy-backend, check-magic-numbers

[TASK-379] Update OpenAPI spec with group endpoint schemas
  docs/api/openapi.json
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/openapi.json
Due: none

[TASK-379] Add group endpoint definitions matching backend router paths
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Client.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Types.swift
Due: swiftlint, swiftformat

[TASK-379] Add group endpoint methods to OpenAPIServiceProtocol and implementations
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
Due: swiftlint, swiftformat

[TASK-382] Add PUT /v1/groups/{id}/transfer-ownership endpoint with request schema and OpenAPI spec updates
  backend/app/api/v1/groups.py
  backend/app/schemas/groups.py
  docs/api/openapi.json
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/openapi.json
Due: mypy-backend, check-magic-numbers

[TASK-382] Apply review fix: add gt=0 constraint to new_owner_id field
  backend/app/schemas/groups.py
Due: mypy-backend, check-magic-numbers

[TASK-384] Regenerate Swift OpenAPI client to include transfer-ownership endpoint
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Client.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Types.swift
Due: swiftlint, swiftformat

[TASK-378] Add GroupsListView with group listing and member count display
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/Groups/ViewModels/GroupsListViewModel.swift
  ios/AIQ/Features/Groups/Views/GroupCardView.swift
  ios/AIQ/Features/Groups/Views/GroupsListView.swift
  ios/AIQ/Utilities/DI/ViewModelFactory.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-378] Add GroupDetailView with leaderboard ranking and current user highlighting
  ios/AIQ/Features/Groups/ViewModels/GroupDetailViewModel.swift
  ios/AIQ/Features/Groups/Views/GroupDetailView.swift
  ios/AIQ/Features/Groups/Views/LeaderboardRowView.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
