Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-55] extract notification interval to shared constant
  backend/app/services/__init__.py
  backend/app/services/apns_service.py
  backend/app/services/constants.py
  backend/app/services/notification_scheduler.py
  backend/tests/notifications/test_notification_integration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-56] fix timeout loop by clearing progress and resuming session
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-57] abandon silently when 0 answers on timeout instead of submitting
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Features/Test/Views/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-57] Apply review fixes: add debug logging and nil testSession in abandonTestSilently
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-59] suppress Time's Up alert when answeredCount is zero
  ios/AIQ/Features/Test/Views/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-58] add unit tests for 0-answer timeout abandonment path
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-58] apply review fixes: extract helper, add missing assertions
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-60] start fresh test when stale expired session silently abandoned
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Features/Test/Views/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-61] use layoutFittingExpandedSize so multi-line questions render at full height
  ios/Packages/SharedKit/Sources/SharedKit/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

[TASK-61] remove maxHeight: 240 cap from QuestionCardView so long questions aren't clipped
  ios/AIQ/Features/Test/Views/QuestionCardView.swift
Due: swiftlint, swiftformat

[TASK-61] fix: use finite 10_000pt height to get natural content size from UIHostingController
  ios/Packages/SharedKit/Sources/SharedKit/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

[TASK-62] reset isLocked in handleTestStartSuccess so buttons re-enable on fresh test
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-62] reset showWarning at top of startWithSessionTime so fresh session starts without banner
  ios/AIQ/Features/Test/ViewModels/TestTimerManager.swift
Due: swiftlint, swiftformat

[TASK-62] reset banner state in wasAbandonedSilently branch before startTest
  ios/AIQ/Features/Test/Views/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-63] add regression tests for lock/showWarning reset after silent abandonment
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
  ios/AIQTests/ViewModels/TestTimerManagerTests.swift
Due: swiftlint, swiftformat

[TASK-64] add TestTakingAbandonmentFlowTests UI test suite with mock timer scenarios
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/DI/MockModeDetector.swift
  ios/AIQ/Utilities/DI/MockServiceConfiguration.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQ/Utilities/Mocks/UITestMockLocalAnswerStorage.swift
  ios/AIQUITests/Helpers/BaseUITest.swift
  ios/AIQUITests/TestTakingAbandonmentFlowTests.swift
Due: swiftlint, swiftformat

[TASK-64] fix race condition in nearExpiredSession timer buffer (2s → 20s)
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockLocalAnswerStorage.swift
Due: swiftlint, swiftformat

[TASK-64] add hasActiveTest boundary comment to nearExpiredSession mock
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
Due: swiftlint, swiftformat

[TASK-65] assert results screen navigation after non-silent path alert dismissal
  ios/AIQUITests/TestTakingAbandonmentFlowTests.swift
Due: swiftlint, swiftformat

[TASK-66] add explicit timerExpiredZeroAnswers nil case with comment
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
Due: swiftlint, swiftformat

Upgrade tusk to v478
  .claude/bin/VERSION
  .claude/bin/config.default.json
  .claude/bin/tusk
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-lint.py
  .claude/bin/tusk-migrate.py
  .claude/bin/tusk-upgrade.py
  .claude/skills/create-task/SKILL.md
  .claude/skills/review-commits/REVIEWER-PROMPT.md
  .claude/skills/review-commits/SKILL.md
Due: none

[TASK-68] update Dockerfiles to install gioe-libs from python-libs; update all imports from libs. to gioe_libs.
  backend/Dockerfile
  backend/app/core/logging_config.py
  backend/app/main.py
  backend/app/middleware/performance.py
  backend/app/middleware/request_logging.py
  backend/app/models/models.py
  backend/app/observability.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/schemas/feedback.py
  backend/app/schemas/generation_runs.py
  backend/requirements.txt
  backend/tests/observability/test_observability_config.py
  backend/tests/observability/test_observability_e2e.py
  backend/tests/observability/test_observability_hardening.py
  backend/tests/utils/test_libs_import.py
  question-service/Dockerfile.trigger
  question-service/app/data/database.py
  question-service/app/data/deduplicator.py
  question-service/app/data/models.py
  question-service/app/evaluation/judge.py
  question-service/app/generation/generator.py
  question-service/app/generation/pipeline.py
  question-service/app/infrastructure/error_classifier.py
  question-service/app/infrastructure/logging_config.py
  question-service/app/observability/alerting.py
  question-service/app/observability/alerting_adapter.py
  question-service/requirements.txt
  question-service/run_generation.py
  question-service/scripts/bootstrap_inventory.py
  question-service/scripts/infer_sub_types.py
  question-service/scripts/reevaluate_questions.py
  question-service/trigger_server.py
Due: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-68] update local dev docs and CI to reflect removal of libs/ dir
  .github/workflows/backend-ci.yml
  .secrets.baseline
  backend/README.md
  backend/tests/observability/test_observability_hardening.py
  docs/CI_CD_SETUP.md
Due: mypy-backend, check-float-comparisons

[TASK-69] fix import path for distractor_analysis module in graceful failure test
  backend/tests/psychometrics/test_distractor_analysis.py
Due: mypy-backend, check-float-comparisons

[TASK-71] fix test fixtures to comply with answer-in-question validator
  question-service/app/generation/generator.py
  question-service/tests/data/test_database.py
  question-service/tests/generation/test_generator.py
  question-service/tests/inventory/test_bootstrap_inventory.py
  question-service/tests/observability/test_observability_integration.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-72] add git to apt-get install in question-service Dockerfile
  question-service/Dockerfile.trigger
Due: none

[TASK-73] add git to builder stage apt-get install
  backend/Dockerfile
Due: none

[TASK-75] remove local SPM refs and add ios-libs remote package reference
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

[TASK-76] replace import AIQAPIClient with import APIClient across all Swift files
  ios/AIQ/Features/History/Views/ChartDomainCalculator.swift
  ios/AIQ/Features/Test/ViewModels/AdaptiveTestCoordinator.swift
  ios/AIQ/Features/Test/ViewModels/TestNavigationState.swift
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Models/Auth.swift
  ios/AIQ/Models/Extensions/User+Extensions.swift
  ios/AIQ/Models/Feedback.swift
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/Models/OpenAPITypeAliases.swift
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Models/Question.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQ/Models/TestResult.swift
  ios/AIQ/Models/TestSession+Extensions.swift
  ios/AIQ/Models/TestSession.swift
  ios/AIQ/Models/TestSessionStatus.swift
  ios/AIQ/Models/User.swift
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQTests/Extensions/AIQAPIClientExtensionsTests.swift
  ios/AIQTests/Mocks/MockAuthManager.swift
  ios/AIQTests/Mocks/MockOpenAPIService.swift
  ios/AIQTests/Models/TestSessionTests.swift
  ios/AIQTests/Models/UserTests.swift
  ios/AIQTests/Services/AuthManagerDeleteAccountTests.swift
  ios/AIQTests/Services/AuthServiceTests.swift
  ios/AIQTests/Services/NotificationServiceTests.swift
  ios/AIQTests/Services/OpenAPIServiceMapToAPIErrorTests.swift
  ios/AIQTests/ViewModels/AdaptiveTestTakingViewModelTests.swift
  ios/AIQTests/ViewModels/FeedbackViewModelTests.swift
  ios/AIQTests/ViewModels/SettingsViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-77] remove DEST_PACKAGE from sync script and Packages/SharedKit from swiftlint
  ios/scripts/sync_openapi_spec.sh
Due: none

[TASK-81] remove stale Dependabot swift entry for deleted ios/Packages/AIQAPIClient
  .github/dependabot.yml
  docs/infrastructure/DEPENDABOT.md
  ios/README.md
Due: none

[TASK-79] remove OpenAPI spec sync CI step; add comment about gioe/ios-libs
  .github/workflows/ios-ci.yml
Due: none

[TASK-79] update ios/CLAUDE.md: replace local AIQAPIClient paths with gioe/ios-libs remote dependency references
  ios/CLAUDE.md
Due: none

[TASK-82] update branding sweep path to reference gioe/ios-libs
  ios/CLAUDE.md
Due: none

[TASK-78] delete sync_openapi_spec.sh and add publish_api_client.sh
  ios/scripts/publish_api_client.sh
  ios/scripts/sync_openapi_spec.sh
Due: none

[TASK-78] update all doc references from sync_openapi_spec.sh to publish_api_client.sh
  docs/CI_CD_SETUP.md
  docs/OPENAPI_USAGE_GUIDE.md
  ios/README.md
  ios/docs/CODING_STANDARDS.md
  ios/docs/SWIFT_OPENAPI_INTEGRATION.md
Due: none

[TASK-83] remove stale local AIQAPIClient openapi.json row from key files table
  docs/OPENAPI_USAGE_GUIDE.md
Due: none

[TASK-84] document ios-libs version pin update step after publishing
  ios/README.md
  ios/docs/SWIFT_OPENAPI_INTEGRATION.md
  ios/scripts/publish_api_client.sh
Due: none
