Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-499] Report offline API mode for mock launch logs
  ios/AIQ/AppDelegate.swift
Due: swiftlint, swiftformat

Improve question verification parse handling
  question-service/app/evaluation/judge.py
  question-service/app/evaluation/runner.py
  question-service/app/reporting/run_summary.py
  question-service/run_generation.py
  question-service/tests/evaluation/test_answer_verification.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-500] upgrade LLM model configs and validation
  backend/app/api/v1/benchmark.py
  backend/app/services/llm_benchmark/providers.py
  backend/app/services/llm_benchmark/runner.py
  backend/tests/services/llm_benchmark/test_runner.py
  question-service/config/generators.yaml
  question-service/config/judges.yaml
  question-service/config/models.yaml
  question-service/tests/generation/test_generator.py
  question-service/tests/generation/test_generator_config.py
  question-service/tests/infrastructure/test_cost_tracking.py
  question-service/tests/providers/test_openai_provider.py
Due: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-500] document April 2026 model audit
  docs/MODEL_BENCHMARKS.md
Due: none

[TASK-501] restore historical external benchmark evidence
  docs/MODEL_BENCHMARKS.md
Due: none

[TASK-501] clarify current audit authority
  docs/MODEL_BENCHMARKS.md
Due: none

[TASK-502] Fix benchmark runner compatibility and record April 2026 results
  backend/app/services/llm_benchmark/providers.py
  backend/tests/services/llm_benchmark/test_runner.py
  docs/MODEL_BENCHMARKS.md
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-504] Document Railway-backed production admin tooling
  docs/operations/PRODUCTION_ADMIN_TOOLING.md
Due: none

[TASK-504] Add benchmark admin auth check
  question-service/scripts/benchmark_models.py
  question-service/tests/scripts/test_benchmark_models.py
Due: mypy-question-service, check-float-comparisons

[TASK-507] Document tusk wrapper command contract and regression check
  .claude/skills/tusk/SKILL.md
  Makefile
  scripts/check_tusk_wrapper_commands.sh
Due: none

[TASK-506] Filter public benchmark summary to valid zero-error sessions
  backend/app/api/v1/benchmark.py
  backend/tests/api/test_benchmark_summary.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-503] Mark all-error benchmark sessions failed
  backend/app/services/llm_benchmark/runner.py
  backend/tests/services/llm_benchmark/test_runner.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-503] Exclude provider-error sessions from admin compare
  backend/app/api/v1/admin/llm_benchmark.py
  backend/tests/admin/test_admin_llm_benchmark.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-511] Add explicit accessibilityLabel to OAuth sign-in buttons (decouples announced label from SDK-rendered text; covers manual VoiceOver criterion + code criterion in one commit)
  ios/AIQ/Features/Auth/Views/OAuthSignInButtons.swift
  ios/AIQTests/Views/OAuthSignInButtonsTests.swift
Due: swiftlint, swiftformat

[TASK-505] Fix Google benchmark timeouts and document investigation
  backend/app/services/llm_benchmark/providers.py
  backend/tests/services/llm_benchmark/test_runner.py
  docs/MODEL_BENCHMARKS.md
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-512] Record clean Google benchmark reruns
  docs/MODEL_BENCHMARKS.md
Due: none

[TASK-513] Add targeted benchmark model selection
  question-service/scripts/benchmark_models.py
Due: mypy-question-service

[TASK-513] Cover benchmark model selection filters
  question-service/tests/scripts/test_benchmark_models.py
Due: mypy-question-service, check-float-comparisons

[TASK-509] Evaluate GoogleSignIn-iOS 9.1.0 upgrade path
  docs/GOOGLE_SIGNIN_UPGRADE_EVALUATION.md
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

[TASK-508] Consolidate Google sign-in button styling in OAuth wrapper
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Assets.xcassets/GoogleGLogo.imageset/Contents.json
  ios/AIQ/Assets.xcassets/GoogleGLogo.imageset/google_g_logo.svg
  ios/AIQ/Features/Auth/Views/OAuthSignInButtons.swift
  ios/AIQ/Features/Auth/Views/WelcomeView.swift
  ios/AIQ/Features/Guest/Views/GuestTestContainerView.swift
  ios/AIQ/Info.plist
  ios/AIQ/Resources/Fonts/Roboto-Medium.ttf
Due: swiftlint, swiftformat

[TASK-510] Reconcile OAuth button sizing
  ios/AIQ/Features/Auth/Views/OAuthSignInButtons.swift
Due: swiftlint, swiftformat

Upgrade tusk to v780
  .claude/bin/VERSION
  .claude/bin/config.default.json
  .claude/bin/tusk
  .claude/bin/tusk-add-lib.py
  .claude/bin/tusk-check-deliverables.py
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-criteria.py
  .claude/bin/tusk-dupes.py
  .claude/bin/tusk-init-fetch-bootstrap.py
  .claude/bin/tusk-init-scaffold.py
  .claude/bin/tusk-init-wizard.py
  .claude/bin/tusk-init-write-config.py
  .claude/bin/tusk-init-write-manifest-files.py
  .claude/bin/tusk-lint.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-migrate.py
  .claude/bin/tusk-path-lib.py
  .claude/bin/tusk-review.py
  .claude/bin/tusk-task-done.py
  .claude/bin/tusk-task-list.py
  .claude/bin/tusk-upgrade.py
  .claude/skills/address-issue/SKILL.md
  .claude/skills/chain/SKILL.md
  .claude/skills/tusk-init/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none
