Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-1256] Reconcile alembic index drift: add PK indexes for irt/shadow_cat, declare partial IRT index in model
  backend/alembic/versions/2c4795781b74_reconcile_pk_indexes_irt_and_shadow_cat.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-1249] Show inline ErrorBanner on submitTest failure
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Common/ErrorBanner.swift
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-1249] Apply review fix: exclude session conflict from submit error banner
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-1251] Set isLoading before clearError in retry() to eliminate flicker
  ios/AIQ/ViewModels/BaseViewModel.swift
Due: swiftlint, swiftformat

[TASK-1251] Apply review fix: use setLoading(true) in retry() for consistency
  ios/AIQ/ViewModels/BaseViewModel.swift
Due: swiftlint, swiftformat

[TASK-1257] Remove unused successIcon accessibility identifier
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-1258] Omit outer container label when retryAction is set to prevent VoiceOver double-announcement
  ios/AIQ/Views/Common/ErrorBanner.swift
Due: swiftlint, swiftformat

[TASK-1260] Add accessibilityHint to non-interactive ErrorBanner to guide VoiceOver users
  ios/AIQ/Views/Common/ErrorBanner.swift
Due: swiftlint, swiftformat

[TASK-1260] Apply review fixes: make dismissHint caller-supplied, move to dismiss button
  ios/AIQ/Views/Common/ErrorBanner.swift
  ios/AIQ/Views/Test/TestTakingView.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-1259] Add unit tests for shouldShowSubmitErrorBanner and submit error banner logic
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1259] Apply review fixes: add missing mock setup and improve success assertion pattern
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1261] Add retry isLoading-before-clearError ordering test
  ios/AIQTests/ViewModels/BaseViewModelTests.swift
Due: swiftlint, swiftformat

update tusk
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-backlog-scan.py
  .claude/bin/tusk-chain.py
  .claude/bin/tusk-changelog-add.py
  .claude/bin/tusk-generate-manifest.py
  .claude/bin/tusk-lint.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-task-select.py
  .claude/bin/tusk-test-detect.py
  .claude/skills/chain/SKILL.md
  .claude/skills/groom-backlog/skill.md
  .claude/skills/investigate/SKILL.md
  .claude/skills/loop/SKILL.md
  .claude/skills/tusk-init/SKILL.md
  .claude/skills/tusk-update/SKILL.md
  .claude/skills/tusk/SKILL.md
  .claude/tusk-manifest.json
Due: none

[TASK-1262] Fix path resolution and improve git rm error message
  .claude/bin/tusk-commit.py
Due: none

[TASK-1264] Gate loadMockQuestions behind isRunningTests in fallbackToMockData
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1264] Add questions.isEmpty assertion to non-conflict start failure test
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1245] Document search_path requirements and DROP INDEX schema qualifier behavior
  backend/docs/CODING_STANDARDS.md
Due: none

[TASK-1263] Extract shouldShowSubmitErrorBanner and isActiveSessionConflict to ViewModel
  ios/AIQ/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Views/Test/TestTakingView.swift
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1263] Fix stale comment attributing banner logic to View
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1265] Extract TestCompletionView from TestTakingView
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Views/Test/TestCompletionView.swift
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-1266] Add TestResumeIntent enum and resume orchestration to ViewModel
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1266] Move resume methods to ViewModel, drive all alert bindings from VM state
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-1266] Add checkResume orchestration unit tests for all resume paths
  ios/AIQTests/ViewModels/TestTakingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1233] Add direct-to-main fallback diff in review-commits
  .claude/skills/review-commits/SKILL.md
Due: none

[TASK-1254] Replace hardcoded absolute paths with relative 'cd ios' in build-ios-project skill
  .claude/skills/build-ios-project/skill.md
Due: none

[TASK-1254] Fix run-ios-test skill to use relative 'cd ios' path for consistency
  .claude/skills/run-ios-test/SKILL.md
Due: none

[TASK-1270] Update xcodebuild commands to pipe through xcpretty
  .claude/skills/run-ios-test/SKILL.md
Due: none

[TASK-1270] Apply review fixes: set -o pipefail, sudo note, detection logic
  .claude/skills/run-ios-test/SKILL.md
Due: none

[TASK-1270] Improve xcpretty docs: consistent pipefail rationale, clearer agent detection wording
  .claude/skills/run-ios-test/SKILL.md
Due: none

[TASK-1271] Add TestCompletionView namespace; remove success* from TestTakingView
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Test/TestCompletionView.swift
Due: swiftlint, swiftformat

[TASK-1277] Update build-ios-project skill to use xcpretty with detection and fallback
  .claude/skills/build-ios-project/skill.md
Due: none

[TASK-1275] Replace hardcoded absolute paths with relative paths in run-backend-tests, run-generation, question-stats skills
  .claude/skills/question-stats/skill.md
  .claude/skills/run-backend-tests/skill.md
  .claude/skills/run-generation/skill.md
Due: none

[TASK-1275] Apply review fixes: clarify troubleshooting invocation context
  .claude/skills/run-backend-tests/skill.md
Due: none

[TASK-1267] Extract AdaptiveTestCoordinator from TestTakingViewModel
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/ViewModels/AdaptiveTestCoordinator.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1268] Extract QuestionTimeTracker: own timing state + background observers
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/ViewModels/QuestionTimeTracker.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1268] Apply review fixes: block-based observers, remove deinit, reset on completion
  ios/AIQ/ViewModels/QuestionTimeTracker.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1269] Add TestNavigationState struct with computed properties and navigation methods
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/ViewModels/TestNavigationState.swift
Due: swiftlint, swiftformat

[TASK-1269] Wire @Published navigationState into TestTakingViewModel; remove updateAnsweredIndices
  ios/AIQ/ViewModels/AdaptiveTestCoordinator.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1269] Add TestNavigationStateTests: 31 unit tests covering all struct behaviour
  ios/AIQTests/ViewModels/TestNavigationStateTests.swift
Due: swiftlint, swiftformat

[TASK-1280] Add QuestionTimeTrackerTests: 11 tests covering accumulation, pause/resume, and reset
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/ViewModels/QuestionTimeTrackerTests.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
