Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-378] Add CreateGroupView with name validation (max 30 chars)
  ios/AIQ/Features/Groups/ViewModels/CreateGroupViewModel.swift
  ios/AIQ/Features/Groups/Views/CreateGroupView.swift
Due: swiftlint, swiftformat

[TASK-378] Add JoinGroupView with invite code input and group join API
  ios/AIQ/Features/Groups/ViewModels/JoinGroupViewModel.swift
  ios/AIQ/Features/Groups/Views/JoinGroupView.swift
Due: swiftlint, swiftformat

[TASK-378] Add Groups as 4th tab in tab bar with navigation coordinator
  ios/AIQ/Services/Navigation/AppRouter.swift
  ios/AIQ/Views/Components/MainTabView.swift
Due: swiftlint, swiftformat

[TASK-378] Apply review fixes: correct invite code comment, fix remainingCharacters consistency
  ios/AIQ/Features/Groups/ViewModels/CreateGroupViewModel.swift
  ios/AIQ/Features/Groups/Views/GroupDetailView.swift
Due: swiftlint, swiftformat

[TASK-380] Add DeepLink.joinGroup case and parser support for aiq://groups/join?code=<code> URLs
  ios/AIQ/Services/Navigation/AIQDeepLinkParser.swift
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-380] Add join group deep link navigation — calls API and routes to group detail on Groups tab
  ios/AIQ/Services/Navigation/DeepLinkNavigationService.swift
Due: swiftlint, swiftformat

[TASK-380] Store pending deep link in AppDelegate for deferred intent — MainTabView consumes it after authentication
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Views/Components/MainTabView.swift
Due: swiftlint, swiftformat

[TASK-386] Add /.well-known/apple-app-site-association endpoint with /groups/join path
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

[TASK-385] Add leave-group action for non-owner members in GroupDetailView
  ios/AIQ/Features/Groups/ViewModels/GroupDetailViewModel.swift
  ios/AIQ/Features/Groups/Views/GroupDetailView.swift
Due: swiftlint, swiftformat

[TASK-383] Add optional days time-window filter and limit/offset pagination to GET /v1/groups/{id}/leaderboard
  backend/app/api/v1/groups.py
  backend/app/schemas/groups.py
Due: mypy-backend, check-magic-numbers

[TASK-387] Scope leaderboard score subquery to group members only — filters test_results by member user_ids before aggregating, avoiding unnecessary work on non-member rows
  backend/app/api/v1/groups.py
Due: mypy-backend, check-magic-numbers

[TASK-388] Add LeaderboardRowView tests covering rank/name/scores rendering and zero-score state
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/Views/LeaderboardRowViewTests.swift
Due: swiftlint, swiftformat

[TASK-388] Add GroupDetailView leaderboard tests for ranked order and empty state
  ios/AIQTests/Views/GroupDetailViewLeaderboardTests.swift
Due: swiftlint, swiftformat

[TASK-389] Add groups mock data to UITestMockAPIClient for loggedInWithHistory scenario
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
Due: swiftlint, swiftformat

[TASK-389] Add captureGroupsScreenshot() and include in testGenerateAllScreenshots sequence
  ios/AIQUITests/Screenshots/AppStoreScreenshotTests.swift
Due: swiftlint, swiftformat

[TASK-389] Add Groups screenshot caption entry to Framefile.json
  ios/fastlane/Framefile.json
Due: none

[TASK-389] Add metadata/en-US/screenshots/ directory with .gitkeep for deliver
  ios/fastlane/metadata/en-US/screenshots/.gitkeep
Due: none

Add Claude skills, MCP config, XcodeBuildMCP config, and bump build number to 6
  .claude/skills/fastlane-beta/skill.md
  .claude/skills/fastlane-release/skill.md
  .claude/skills/fastlane-submit-review/skill.md
  .claude/skills/fastlane-upload-metadata/skill.md
  .claude/skills/railway-logs/SKILL.md
  .claude/skills/review-commits/REVIEWER-PROMPT-backend.md
  .claude/skills/review-commits/REVIEWER-PROMPT-infrastructure.md
  .claude/skills/review-commits/REVIEWER-PROMPT-mobile.md
  .claude/skills/review-commits/REVIEWER-PROMPT-question-service.md
  .gitignore
  .mcp.json
  .xcodebuildmcp/config.yaml
  ios/AIQ/Info.plist
Due: none

[TASK-391] Move PrimaryButton outside ScrollView as sticky footer to ensure it is always visible without scrolling
  ios/AIQ/Features/Onboarding/Views/PrivacyConsentView.swift
Due: swiftlint, swiftformat

[TASK-392] Abandon stale IN_PROGRESS guest sessions older than token TTL before creating new session
  backend/app/api/v1/guest_test.py
Due: mypy-backend, check-magic-numbers

[TASK-392] Fix import ordering: move stdlib datetime import to stdlib block
  backend/app/api/v1/guest_test.py
Due: mypy-backend, check-magic-numbers

[TASK-393] Add DELETE /v1/admin/sessions/by-email/{email} endpoint with dry-run preview, optional session_id scoping, cascade child counting, and audit logging
  backend/app/api/v1/admin/sessions.py
Due: mypy-backend, check-magic-numbers

[TASK-394] Create delete-test-sessions skill wrapping the admin delete-by-email endpoint with dry-run default, --execute flag, and --session-id scoping
  .claude/skills/delete-test-sessions/skill.md
Due: none

[TASK-390] Add PreTestInfoView bottom-sheet component with gate logic, localized strings, and accessibility identifiers
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Components/PreTestInfoView.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-390] Wire PreTestInfoView into DashboardView with gate check and test navigation
  ios/AIQ/Features/Dashboard/Views/DashboardView.swift
Due: swiftlint, swiftformat

[TASK-390] Add unit tests for PreTestInfoGate show/hide logic covering all four combinations
  ios/AIQTests/ViewModels/PreTestInfoGateTests.swift
Due: swiftlint, swiftformat

[TASK-390] Apply review fixes: defer navigation until sheet dismissal, add .large detent fallback
  ios/AIQ/Features/Dashboard/Views/DashboardView.swift
  ios/AIQ/Views/Components/PreTestInfoView.swift
Due: swiftlint, swiftformat

[TASK-395] Add is_admin boolean to User model and Alembic migration
  backend/alembic/versions/0ddb89f93e84_add_is_admin_to_users.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-395] Expose is_admin field in UserResponse schema
  backend/app/schemas/auth.py
Due: mypy-backend, check-magic-numbers

[TASK-395] Add GET and PATCH admin-status endpoints for is_admin flag
  backend/app/api/v1/admin/users.py
Due: mypy-backend, check-magic-numbers

[TASK-395] Add unit tests for admin-status endpoints
  backend/tests/admin/test_admin_users.py
Due: mypy-backend, check-float-comparisons

[TASK-395] Regenerate OpenAPI spec with is_admin in UserResponse and AdminStatus schemas
  docs/api/openapi.json
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/openapi.json
Due: none

[TASK-396] Regenerate OpenAPI client with is_admin on UserResponse
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Client.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Types.swift
Due: swiftlint, swiftformat

[TASK-396] Fix compilation and lint issues after OpenAPI client regeneration
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Features/History/Views/ChartDomainCalculator.swift
  ios/AIQ/Features/Settings/ViewModels/FeedbackViewModel.swift
  ios/AIQ/Features/Settings/Views/SettingsView.swift
  ios/AIQ/Features/Test/ViewModels/AdaptiveTestCoordinator.swift
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/Models/PerformanceInsights.swift
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Models/Question.swift
  ios/AIQ/Models/TestResult+Extensions.swift
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQTests/Extensions/AIQAPIClientExtensionsTests.swift
  ios/AIQTests/Integration/ActiveSessionFlowIntegrationTests.swift
  ios/AIQTests/Mocks/MockAuthManager.swift
  ios/AIQTests/Models/PerformanceInsightsTests.swift
  ios/AIQTests/Models/TestResultTests.swift
  ios/AIQTests/Models/UserTests.swift
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
  ios/AIQTests/ViewModels/FeedbackViewModelTests.swift
  ios/AIQTests/ViewModels/HistoryViewModelTests.swift
  ios/AIQTests/ViewModels/SettingsViewModelTests.swift
  ios/AIQTests/Views/IQTrendChartTests.swift
Due: swiftlint, swiftformat

[TASK-396] Add admin environment key and screenshotPreventedUnlessAdmin helper
  ios/AIQ/Models/Extensions/User+Extensions.swift
  ios/AIQ/Views/Components/RootView.swift
  ios/AIQ/Views/Components/ScreenshotBypass.swift
Due: swiftlint, swiftformat

[TASK-396] Use screenshotPreventedUnlessAdmin in question/answer views
  ios/AIQ/Features/Test/Views/AnswerInputView.swift
  ios/AIQ/Features/Test/Views/MemoryQuestionView.swift
  ios/AIQ/Features/Test/Views/QuestionCardView.swift
Due: swiftlint, swiftformat

[TASK-397] Restore nextQuestion, result, stoppingReason fields to AdaptiveNextResponse and fix question delivery
  ios/AIQ/Features/Test/ViewModels/AdaptiveTestCoordinator.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/GeneratedSources/Types.swift
Due: swiftlint, swiftformat

Document Swift OpenAPI Generator anyOf null limitation in regen instructions
  ios/CLAUDE.md
Due: none

[TASK-399] Add unit tests for AdaptiveTestCoordinator covering question delivery, completion, and error handling
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/ViewModels/AdaptiveTestCoordinatorTests.swift
Due: swiftlint, swiftformat

[TASK-399] Apply review fixes
  ios/AIQTests/ViewModels/AdaptiveTestCoordinatorTests.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
