Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-1211] Apply Xcode 16.4 workaround to ui-tests job (#1131)
  .github/workflows/ios-ci.yml
Due: none

[TASK-1204] Add _LazySettings proxy to defer Settings() init until first attribute access
  question-service/app/config/config.py
  question-service/app/infrastructure/logging_config.py
  question-service/app/providers/base.py
  question-service/tests/config/test_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1204] Add _LazySettings proxy to defer Settings() init until first attribute access (#1132)
  question-service/app/config/config.py
  question-service/app/infrastructure/logging_config.py
  question-service/app/providers/base.py
  question-service/tests/config/test_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1213] Add pytest_configure hook to inject dummy OPENAI_API_KEY in tests
  .github/workflows/question-service-ci.yml
  question-service/tests/conftest.py
Due: mypy-question-service

[TASK-1213] Add pytest_configure hook to inject dummy OPENAI_API_KEY in tests (#1133)
  .github/workflows/question-service-ci.yml
  question-service/tests/conftest.py
Due: mypy-question-service

[TASK-179] Add BiometricLockView and wire biometric auth into app launch flow
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Common/BiometricLockView.swift
  ios/AIQ/Views/Common/RootView.swift
  ios/AIQTests/Views/BiometricLockViewTests.swift
Due: swiftlint, swiftformat

[TASK-179] Add BiometricLockView and wire biometric auth into app launch flow (#1134)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Common/BiometricLockView.swift
  ios/AIQ/Views/Common/RootView.swift
  ios/AIQTests/Views/BiometricLockViewTests.swift
Due: swiftlint, swiftformat

[TASK-1197] Assign unique revision ID c4d5e6f7a8b9 to day_30_reminder_query_index and consolidate to single head
  backend/alembic/versions/b2c3d4e5f6g7_add_response_session_id_covering_index.py
  backend/alembic/versions/c4d5e6f7a8b9_add_day_30_reminder_query_index.py
Due: mypy-backend

[TASK-1197] Assign unique revision ID c4d5e6f7a8b9 to day_30_reminder_query_index and consolidate to single head (#1135)
  backend/alembic/versions/b2c3d4e5f6g7_add_response_session_id_covering_index.py
  backend/alembic/versions/c4d5e6f7a8b9_add_day_30_reminder_query_index.py
Due: mypy-backend

[TASK-1194] Add asyncio.iscoroutinefunction guard to safe_background_task
  backend/app/core/background_tasks.py
  backend/tests/core/test_background_tasks.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1194] Add asyncio.iscoroutinefunction guard to safe_background_task (#1136)
  backend/app/core/background_tasks.py
  backend/tests/core/test_background_tasks.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1193] Include task name in BackgroundTaskFailure metric label
  backend/app/core/background_tasks.py
  backend/tests/core/test_background_tasks.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1193] Include task name in BackgroundTaskFailure metric label (#1137)
  backend/app/core/background_tasks.py
  backend/tests/core/test_background_tasks.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1216] Add --criteria flag to Category B deferred task template
  .claude/skills/next-task/FINALIZE.md
Due: none

[TASK-1216] Add --criteria flag to Category B deferred task template (#1138)
  .claude/skills/next-task/FINALIZE.md
Due: none

[TASK-1199] Update Sentry DSN examples to use numeric project ID
  backend/DEPLOYMENT.md
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: none

[TASK-1199] Update Sentry DSN examples to use numeric project ID (#1140)
  backend/DEPLOYMENT.md
  question-service/docs/RAILWAY_DEPLOYMENT.md
Due: none

[TASK-1214] Fix DeepLinkHandlerProtocol actor isolation warnings
  .claude/bin/tusk-call-breakdown.py
  .claude/bin/tusk-dashboard-css.py
  .claude/bin/tusk-dashboard-data.py
  .claude/bin/tusk-dashboard-html.py
  .claude/bin/tusk-dashboard-js.py
  .claude/bin/tusk-lint-rules.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-skill-run.py
  .claude/bin/tusk-task-reopen.py
  .claude/hooks/branch-naming.sh
  .claude/hooks/commit-msg-format.sh
  .claude/hooks/version-bump-check.sh
  .claude/skills/chain/AGENT-PROMPT.md
  .claude/skills/retro/FOCUS.md.example
  .claude/skills/review-commits/REVIEWER-PROMPT.md
  .claude/skills/review-commits/SKILL.md
  .claude/skills/tusk-update/SKILL.md
  .claude/skills/tusk/FINALIZE.md
  .claude/skills/tusk/SKILL.md
  .claude/skills/tusk/SUBCOMMANDS.md
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQTests/Mocks/MockDeepLinkHandler.swift
Due: swiftlint, swiftformat

[TASK-1214] Fix AppDelegate call site and add explicit @MainActor to test conformances
  ios/AIQ/AppDelegate.swift
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
Due: swiftlint, swiftformat

[TASK-1214] Fix DeepLinkHandlerProtocol actor isolation warnings (#1141)
  .claude/bin/tusk-call-breakdown.py
  .claude/bin/tusk-dashboard-css.py
  .claude/bin/tusk-dashboard-data.py
  .claude/bin/tusk-dashboard-html.py
  .claude/bin/tusk-dashboard-js.py
  .claude/bin/tusk-lint-rules.py
  .claude/bin/tusk-merge.py
  .claude/bin/tusk-skill-run.py
  .claude/bin/tusk-task-reopen.py
  .claude/hooks/branch-naming.sh
  .claude/hooks/commit-msg-format.sh
  .claude/hooks/version-bump-check.sh
  .claude/skills/chain/AGENT-PROMPT.md
  .claude/skills/retro/FOCUS.md.example
  .claude/skills/review-commits/REVIEWER-PROMPT.md
  .claude/skills/review-commits/SKILL.md
  .claude/skills/tusk-update/SKILL.md
  .claude/skills/tusk/FINALIZE.md
  .claude/skills/tusk/SKILL.md
  .claude/skills/tusk/SUBCOMMANDS.md
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQTests/Mocks/MockDeepLinkHandler.swift
Due: swiftlint, swiftformat

[TASK-1214] Fix DeepLink actor isolation warnings (#1142)
  ios/AIQ/AppDelegate.swift
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
Due: swiftlint, swiftformat

[TASK-1215] Add UITestMockBiometricPreferenceStorage and wire biometric mock in MockServiceConfiguration
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/DI/MockServiceConfiguration.swift
  ios/AIQ/Utilities/Mocks/UITestMockBiometricPreferenceStorage.swift
Due: swiftlint, swiftformat

[TASK-1215] Add BiometricLockViewUITests covering lock appearance, success, sign-out, and failure
  ios/AIQUITests/BiometricLockViewUITests.swift
Due: swiftlint, swiftformat

Fix duplicate Alembic revision ID causing multiple heads error on Railway
  backend/alembic/versions/a1b2c3d4e5f6_add_day_30_reminder_query_index.py
Due: mypy-backend

[TASK-1218] Add database connectivity check to health endpoint
  backend/app/api/v1/health.py
Due: mypy-backend, check-magic-numbers

[TASK-1218] Document stale DATABASE_URL runbook for Railway password auth failures
  backend/DEPLOYMENT.md
Due: none

[TASK-1218] Fail fast with clear error when DATABASE_URL is empty in production
  backend/app/models/base.py
Due: mypy-backend, check-magic-numbers

[TASK-1218] Add 3s timeout to health endpoint DB check to prevent hanging
  backend/app/api/v1/health.py
Due: mypy-backend, check-magic-numbers

[TASK-1218] Show database host in health response for diagnostics
  backend/app/api/v1/health.py
Due: mypy-backend, check-magic-numbers

[TASK-1218] Fix async URL construction stripping underscores from hostname via SQLAlchemy round-trip
  backend/app/models/base.py
Due: mypy-backend, check-magic-numbers

[TASK-1218] Remove temporary database_host diagnostic field from health response
  backend/app/api/v1/health.py
Due: mypy-backend, check-magic-numbers

[TASK-1220] Gate database_error field in health response to non-production
  backend/app/api/v1/health.py
Due: mypy-backend, check-magic-numbers

[TASK-1221] Extract _build_async_url helper and add regression tests for underscore hostname preservation
  backend/app/models/base.py
  backend/tests/db/test_async_url_construction.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1221] Tighten SQLAlchemy roundtrip assertion to cover unexpected hostname mangling
  backend/tests/db/test_async_url_construction.py
Due: mypy-backend, check-float-comparisons

[TASK-1223] Add DateTime(timezone=True) to all Mapped[datetime] columns and write TIMESTAMPTZ migration
  backend/alembic/versions/7467090f416b_migrate_all_timestamp_columns_to_.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-1223] Add lock_timeout and clarifying comments to TIMESTAMPTZ migration
  backend/alembic/versions/7467090f416b_migrate_all_timestamp_columns_to_.py
Due: mypy-backend

[TASK-1223] Mirror lock_timeout in downgrade() for safe rollback
  backend/alembic/versions/7467090f416b_migrate_all_timestamp_columns_to_.py
Due: mypy-backend

[TASK-1223] Fix duplicate index error in TIMESTAMPTZ migration
  backend/alembic/versions/7467090f416b_migrate_all_timestamp_columns_to_.py
Due: mypy-backend
