Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-1121] Add backend notification and APNs edge case tests (#1077)
  .secrets.baseline
  backend/alembic/versions/a1b2c3d4e5f6_add_day_30_reminder_query_index.py
  backend/app/api/v1/admin/notifications.py
  backend/app/api/v1/feedback.py
  backend/app/api/v1/test.py
  backend/app/services/notification_scheduler.py
  backend/tests/conftest.py
  backend/tests/test_admin_notifications.py
  backend/tests/test_apns_service.py
  backend/tests/test_feedback.py
  backend/tests/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1122] Improve Dependabot and CI/CD documentation
  .github/CI_CD_SETUP.md
  .github/dependabot.yml
  .secrets.baseline
  CLAUDE.md
  docs/infrastructure/DEPENDABOT.md
Due: none

[TASK-1122] Improve Dependabot and CI/CD documentation (#1078)
  .github/CI_CD_SETUP.md
  .github/dependabot.yml
  .secrets.baseline
  CLAUDE.md
  docs/infrastructure/DEPENDABOT.md
Due: none

[TASK-1123] Add haptic feedback throughout iOS app
  ios/AIQ/Services/ToastManager.swift
  ios/AIQ/Views/Common/IconButton.swift
  ios/AIQ/Views/Common/PrimaryButton.swift
  ios/AIQ/Views/Common/ToastView.swift
  ios/AIQ/Views/Dashboard/InProgressTestCard.swift
  ios/AIQ/Views/Test/TestResultsView.swift
  ios/AIQ/Views/Test/TimeWarningBanner.swift
  ios/AIQ/en.lproj/Localizable.strings
Due: swiftlint, swiftformat

[TASK-1123] Address PR review: add haptic tests and improve comments
  ios/AIQ/Services/ToastManager.swift
  ios/AIQ/en.lproj/Localizable.strings
  ios/AIQTests/Services/ToastManagerTests.swift
  ios/AIQTests/Utilities/DI/ServiceConfigurationTests.swift
Due: swiftlint, swiftformat

[TASK-1123] Add iOS haptic feedback improvements (#1086)
  ios/AIQ/Services/ToastManager.swift
  ios/AIQ/Views/Common/IconButton.swift
  ios/AIQ/Views/Common/PrimaryButton.swift
  ios/AIQ/Views/Common/ToastView.swift
  ios/AIQ/Views/Dashboard/InProgressTestCard.swift
  ios/AIQ/Views/Test/TestResultsView.swift
  ios/AIQ/Views/Test/TimeWarningBanner.swift
  ios/AIQ/en.lproj/Localizable.strings
  ios/AIQTests/Services/ToastManagerTests.swift
  ios/AIQTests/Utilities/DI/ServiceConfigurationTests.swift
Due: swiftlint, swiftformat

[TASK-1124] Enable iPad device family in project configuration
  ios/AIQ.xcodeproj/project.pbxproj
  ios/project.yml
Due: none

[TASK-1124] Add adaptive layout container for iPad-optimized content width
  ios/AIQ/Utilities/Design/DesignSystem.swift
  ios/AIQ/Views/Dashboard/DashboardView.swift
  ios/AIQ/Views/History/HistoryView.swift
Due: swiftlint, swiftformat

[TASK-1124] Add iPad keyboard shortcuts for tab navigation
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Views/Common/MainTabView.swift
Due: swiftlint, swiftformat

[TASK-1124] Remove SwiftUI dependency from AIQAPIClient and add i18n notes
  ios/AIQ/Models/Question+Extensions.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/Extensions/QuestionResponse+UI.swift
Due: swiftlint, swiftformat

[TASK-1124] Address PR review: refresh observers and shortcut race condition
  ios/AIQ/Views/Common/MainTabView.swift
  ios/AIQ/Views/Dashboard/DashboardView.swift
  ios/AIQ/Views/History/HistoryView.swift
Due: swiftlint, swiftformat

[TASK-1124] Add iPad multi-device support (#1087)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Models/Question+Extensions.swift
  ios/AIQ/Utilities/Design/DesignSystem.swift
  ios/AIQ/Views/Common/MainTabView.swift
  ios/AIQ/Views/Dashboard/DashboardView.swift
  ios/AIQ/Views/History/HistoryView.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/Extensions/QuestionResponse+UI.swift
  ios/project.yml
Due: swiftlint, swiftformat

[TASK-1125] Improve backend security audit and rate limiting tests
  .secrets.baseline
  backend/DEPLOYMENT.md
  backend/app/core/security_audit.py
  backend/app/ratelimit/middleware.py
  backend/tests/test_admin_auth.py
  backend/tests/test_ratelimit_middleware.py
  backend/tests/test_security_audit.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1125] Improve backend security audit and rate limiting tests (#1088)
  .secrets.baseline
  backend/DEPLOYMENT.md
  backend/app/core/security_audit.py
  backend/app/ratelimit/middleware.py
  backend/tests/test_admin_auth.py
  backend/tests/test_ratelimit_middleware.py
  backend/tests/test_security_audit.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1126] Improve question-service embedding and dedup pipeline
  question-service/app/circuit_breaker.py
  question-service/app/database.py
  question-service/app/deduplicator.py
  question-service/app/embedding_cache.py
  question-service/app/embedding_utils.py
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/google_provider.py
  question-service/app/providers/xai_provider.py
  question-service/app/text_utils.py
  question-service/app/type_mapping.py
  question-service/tests/test_deduplicator_embedding_fallback.py
  question-service/tests/test_text_utils.py
  question-service/tests/test_type_mapping.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Add thread safety to InMemoryEmbeddingCache
  question-service/app/embedding_cache.py
Due: mypy-question-service, check-magic-numbers

[TASK-1126] Improve question-service embedding and dedup pipeline (#1089)
  question-service/app/circuit_breaker.py
  question-service/app/database.py
  question-service/app/deduplicator.py
  question-service/app/embedding_cache.py
  question-service/app/embedding_utils.py
  question-service/app/providers/anthropic_provider.py
  question-service/app/providers/google_provider.py
  question-service/app/providers/xai_provider.py
  question-service/app/text_utils.py
  question-service/app/type_mapping.py
  question-service/tests/test_deduplicator_embedding_fallback.py
  question-service/tests/test_text_utils.py
  question-service/tests/test_type_mapping.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1127] Improve backend OpenAPI and export tooling
  .gitattributes
  .github/workflows/backend-ci.yml
  .github/workflows/ios-ci.yml
  .secrets.baseline
  backend/README.md
  backend/export_openapi.py
  backend/scripts/detect_breaking_changes.py
  backend/tests/test_export_openapi.py
  docs/OPENAPI_USAGE_GUIDE.md
  ios/scripts/sync_openapi_spec.sh
Due: mypy-backend, check-float-comparisons

[TASK-1127] Address PR review: cleanup ordering, docs, and HTTP methods
  .github/workflows/backend-ci.yml
  backend/export_openapi.py
  backend/scripts/detect_breaking_changes.py
Due: mypy-backend

[TASK-1127] Improve backend OpenAPI and export tooling (#1090)
  .gitattributes
  .github/workflows/backend-ci.yml
  .github/workflows/ios-ci.yml
  .secrets.baseline
  backend/README.md
  backend/export_openapi.py
  backend/scripts/detect_breaking_changes.py
  backend/tests/test_export_openapi.py
  docs/OPENAPI_USAGE_GUIDE.md
  ios/scripts/sync_openapi_spec.sh
Due: mypy-backend, check-float-comparisons

[TASK-904] Use None instead of zero for bootstrap SE on small samples
  backend/app/core/cat/calibration.py
  backend/tests/core/test_calibration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-904] Use None instead of zero for bootstrap SE on small samples (#1091)
  backend/app/core/cat/calibration.py
  backend/tests/core/test_calibration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-905] Add convergence diagnostics for girth twopl_mml
  backend/app/core/cat/calibration.py
  backend/tests/core/test_calibration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-905] Add convergence diagnostics for girth twopl_mml (#1092)
  backend/app/core/cat/calibration.py
  backend/tests/core/test_calibration.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-350] Remove SwiftUI dependency from ViewModels by abstracting storage
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Storage/HistoryPreferencesStorage.swift
  ios/AIQ/Services/Storage/OnboardingStorage.swift
  ios/AIQ/Utilities/DI/ServiceConfiguration.swift
  ios/AIQ/Utilities/DI/ViewModelFactory.swift
  ios/AIQ/ViewModels/HistoryViewModel.swift
  ios/AIQ/ViewModels/OnboardingViewModel.swift
  ios/AIQTests/ViewModels/HistoryViewModelTests.swift
  ios/AIQTests/ViewModels/OnboardingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-350] Remove SwiftUI dependency from ViewModels by abstracting storage (#1093)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Storage/HistoryPreferencesStorage.swift
  ios/AIQ/Services/Storage/OnboardingStorage.swift
  ios/AIQ/Utilities/DI/ServiceConfiguration.swift
  ios/AIQ/Utilities/DI/ViewModelFactory.swift
  ios/AIQ/ViewModels/HistoryViewModel.swift
  ios/AIQ/ViewModels/OnboardingViewModel.swift
  ios/AIQTests/ViewModels/HistoryViewModelTests.swift
  ios/AIQTests/ViewModels/OnboardingViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1161] Add async SQLAlchemy foundation (dual engine + get_async_db)
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/test_async_db.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1161] Address PR review: robust URL parsing and specific exception
  backend/app/models/base.py
  backend/tests/test_async_db.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1161] Address PR review round 2: simplify driver lookup and fix aclose
  backend/app/models/base.py
  backend/tests/test_async_db.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1161] Add async SQLAlchemy foundation (dual engine + get_async_db) (#1094)
  backend/app/models/__init__.py
  backend/app/models/base.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/test_async_db.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1162] Convert auth endpoints to async/await
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/core/auth.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_auth_logout_all.py
  backend/tests/test_auth_logout_revocation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1162] Convert auth endpoints to async/await (#1096)
  .secrets.baseline
  backend/app/api/v1/auth.py
  backend/app/core/auth.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_auth_logout_all.py
  backend/tests/test_auth_logout_revocation.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1163] Convert user, feedback, and notification endpoints to async database operations
  backend/app/api/v1/feedback.py
  backend/app/api/v1/notifications.py
  backend/app/api/v1/user.py
  backend/tests/test_feedback.py
  backend/tests/test_user.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1163] Convert user, feedback, and notification endpoints to async database operations (#1097)
  backend/app/api/v1/feedback.py
  backend/app/api/v1/notifications.py
  backend/app/api/v1/user.py
  backend/tests/test_feedback.py
  backend/tests/test_user.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1164] Convert test session endpoints to async database operations
  backend/app/api/v1/question_analytics.py
  backend/app/api/v1/questions.py
  backend/app/api/v1/test.py
  backend/app/core/distractor_analysis.py
  backend/app/core/question_analytics.py
  backend/app/core/reliability/__init__.py
  backend/app/core/reliability/report.py
  backend/app/core/scoring.py
  backend/app/core/system_config.py
  backend/app/core/test_composition.py
  backend/app/core/time_analysis.py
  backend/tests/test_test_sessions.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

Document transaction isolation in async_get_reliability_report
  backend/app/core/reliability/report.py
Due: mypy-backend, check-magic-numbers

[TASK-1164] Convert test session endpoints to async database operations (#1098)
  backend/app/api/v1/question_analytics.py
  backend/app/api/v1/questions.py
  backend/app/api/v1/test.py
  backend/app/core/distractor_analysis.py
  backend/app/core/question_analytics.py
  backend/app/core/reliability/__init__.py
  backend/app/core/reliability/report.py
  backend/app/core/scoring.py
  backend/app/core/system_config.py
  backend/app/core/test_composition.py
  backend/app/core/time_analysis.py
  backend/tests/test_test_sessions.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1165] Convert admin endpoints to async database operations
  backend/app/api/v1/admin/analytics.py
  backend/app/api/v1/admin/anchor_items.py
  backend/app/api/v1/admin/calibration.py
  backend/app/api/v1/admin/calibration_monitoring.py
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/api/v1/admin/config.py
  backend/app/api/v1/admin/discrimination.py
  backend/app/api/v1/admin/distractors.py
  backend/app/api/v1/admin/generation.py
  backend/app/api/v1/admin/inventory.py
  backend/app/api/v1/admin/notifications.py
  backend/app/api/v1/admin/reliability.py
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/api/v1/admin/validity.py
Due: mypy-backend, check-magic-numbers

[TASK-1165] Convert admin endpoints to async database operations (#1099)
  backend/app/api/v1/admin/analytics.py
  backend/app/api/v1/admin/anchor_items.py
  backend/app/api/v1/admin/calibration.py
  backend/app/api/v1/admin/calibration_monitoring.py
  backend/app/api/v1/admin/cat_readiness.py
  backend/app/api/v1/admin/config.py
  backend/app/api/v1/admin/discrimination.py
  backend/app/api/v1/admin/distractors.py
  backend/app/api/v1/admin/generation.py
  backend/app/api/v1/admin/inventory.py
  backend/app/api/v1/admin/notifications.py
  backend/app/api/v1/admin/reliability.py
  backend/app/api/v1/admin/security_monitoring.py
  backend/app/api/v1/admin/shadow_cat.py
  backend/app/api/v1/admin/validity.py
Due: mypy-backend, check-magic-numbers
