Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-12] post .refreshCurrentView notification on test submission success to invalidate active-session cache
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-17] fix ToastManagerProtocol existential type warnings using (any Protocol).self syntax
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Utilities/DI/ServiceConfiguration.swift
  ios/AIQ/ViewModels/ToastManagerObserver.swift
  ios/AIQ/Views/Components/MainTabView.swift
Due: swiftlint, swiftformat

[TASK-17] fix UIApplication.shared actor isolation warning by moving default to init body
  ios/AIQ/Services/Auth/NotificationManager.swift
Due: swiftlint, swiftformat

[TASK-17] fix suggest comments: use (any Protocol).self in tests/mocks and any ApplicationProtocol stored property
  ios/AIQ/Services/Auth/NotificationManager.swift
  ios/AIQ/Utilities/DI/MockServiceConfiguration.swift
  ios/AIQTests/Utilities/DI/ServiceConfigurationTests.swift
  ios/AIQTests/ViewModels/ToastManagerObserverTests.swift
Due: swiftlint, swiftformat

[TASK-19] add 'any' keyword to bare protocol stored properties and init params
  ios/AIQ/Services/Auth/NotificationManager.swift
Due: swiftlint, swiftformat

fix duplicate hook registrations in .claude/settings.json
  .claude/settings.json
Due: none

[TASK-20] upgrade black to 26.3.1 to fix arbitrary file write vulnerability
  backend/requirements.txt
  question-service/requirements.txt
Due: none

Upgrade tusk to v399
  .claude/bin/VERSION
  .claude/bin/tusk-commit.py
  .claude/skills/create-task/SKILL.md
  .claude/skills/investigate/SKILL.md
  .claude/skills/review-commits/REVIEWER-PROMPT.md
  .claude/skills/review-commits/SKILL.md
  .claude/skills/tusk/SKILL.md
Due: none

Upgrade tusk to v400
  .claude/bin/VERSION
  .claude/bin/tusk-dashboard-html.py
  .claude/bin/tusk-dashboard.py
Due: none

Upgrade tusk to v401
  .claude/bin/VERSION
  .claude/bin/tusk-merge.py
Due: none

[TASK-21] clamp openai._base_client and httpcore sub-loggers to WARNING
  question-service/app/infrastructure/logging_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-21] Apply review fixes: guard sub-logger clamp with numeric_level > DEBUG
  question-service/app/infrastructure/logging_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-23] extend teardown_method to reset sub-logger levels
  question-service/tests/observability/test_logging_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-24] correct Gemini judge model name: gemini-3-pro-preview → gemini-2.5-pro
  question-service/config/judges.yaml
Due: none

[TASK-24] add runtime fallback in evaluate_question and evaluate_question_async
  question-service/app/evaluation/judge.py
  question-service/tests/evaluation/test_judge.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-24] Apply review fixes: clarify fallback comments, clean up test patches, add double-failure test
  question-service/app/evaluation/judge.py
  question-service/config/judges.yaml
  question-service/tests/evaluation/test_judge.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-26] add /refresh-providers note before editing model identifiers
  question-service/CLAUDE.md
Due: none

[TASK-27] replace leaking sample_question fixture with valid math question
  question-service/tests/evaluation/test_deduplicator.py
  question-service/tests/evaluation/test_judge.py
Due: mypy-question-service, check-float-comparisons

[TASK-25] give async fallback an independent timeout (self._fallback_timeout)
  question-service/app/evaluation/judge.py
  question-service/tests/evaluation/test_judge.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-25] Apply review fixes: correct timeout/provider in fallback TimeoutError log, validate fallback_timeout_seconds > 0, strengthen test via constructor, clarify async-only docstring
  question-service/app/evaluation/judge.py
  question-service/tests/evaluation/test_judge.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-28] add Rule 22: advisory model name validation for judges/generators config
  .claude/bin/tusk-lint.py
Due: none

[TASK-28] fix stale gemini-3-pro-preview fallback in generators.yaml math+spatial
  question-service/config/generators.yaml
Due: none

[TASK-29] replace unrealistic fixture data with realistic math question
  question-service/tests/evaluation/test_deduplicator.py
Due: mypy-question-service, check-float-comparisons

[TASK-30] add unit tests for rule22_provider_model_validation
  .claude/bin/tusk-lint-rule22-test.py
Due: none

[TASK-30] apply review fixes: temp cleanup, remove unused import, clearer test names
  .claude/bin/tusk-lint-rule22-test.py
Due: none

[TASK-31] expand rule22 config scope from hardcoded list to glob with structural filter
  .claude/bin/tusk-lint-rule22-test.py
  .claude/bin/tusk-lint.py
Due: none

[TASK-31] apply review fixes: hoist glob import + MODEL_SECTION_KEYS to module level, remove redundant isfile guard, add null-section test
  .claude/bin/tusk-lint-rule22-test.py
  .claude/bin/tusk-lint.py
Due: none

Upgrade tusk to v408
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-lint.py
  .claude/bin/tusk-migrate.py
  .claude/bin/tusk-review.py
  .claude/skills/review-commits/REVIEWER-PROMPT.md
  .claude/skills/review-commits/SKILL.md
Due: none

[TASK-33] auto-disable email alerts instead of crashing when required vars missing
  question-service/app/config/config.py
  question-service/tests/config/test_config.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

Upgrade tusk to v411
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-dashboard-data.py
  .claude/bin/tusk-migrate.py
  .claude/bin/tusk-task-done.py
  .claude/bin/tusk-task-start.py
  .claude/skills/review-commits/SKILL.md
Due: none

Upgrade tusk to v412
  .claude/bin/VERSION
  .claude/bin/tusk-upgrade.py
  .claude/skills/review-commits/REVIEWER-PROMPT.md
  .claude/skills/review-commits/SKILL.md
Due: none

Upgrade tusk to v413
  .claude/bin/VERSION
  .claude/bin/tusk-commit.py
Due: none

Upgrade tusk to v415
  .claude/bin/VERSION
  .claude/bin/tusk-commit.py
  .claude/skills/review-commits/SKILL.md
Due: none

Upgrade tusk to v417
  .claude/bin/VERSION
  .claude/bin/tusk-commit.py
Due: none

Upgrade tusk to v418
  .claude/bin/VERSION
  .claude/bin/tusk-commit.py
Due: none

Upgrade tusk to v427
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-dashboard-data.py
  .claude/bin/tusk-dashboard-html.py
  .claude/bin/tusk-migrate.py
  .claude/bin/tusk-pricing-lib.py
  .claude/bin/tusk-session-recalc.py
  .claude/bin/tusk-session-stats.py
  .claude/skills/tusk/SKILL.md
Due: none

Upgrade tusk to v430
  .claude/bin/VERSION
  .claude/bin/tusk-commit.py
  .claude/skills/review-commits/SKILL.md
Due: none

[TASK-34] Add ALERT_FROM_EMAIL to startup validation and improve AlertManager missing-var warning
  question-service/app/config/config.py
  question-service/app/observability/alerting.py
Due: mypy-question-service, check-magic-numbers

[TASK-35] Create libs/logging/logging_config.py with no service dependencies
  libs/logging/__init__.py
  libs/logging/logging_config.py
Due: none

[TASK-35] Convert question-service logging_config.py to shim; update callers to import from libs.logging
  question-service/app/infrastructure/logging_config.py
  question-service/run_generation.py
  question-service/scripts/bootstrap_inventory.py
  question-service/scripts/infer_sub_types.py
  question-service/scripts/reevaluate_questions.py
  question-service/trigger_server.py
Due: mypy-question-service, check-magic-numbers
