Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-230] Add run_cron_readiness.sh wrapper for CAT readiness cron job
  backend/scripts/run_cron_readiness.sh
Due: none

[TASK-233] Replace logout confirmationDialog with centered custom modal overlay
  ios/AIQ/Features/Settings/Views/SettingsView.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
Due: swiftlint, swiftformat

[TASK-233] Apply review fixes: dismiss modal on confirm, add opacity transition and isModal trait
  ios/AIQ/Features/Settings/Views/SettingsView.swift
Due: swiftlint, swiftformat

[TASK-235] Add #if DEBUG cache miss log to DataCache.get
  ios/AIQ/Services/Storage/DataCache.swift
Due: swiftlint, swiftformat

[TASK-212] Fix get_limits() to peek without consuming quota via strategy.peek()
  backend/app/ratelimit/limiter.py
  backend/app/ratelimit/strategies.py
Due: mypy-backend, check-magic-numbers

[TASK-212] Apply review fixes: fix current_time falsy-zero in peek(), add peek/get_limits tests, fix retry_after in peek()
  backend/app/ratelimit/strategies.py
  backend/tests/ratelimit/test_ratelimit_limiter.py
  backend/tests/ratelimit/test_ratelimit_strategies.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-238] Fix falsy-zero current_time in is_allowed() and unskip dependent tests
  backend/app/ratelimit/strategies.py
  backend/tests/ratelimit/test_ratelimit_strategies.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-224] Add AIQAPIClient product target with UI extensions stub, update CLAUDE.md for local packages
  ios/CLAUDE.md
  ios/Packages/APIClient/Sources/AIQAPIClient/AIQAPIClient+UI.swift
Due: swiftlint, swiftformat

[TASK-224] Fix LoggingMiddleware URL construction to preserve query params
  ios/Packages/APIClient/Sources/APIClient/Middleware/LoggingMiddleware.swift
Due: swiftlint, swiftformat

[TASK-239] Remove stale ios-libs reference from project_libs; fix ios README drift
  ios/README.md
  tusk/config.json
Due: none

[TASK-241] Update build/ and Packages/ descriptions in ios/README.md
  ios/README.md
Due: none

[TASK-201] Replace per-question insertion loop with batch API call
  question-service/app/data/insertion_runner.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-203] Replace per-question cosine loop with single np.dot matrix operation
  question-service/app/data/deduplicator.py
Due: mypy-question-service, check-magic-numbers

[TASK-242] Remove dead _cosine_similarity method and its unit tests
  question-service/app/data/deduplicator.py
  question-service/tests/evaluation/test_deduplicator.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-210] Remove sys.path hacks; import gioe_libs.observability as package
  question-service/app/evaluation/judge.py
  question-service/app/generation/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-219] Document SENTRY_DSN as optional in .env.example
  backend/.env.example
Due: none

[TASK-220] Initialize AlertManager singleton at startup from SLACK_ALERT_WEBHOOK env var
  backend/app/core/config.py
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

[TASK-220] Document SLACK_ALERT_WEBHOOK in .env.example; alerts no-op when unset
  backend/.env.example
Due: none

[TASK-220] Fix blocking send_alert in async handler; include exception message in alert
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

[TASK-223] Replace raw Color/Font literals in SettingsView with SharedKit theme tokens
  ios/AIQ/Features/Settings/Views/SettingsView.swift
Due: swiftlint, swiftformat

[TASK-231] Fix 5 pre-existing test failures in question-service
  question-service/app/reporting/alerting_adapter.py
  question-service/tests/generation/test_generator.py
  question-service/tests/infrastructure/test_retry.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-232] Call DataCache.clearAll() on logout to prevent stale cache after re-login
  ios/AIQ/Services/Auth/AuthManager.swift
Due: swiftlint, swiftformat

[TASK-234] Suppress setLoading during pull-to-refresh to prevent ScrollView destruction
  ios/AIQ/Features/Dashboard/ViewModels/DashboardViewModel.swift
Due: swiftlint, swiftformat

[TASK-246] Suppress setLoading during pull-to-refresh to prevent ScrollView destruction
  ios/AIQ/Features/History/ViewModels/HistoryViewModel.swift
Due: swiftlint, swiftformat

[TASK-247] Add unit tests for DashboardViewModel refreshDashboard
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-247] Add isRefreshing and getActiveTestCalled assertions from review
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-248] Add refreshHistory tests: isLoading, isRefreshing, testHistory population
  ios/AIQTests/ViewModels/HistoryViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-240] Add APIClientTests test target with middleware and transcoder unit tests
  ios/Packages/APIClient/Package.swift
  ios/Packages/APIClient/Tests/APIClientTests/AuthenticationMiddlewareTests.swift
  ios/Packages/APIClient/Tests/APIClientTests/FlexibleISO8601DateTranscoderTests.swift
  ios/Packages/APIClient/Tests/APIClientTests/LoggingMiddlewareTests.swift
Due: swiftlint, swiftformat

[TASK-240] Apply review fixes: remove redundant assertion, widen round-trip accuracy, document CaptureBox safety
  ios/Packages/APIClient/Tests/APIClientTests/AuthenticationMiddlewareTests.swift
  ios/Packages/APIClient/Tests/APIClientTests/FlexibleISO8601DateTranscoderTests.swift
Due: swiftlint, swiftformat

[TASK-205] Create db_models.py and update all imports
  question-service/app/data/answer_leakage_auditor.py
  question-service/app/data/database.py
  question-service/app/data/db_models.py
  question-service/app/inventory/inventory_analyzer.py
  question-service/scripts/infer_sub_types.py
  question-service/scripts/reevaluate_questions.py
Due: mypy-question-service, check-magic-numbers

[TASK-205] Apply review fix: use timezone-aware datetime.now(timezone.utc)
  question-service/app/data/db_models.py
Due: mypy-question-service, check-magic-numbers

[TASK-206] Replace local QuestionTypeEnum/DifficultyLevelEnum with canonical shared enums
  question-service/app/data/db_models.py
Due: mypy-question-service, check-magic-numbers

[TASK-202] Add get_questions_by_difficulty method with SQL WHERE and column projection
  question-service/app/data/database.py
Due: mypy-question-service, check-magic-numbers

[TASK-202] Replace get_all_questions with get_questions_by_difficulty in dedup phase and update tests
  question-service/app/data/dedup_runner.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-202] Apply review fixes: add tests for get_questions_by_difficulty and dedup caching; clarify log message
  question-service/app/data/dedup_runner.py
  question-service/tests/data/test_database.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-204] Add session_scope context manager and refactor all DatabaseService methods
  question-service/app/data/database.py
  question-service/tests/data/test_database.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-204] Apply review fixes: use flush() instead of commit() inside session_scope; tighten commit assertions
  question-service/app/data/database.py
  question-service/tests/data/test_database.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-250] Use session_scope in inventory_analyzer.analyze_inventory
  question-service/app/inventory/inventory_analyzer.py
Due: mypy-question-service, check-magic-numbers

[TASK-250] Use session_scope in reevaluate_questions database update phase
  question-service/scripts/reevaluate_questions.py
Due: mypy-question-service

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
