Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-44] Add connectivityPublisher to NetworkMonitor mocks
  ios/AIQ/Utilities/Mocks/UITestMockNetworkMonitor.swift
  ios/AIQTests/Mocks/MockNetworkMonitor.swift
Due: swiftlint, swiftformat

[TASK-52] Restore remote ios-libs URL (1.5.0) in AIQSharedKit Package.swift
  ios/Packages/AIQSharedKit/Package.swift
Due: swiftlint, swiftformat

[TASK-50] Fix assertAPIError to unwrap through .api(...) before matching APIClient.APIError cases
  ios/AIQTests/Services/AuthServiceTests.swift
Due: swiftlint, swiftformat

[TASK-54] Delete String+Localization.swift and upgrade ios-libs to 1.6.0
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/AIQ/Utilities/Extensions/String+Localization.swift
Due: swiftlint, swiftformat

[TASK-55] Migrate aiq/ios to ios-libs SharedKit ServiceContainer
  ios/AIQ/Services/Auth/NotificationManager.swift
Due: swiftlint, swiftformat

[TASK-55] Migrate aiq/ios to ios-libs SharedKit ServiceContainer
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/AIQApp.swift
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Features/Dashboard/Views/DashboardView.swift
  ios/AIQ/Features/Dashboard/Views/InProgressTestCard.swift
  ios/AIQ/Features/Onboarding/Views/OnboardingContainerView.swift
  ios/AIQ/Features/Test/Views/TestResultsView.swift
  ios/AIQ/Features/Test/Views/TimeWarningBanner.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Services/Auth/AuthService.swift
  ios/AIQ/Services/Auth/NotificationService.swift
  ios/AIQ/Services/Background/BackgroundRefreshManager.swift
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/Utilities/DI/README.md
  ios/AIQ/Utilities/DI/ServiceConfiguration.swift
  ios/AIQ/Utilities/DI/ServiceContainer.swift
  ios/AIQ/Utilities/DI/ViewModelFactory.swift
  ios/AIQ/ViewModels/AuthStateObserver.swift
  ios/AIQ/ViewModels/NetworkMonitorObserver.swift
  ios/AIQ/ViewModels/ToastManagerObserver.swift
  ios/AIQ/Views/Components/MainTabView.swift
  ios/AIQ/Views/Components/RootView.swift
  ios/AIQTests/DI/ServiceContainerTests.swift
  ios/AIQTests/Integration/CertificatePinningTests.swift
  ios/AIQTests/Utilities/DI/ServiceConfigurationTests.swift
  ios/AIQTests/Utilities/DI/ViewModelFactoryTests.swift
Due: swiftlint, swiftformat

[TASK-60] Update ios-libs dependency from 1.6.0 to 1.7.0
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

[TASK-57] Migrate AnalyticsService to ios-libs AnalyticsManager + FirebaseAnalyticsProvider
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Features/Dashboard/ViewModels/DashboardViewModel.swift
  ios/AIQ/Features/Test/ViewModels/AdaptiveTestCoordinator.swift
  ios/AIQ/Features/Test/ViewModels/TestTakingViewModel.swift
  ios/AIQ/Services/Analytics/AnalyticsService.swift
  ios/AIQ/Services/Analytics/FirebaseAnalyticsProvider.swift
  ios/AIQ/Services/Auth/AuthManager.swift
  ios/AIQ/Services/Background/BackgroundRefreshManager.swift
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
  ios/AIQ/Utilities/DI/ServiceConfiguration.swift
  ios/AIQ/Views/Components/MainTabView.swift
  ios/AIQ/Views/Components/RootView.swift
  ios/AIQTests/Mocks/MockAnalyticsManager.swift
  ios/AIQTests/Mocks/MockAnalyticsService.swift
  ios/AIQTests/Services/AnalyticsServiceTests.swift
  ios/AIQTests/Services/BackgroundRefreshManagerTests.swift
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
  ios/AIQTests/Views/DashboardViewStateTests.swift
Due: swiftlint, swiftformat

[TASK-62] Add missing AIQSharedKit import to NotificationManager.swift
  ios/AIQ/Services/Auth/NotificationManager.swift
Due: swiftlint, swiftformat

[TASK-62] Add missing AIQSharedKit import to NotificationService.swift
  ios/AIQ/Services/Auth/NotificationService.swift
Due: swiftlint, swiftformat

[TASK-62] Add AIQSharedKit import and fix manager -> authManager references in AuthStateObserver
  ios/AIQ/ViewModels/AuthStateObserver.swift
Due: swiftlint, swiftformat

[TASK-56] Replace AppRouter NavigationPath properties with per-tab NavigationCoordinator instances from SharedKit
  ios/AIQ/Services/Navigation/AppRouter.swift
Due: swiftlint, swiftformat

[TASK-56] Create AIQDeepLinkParser conforming to SharedKit DeepLinkParser protocol; extract URL parsing from old DeepLinkHandler
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Services/Navigation/AIQDeepLinkParser.swift
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
Due: swiftlint, swiftformat

[TASK-56] Rewrite DeepLinkNavigationService to route through ios-libs DeepLinkHandler and per-tab NavigationCoordinator
  ios/AIQ/Services/Navigation/DeepLinkNavigationService.swift
Due: swiftlint, swiftformat

[TASK-56] Replace NavigationStack with CoordinatedNavigationStack in all three tab views
  ios/AIQ/Views/Components/MainTabView.swift
Due: swiftlint, swiftformat

[TASK-56] Migrate all deep link and navigation tests to use AIQDeepLinkParser; add apiServiceProvider DI to DeepLinkNavigationService; remove obsolete MockDeepLinkHandler
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/Navigation/DeepLinkNavigationService.swift
  ios/AIQTests/Services/AppRouterTests.swift
  ios/AIQTests/Services/DeepLinkHandlerTests.swift
  ios/AIQTests/Services/DeepLinkNavigationIntegrationTests.swift
  ios/AIQTests/Services/DeepLinkNavigationServiceTests.swift
  ios/AIQTests/Services/PushNotificationDeepLinkTests.swift
  ios/AIQTests/Views/MainTabViewNotificationTappedTests.swift
Due: swiftlint, swiftformat

[TASK-56] Remove obsolete MockDeepLinkHandler (DeepLinkHandlerProtocol no longer exists)
  ios/AIQTests/Mocks/MockDeepLinkHandler.swift
Due: swiftlint, swiftformat

[TASK-65] Fix undeclared deepLinkHandler in MainTabViewNotificationTappedTests
  ios/AIQTests/Views/MainTabViewNotificationTappedTests.swift
Due: swiftlint, swiftformat

[TASK-69] Remove inline AnyCodable from FirebaseAnalyticsProvider, use SharedKit's via AIQSharedKit
  ios/AIQ/Services/Analytics/FirebaseAnalyticsProvider.swift
Due: swiftlint, swiftformat

[TASK-69] Update ios-libs to 1.8.0 for AnyCodable support
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

[TASK-67] Migrate AppStateStorage to import from ios-libs SharedKit
  ios/AIQ.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/AIQ/Services/Storage/AppStateStorage.swift
  ios/AIQTests/Storage/AppStateStorageTests.swift
Due: swiftlint, swiftformat

Add Fastlane pipeline for App Store submission with automated screenshots
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

[TASK-312] Add balanced provider-tier mode that alternates between primary and fallback providers
  question-service/app/config/generator_config.py
  question-service/app/generation/generator.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-312] Remove unused get_both_providers_for_question_type method
  question-service/app/config/generator_config.py
Due: mypy-question-service, check-magic-numbers

[TASK-313] Add test for balanced mode alternation between primary and fallback providers
  .secrets.baseline
  question-service/tests/generation/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-314] Port balanced provider-tier mode to generate_batch_async with alternation, guards, and circuit breaker failover
  question-service/app/generation/generator.py
Due: mypy-question-service, check-magic-numbers

[TASK-314] Add unit tests for balanced mode in generate_batch_async
  question-service/tests/generation/test_generator.py
Due: mypy-question-service, check-float-comparisons

[TASK-316] Replace 5 force unwraps with guard let in PerformanceInsights
  ios/AIQ/Models/PerformanceInsights.swift
Due: swiftlint, swiftformat

[TASK-319] Remove duplicate stale PBXFileReference entries pointing to old SharedKit paths for ScreenshotContainerViewTests and ConfirmationModalTests
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

[TASK-317] Replace 9 print() calls with structured Logger calls in notification handling
  ios/AIQ/AppDelegate.swift
Due: swiftlint, swiftformat

[TASK-315] Update TrustKit cert pin to current Railway certificate (expires 2026-07-04)
  ios/AIQ/TrustKit.plist
Due: none

[TASK-318] Add Contact Us row to Settings with mailto link and accessibility support
  ios/AIQ/Features/Settings/Views/SettingsView.swift
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Utilities/Helpers/AppConfig.swift
Due: swiftlint, swiftformat

[TASK-321] Update all email addresses from @aiq.app to @a-iq-test.com
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/notifications/test_email_service.py
  docs/api/openapi.json
  ios/AIQ/Utilities/Helpers/AppConfig.swift
  ios/AIQ/openapi.json
  ios/Packages/AIQAPIClient/Sources/AIQAPIClientCore/openapi.json
  ios/app-store/APP_STORE_METADATA.md
  ios/fastlane/metadata/en-US/description.txt
  ios/fastlane/metadata/review_information/demo_user.txt
  ios/fastlane/metadata/review_information/email_address.txt
  website/PRIVACY_POLICY.md
  website/TERMS_OF_SERVICE.md
  website/privacy-policy.html
  website/terms-of-service.html
Due: mypy-backend, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

[TASK-321] Update all website URLs from https://aiq.app to https://a-iq-test.com
  backend/DEPLOYMENT.md
  backend/app/services/email_service.py
  website/TERMS_OF_SERVICE.md
  website/terms-of-service.html
Due: mypy-backend, check-magic-numbers

[TASK-321] Update universal link hosts and entitlements from aiq.app to a-iq-test.com
  ios/AIQ/AppDelegate.swift
  ios/AIQ/Services/Navigation/AIQDeepLinkParser.swift
  ios/AIQ/Services/Navigation/DeepLinkHandler.swift
Due: swiftlint, swiftformat

[TASK-321] Update entitlements applinks from aiq.app to a-iq-test.com
  ios/AIQ/AIQ.entitlements
Due: none

[TASK-321] Fix remaining CORS origin references in DEPLOYMENT.md
  backend/DEPLOYMENT.md
Due: none

[TASK-321] Update App Store metadata and fastlane URLs to a-iq-test.com
  ios/AIQ/Features/Onboarding/Views/PrivacyConsentView.swift
  ios/AIQ/Utilities/Helpers/AppConfig.swift
  ios/app-store/APP_STORE_METADATA.md
  ios/fastlane/metadata/en-US/marketing_url.txt
  ios/fastlane/metadata/en-US/privacy_url.txt
  ios/fastlane/metadata/en-US/support_url.txt
Due: swiftlint, swiftformat
