Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-1325] Split anonymous preview into three named #Preview macros
  ios/AIQ/Views/Dashboard/DashboardActionButton.swift
Due: swiftlint, swiftformat

[TASK-1329] Add DashboardViewStateTests covering all 4 branching states
  ios/AIQTests/Views/DashboardViewStateTests.swift
Due: swiftlint, swiftformat

[TASK-1329] Apply review fixes: extract helpers, split compound assertions, add reverse transitions
  ios/AIQTests/Views/DashboardViewStateTests.swift
Due: swiftlint, swiftformat

[TASK-1329] Register DashboardViewStateTests.swift in Xcode project
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

[TASK-1330] Add trackActiveSessionDetectedCallCount to mock and assert fires on cache hit
  ios/AIQTests/Mocks/MockAnalyticsService.swift
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1331] Add uniqueness assertion for VoiceOver label count in testDateLabel_RendersWhenDateFormattedIsNonNil
  ios/AIQUITests/DashboardLatestTestResultCardUITests.swift
Due: swiftlint, swiftformat

[TASK-1332] Wrap MockDataFactory and preview blocks in #if DEBUG
  ios/AIQ/Models/MockDataFactory.swift
  ios/AIQ/ViewModels/TestTakingViewModel+MockData.swift
  ios/AIQ/Views/Dashboard/DashboardLatestTestResultCard.swift
  ios/AIQ/Views/Dashboard/InProgressTestCard.swift
  ios/AIQ/Views/History/IQTrendChart.swift
  ios/AIQ/Views/History/InsightsCardView.swift
  ios/AIQ/Views/History/TestDetailView.swift
  ios/AIQ/Views/History/TestHistoryListItem.swift
  ios/AIQ/Views/Test/AnswerInputView.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQ/Views/Test/QuestionCardView.swift
  ios/AIQ/Views/Test/TestResultsView.swift
Due: swiftlint, swiftformat

[TASK-1333] Remove misleading await on synchronous mockService.reset()
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1334] Suppress trackActiveSessionDetected on cache-hit loads
  ios/AIQ/ViewModels/DashboardViewModel.swift
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1334] Apply review fixes
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1335] Remove loadMockQuestions fallback and TestTakingViewModel+MockData.swift
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/ViewModels/TestTakingViewModel+MockData.swift
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1336] Remove misleading await on synchronous mockService.reset() in remaining test files
  ios/AIQTests/Integration/ActiveSessionFlowIntegrationTests.swift
  ios/AIQTests/Services/AuthServiceTests.swift
  ios/AIQTests/Services/NotificationServiceTests.swift
  ios/AIQTests/ViewModels/FeedbackViewModelTests.swift
  ios/AIQTests/ViewModels/HistoryViewModelTests.swift
Due: swiftlint, swiftformat

[TASK-1337] Remove misleading await from mockService.reset() example
  ios/docs/CODING_STANDARDS.md
Due: none

[TASK-1338] Add bypass_cooldown column to User model and Alembic migration
  backend/alembic/versions/b3c4d5e6f7a8_add_bypass_cooldown_to_users.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-1338] Skip cadence check in POST /test/start for bypass_cooldown users
  backend/app/api/v1/test.py
Due: mypy-backend, check-magic-numbers

[TASK-1338] Add PATCH/GET /v1/admin/users/{user_id}/cooldown-bypass endpoints
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/users.py
Due: mypy-backend, check-magic-numbers

[TASK-1338] Exclude bypass_cooldown users from test-due notifications
  backend/app/services/notification_scheduler.py
Due: mypy-backend, check-magic-numbers

[TASK-1338] Apply review fixes
  backend/app/api/v1/admin/users.py
  backend/tests/admin/test_admin_users.py
  backend/tests/notifications/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1339] Add DELETE /v1/admin/sessions/{session_id} endpoint
  backend/app/api/v1/admin/__init__.py
  backend/app/api/v1/admin/sessions.py
  backend/tests/admin/test_admin_sessions.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1339] Apply review fixes
  backend/app/api/v1/admin/sessions.py
  backend/tests/admin/test_admin_sessions.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1340] Add DISABLE_TEST_CADENCE config flag and skip cadence check when enabled
  backend/app/api/v1/test.py
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-1340] Log startup warning when DISABLE_TEST_CADENCE is enabled
  backend/app/main.py
Due: mypy-backend, check-magic-numbers

[TASK-1340] Document DISABLE_TEST_CADENCE flag in backend README local dev section
  backend/README.md
Due: none

[TASK-1340] Add tests for DISABLE_TEST_CADENCE flag bypass behavior
  backend/tests/admin/test_admin_users.py
Due: mypy-backend, check-float-comparisons

[TASK-1341] Rename admin users route prefix to /user-flags/ to avoid collision with public user endpoints
  backend/app/api/v1/admin/users.py
  backend/tests/admin/test_admin_users.py
Due: mypy-backend, check-float-comparisons, check-magic-numbers

[TASK-1342] Document pre-commit formatter reformatting failure case
  .claude/skills/tusk/SKILL.md
Due: none

[TASK-1342] Apply review fixes: remove redundant formatter step, clarify hook behavior
  .claude/skills/tusk/SKILL.md
Due: none

[TASK-1343] Move count queries inside dry_run block, simplify deletion log
  backend/app/api/v1/admin/sessions.py
Due: mypy-backend, check-magic-numbers

[TASK-1217] Add send_run_completion() to AlertManager with HTML/text email
  question-service/app/observability/alerting.py
Due: mypy-question-service, check-magic-numbers

[TASK-1217] Call send_run_completion() on all run exit paths
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1217] Add tests for send_run_completion() subject, body, SMTP, no-op behavior
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons

[TASK-1344] Fix stale '6-month / 180 days' comment in test cadence check
  backend/app/api/v1/test.py
Due: mypy-backend, check-magic-numbers

[TASK-1345] Rename six_months_ago to ninety_days_ago to match 90-day cadence
  backend/tests/notifications/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons

[TASK-1345] Update stale inline comments from '6 months ago' to '90 days ago'
  backend/tests/notifications/test_notification_scheduler.py
Due: mypy-backend, check-float-comparisons

[TASK-1346] Add testCooldown error case and parseBadRequest cooldown detection
  ios/AIQ/Models/APIError.swift
Due: swiftlint, swiftformat

[TASK-1346] Add unit tests for parseBadRequest cooldown detection and date/days parsing
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/Models/APIErrorParseBadRequestTests.swift
Due: swiftlint, swiftformat

[TASK-1347] Add testCooldownInfo published property and populate on .testCooldown error
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1347] Render dedicated cooldown UI in loadFailureView with date, days, and Go Back button
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-1348] Clear testCooldownInfo in resetTest() to prevent stale cooldown UI
  ios/AIQ/ViewModels/TestTakingViewModel.swift
Due: swiftlint, swiftformat

[TASK-1349] Add unit tests for TestTakingViewModel cooldown state and shouldShowLoadFailure branch
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/ViewModels/TestTakingViewModelCooldownTests.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
