Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-180] Source CLI threshold defaults from InventoryConfig
  question-service/run_generation.py
Due: mypy-question-service

[TASK-180] Apply review fixes: import constants directly, add int validation
  question-service/app/inventory/inventory_config.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-182] Fix fixture yield, strengthen deficit assertions, add zero-strata edge case
  question-service/tests/inventory/test_inventory_analyzer.py
Due: mypy-question-service, check-float-comparisons

[TASK-186] Add tests for InventoryConfig YAML loading and fallback behavior
  question-service/tests/inventory/test_inventory_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-185] Add unique index on client_run_id to enforce per-run uniqueness
  backend/alembic/versions/78e241a4fbf8_add_unique_index_client_run_id_question_.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-183] Extract pipeline phases into top-level functions, add run_optionally_async and send_phase_alert helpers
  question-service/run_generation.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons

[TASK-183] Apply review fixes: guard ZeroDivisionError, fix salvage list mutation, add generation_plan annotation, add _build_run_stats tests
  question-service/run_generation.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons

[TASK-187] Add --target-version py311 to black question-service hook
  .pre-commit-config.yaml
Due: none

[TASK-188] Add typed return annotations to all 6 phase functions
  question-service/run_generation.py
Due: mypy-question-service

[TASK-188] Add return annotation to run_inventory_analysis
  question-service/run_generation.py
Due: mypy-question-service

[TASK-189] Remove redundant lazy imports of EvaluatedQuestion, GeneratedQuestion, DifficultyLevel
  question-service/run_generation.py
Due: mypy-question-service

[TASK-190] Annotate run_generation_phase stats return as dict[str, Any]
  question-service/run_generation.py
Due: mypy-question-service

[TASK-191] Define GenerationStats TypedDict and update run_generation_phase annotation
  question-service/run_generation.py
Due: mypy-question-service

[TASK-197] Extract run_insertion_phase to app/data/insertion_runner.py
  question-service/app/data/insertion_runner.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-192] Create app/inventory/runner.py with run_inventory_analysis
  question-service/app/inventory/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-192] Import run_inventory_analysis from app.inventory.runner, remove local definition
  question-service/run_generation.py
Due: mypy-question-service

[TASK-192] Fix test patch targets after InventoryAnalyzer move to app.inventory.runner
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons

[TASK-193] Create app/generation/runner.py with run_generation_phase
  question-service/app/generation/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-193] Import run_generation_phase from app.generation.runner, remove local definitions
  question-service/run_generation.py
Due: mypy-question-service

[TASK-193] Fix test imports and patch targets after run_generation_phase move
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons

[TASK-194] Create app/evaluation/runner.py with run_judge_phase, log_rejection_details, apply_difficulty_placement
  question-service/app/evaluation/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-194] Import run_judge_phase from app.evaluation.runner, remove local definitions
  question-service/run_generation.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons

[TASK-194] Apply review fixes: add EvaluatedQuestion type annotations
  question-service/app/evaluation/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-200] Fix QuestionDatabase import: use DatabaseService from app.data.database
  question-service/app/data/insertion_runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-195] Create app/data/dedup_runner.py with run_dedup_phase and dedupe_within_batch
  question-service/app/data/dedup_runner.py
  question-service/app/generation/runner.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-195] Apply review fixes: correct patch targets, move SequenceMatcher to top-level
  question-service/app/data/dedup_runner.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-196] Create app/salvage/ package with runner.py containing four salvage functions
  question-service/app/salvage/__init__.py
  question-service/app/salvage/runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-196] Update run_generation.py: import run_salvage_phase from app.salvage.runner, remove four salvage function definitions
  question-service/run_generation.py
Due: mypy-question-service

[TASK-196] Apply review fixes: update test patch targets to app.salvage.runner, move import re to module level
  question-service/app/salvage/runner.py
  question-service/tests/test_run_generation_phases.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-198] Update module docstring to reflect orchestrator-only role
  question-service/run_generation.py
Due: mypy-question-service

Upgrade tusk to v557
  .claude/bin/VERSION
  .claude/skills/tusk-update/SKILL.md
Due: none

[TASK-218] Add LOG_LEVEL field to backend Settings for env var control
  backend/app/core/config.py
Due: mypy-backend, check-magic-numbers

[TASK-218] Add RequestIdMiddleware to trigger_server for request_id async context propagation
  question-service/trigger_server.py
Due: mypy-question-service

[TASK-218] Apply review fixes: type annotation, uuid4 consistency, header in try block, direct settings.LOG_LEVEL access
  backend/app/core/logging_config.py
  question-service/trigger_server.py
Due: mypy-backend, mypy-question-service, check-magic-numbers

[TASK-208] Replace assert guards with explicit ValueError raises and remove Optional from signatures
  question-service/app/data/dedup_runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-207] Document intentional asymmetry of MIN_ANSWER_LENGTH_FOR_LEAKAGE_CHECK vs model validator
  question-service/app/data/answer_leakage_auditor.py
Due: mypy-question-service, check-magic-numbers

[TASK-221] Add run_cron.sh wrapper for backend IRT calibration job
  backend/scripts/run_cron.sh
Due: none

[TASK-226] Add RequestIdMiddleware tests: UUID4 generation, header echo, context reset
  question-service/tests/integration/test_trigger_server.py
Due: mypy-question-service, check-float-comparisons

[TASK-227] Replace assert db is not None guard with explicit ValueError raise
  question-service/app/data/insertion_runner.py
Due: mypy-question-service, check-magic-numbers

[TASK-228] Remove NetworkLogger.swift and NetworkLoggerTests.swift dead code
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/API/NetworkLogger.swift
  ios/AIQTests/Network/NetworkLoggerTests.swift
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
