Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-1377] Narrow screenshotPrevented to stimulus Text only; card shell is pure SwiftUI
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

foo
  .claude/bin/VERSION
  .claude/bin/tusk-dashboard-css.py
  .claude/bin/tusk-dashboard-data.py
  .claude/bin/tusk-dashboard-html.py
  .claude/bin/tusk-dashboard-js.py
  .claude/bin/tusk-dashboard.py
  .claude/skills/run-production-script/SKILL.md
  .claude/skills/tusk-init/REFERENCE.md
  .claude/skills/tusk/SKILL.md
  .claude/tusk-manifest.json
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

Bump tusk to v344: fix upgrade git add for gitignored install paths
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-branch.py
  .gitignore
Due: none

[TASK-1379] Apply screenshotPrevented to question text and answer choices
  ios/AIQ/Views/Test/AnswerInputView.swift
  ios/AIQ/Views/Test/QuestionCardView.swift
Due: swiftlint, swiftformat

[TASK-1379] Review fix: remove screenshotPrevented from non-sensitive label; add to hint text
  ios/AIQ/Views/Test/AnswerInputView.swift
Due: swiftlint, swiftformat

[TASK-1379] Fix accessibility: pass accessibilityLabel to screenshotPrevented for hint text
  ios/AIQ/Views/Test/AnswerInputView.swift
Due: swiftlint, swiftformat

[TASK-540] Replace inline testCompletedView with TestCompletionView
  ios/AIQ/Views/Test/AdaptiveTestView.swift
Due: swiftlint, swiftformat

Track tusk task database in git to prevent silent overwrites
  .gitignore
  .pre-commit-config.yaml
  tusk/tasks.db
Due: none

[TASK-541] Add QuestionContentView extracting shared question-display block
  ios/AIQ/Views/Test/QuestionContentView.swift
Due: swiftlint, swiftformat

[TASK-541] Replace inline question-display blocks with QuestionContentView in TestTakingView and AdaptiveTestView
  ios/AIQ/Views/Test/AdaptiveTestView.swift
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-541] Apply review fix: use @Environment(reduceMotion) internally in QuestionContentView
  ios/AIQ/Views/Test/AdaptiveTestView.swift
  ios/AIQ/Views/Test/QuestionContentView.swift
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-542] Extract timer lifecycle onChange handlers into TestTimerModifier
  ios/AIQ/Views/Test/AdaptiveTestView.swift
  ios/AIQ/Views/Test/TestTakingView.swift
  ios/AIQ/Views/Test/TestTimerModifier.swift
Due: swiftlint, swiftformat

[TASK-543] Create TestTransitions.swift with View extension methods and replace all inline transition expressions
  ios/AIQ/Views/Common/TestTransitions.swift
  ios/AIQ/Views/Test/AdaptiveTestView.swift
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-544] Extract compactHeader into TestProgressHeader component
  ios/AIQ/Views/Test/TestProgressHeader.swift
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-545] Move ScaleButtonStyle to DesignSystem.swift shared location
  ios/AIQ/Utilities/Design/DesignSystem.swift
  ios/AIQ/Views/Test/QuestionNavigationGrid.swift
Due: swiftlint, swiftformat

[TASK-546] Replace inline transitions in QuestionContentView with answerInputTransition
  ios/AIQ/Views/Test/QuestionContentView.swift
Due: swiftlint, swiftformat

[TASK-546] Replace inline transitions in MemoryQuestionView with questionCardTransition
  ios/AIQ/Views/Test/MemoryQuestionView.swift
Due: swiftlint, swiftformat

[TASK-1381] Add TestCompletionViewTests verifying animation parity with removed inline view
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/Views/TestCompletionViewTests.swift
Due: swiftlint, swiftformat

[TASK-1381] Fix testView_AcceptsAdaptiveTestItemCount to use Constants.Test.maxAdaptiveItems (15) instead of hardcoded 30
  ios/AIQTests/Views/TestCompletionViewTests.swift
Due: swiftlint, swiftformat

[TASK-1383] Add SMTP email alert vars to .env.example
  question-service/.env.example
Due: none

[TASK-1384] Enrich stats dict passed to send_run_completion with by_type, by_difficulty, requested, rejected, duplicates_found
  question-service/run_generation.py
Due: mypy-question-service

[TASK-1384] Update alerting.py: By Type/Difficulty tables, requested vs inserted, error section, updated docstring
  question-service/app/observability/alerting.py
Due: mypy-question-service, check-magic-numbers

[TASK-1384] Apply review fixes: html.escape error_message, rename columns to Generated, use title-case display names
  question-service/app/observability/alerting.py
Due: mypy-question-service, check-magic-numbers

[TASK-1384] Add text tests: new stat fields, by_type/by_difficulty sections, error_message
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons

[TASK-1384] Apply review fixes: per-field N/A assertions, add _display_name underscore test
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons

[TASK-1383] Add questions_inserted_by_type to RunSummary and expose in to_summary_dict
  question-service/app/reporting/run_summary.py
  question-service/tests/reporting/test_run_summary.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1383] Pass inserted_by_type from RunSummary to send_run_completion stats; update By Type header to Inserted
  question-service/app/observability/alerting.py
  question-service/run_generation.py
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1387] Remove statsGrid and DashboardLatestTestResultCard from States 3 and 4
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Dashboard/DashboardLatestTestResultCard.swift
  ios/AIQ/Views/Dashboard/DashboardView.swift
  ios/AIQUITests/AccessibilityIdentifierTests.swift
  ios/AIQUITests/DashboardLatestTestResultCardUITests.swift
Due: swiftlint, swiftformat

[TASK-1388] Remove latestTestResult/averageScore, replace fetchTestHistory with lightweight fetchTestCount
  ios/AIQ/ViewModels/DashboardViewModel.swift
Due: swiftlint, swiftformat

[TASK-1388] Update tests: remove latestTestResult/averageScore refs, rename fetchTestHistory tests to fetchTestCount
  ios/AIQTests/Integration/ActiveSessionFlowIntegrationTests.swift
  ios/AIQTests/ViewModels/DashboardViewModelTests.swift
  ios/AIQTests/Views/DashboardViewStateTests.swift
Due: swiftlint, swiftformat

[TASK-1389] Delete dead DashboardCardComponents.swift
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Views/Dashboard/DashboardCardComponents.swift
Due: swiftlint, swiftformat

[TASK-1382] Cap sizeThatFits width to proposal; avoid window-width fallback on ideal-size query
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

[TASK-1382] Apply review fixes: clamp proposed width; fix intrinsicContentSize fallback
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

[TASK-1383] Add .frame(maxWidth: .infinity) to QuestionCardView and OptionButton
  ios/AIQ/Views/Test/AnswerInputView.swift
  ios/AIQ/Views/Test/QuestionCardView.swift
Due: swiftlint, swiftformat

[TASK-1384] Add .frame(maxWidth: .infinity) to iconAndMessage HStack to prevent overflow
  ios/AIQ/Views/Common/ErrorBanner.swift
Due: swiftlint, swiftformat

[TASK-1385] Add lineLimit and minimumScaleFactor to prevent overflow on small screens
  ios/AIQ/Views/Test/TestProgressHeader.swift
Due: swiftlint, swiftformat

[TASK-1386] Remove redundant outer .padding(.horizontal) from TimeWarningBanner
  ios/AIQ/Views/Test/TimeWarningBanner.swift
Due: swiftlint, swiftformat

[TASK-1387] Rename Views/Common to Views/Components and merge Onboarding/Components
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Views/Components/BiometricLockView.swift
  ios/AIQ/Views/Components/Components.swift
  ios/AIQ/Views/Components/ContentView.swift
  ios/AIQ/Views/Components/CustomTextField.swift
  ios/AIQ/Views/Components/DifficultyBadge.swift
  ios/AIQ/Views/Components/EmptyStateView.swift
  ios/AIQ/Views/Components/ErrorBanner.swift
  ios/AIQ/Views/Components/ErrorView.swift
  ios/AIQ/Views/Components/FeatureHighlightRow.swift
  ios/AIQ/Views/Components/IconButton.swift
  ios/AIQ/Views/Components/InfoCard.swift
  ios/AIQ/Views/Components/LoadingOverlay.swift
  ios/AIQ/Views/Components/LoadingView.swift
  ios/AIQ/Views/Components/MainTabView.swift
  ios/AIQ/Views/Components/NetworkStatusBanner.swift
  ios/AIQ/Views/Components/NotificationPermissionBanner.swift
  ios/AIQ/Views/Components/NotificationSoftPromptView.swift
  ios/AIQ/Views/Components/NotificationUpgradePromptView.swift
  ios/AIQ/Views/Components/PageIndicator.swift
  ios/AIQ/Views/Components/PrimaryButton.swift
  ios/AIQ/Views/Components/PrivacyFeatureRow.swift
  ios/AIQ/Views/Components/ProcessStepRow.swift
  ios/AIQ/Views/Components/RationaleCard.swift
  ios/AIQ/Views/Components/RootView.swift
  ios/AIQ/Views/Components/ScrollPositionModifier.swift
  ios/AIQ/Views/Components/TestTransitions.swift
  ios/AIQ/Views/Components/ToastView.swift
Due: swiftlint, swiftformat

[TASK-1387] Apply review fixes: remove old Common/ paths, update docs to Views/Components/
  ios/AIQ/Views/Common/BiometricLockView.swift
  ios/AIQ/Views/Common/ContentView.swift
  ios/AIQ/Views/Common/CustomTextField.swift
  ios/AIQ/Views/Common/DifficultyBadge.swift
  ios/AIQ/Views/Common/EmptyStateView.swift
  ios/AIQ/Views/Common/ErrorBanner.swift
  ios/AIQ/Views/Common/ErrorView.swift
  ios/AIQ/Views/Common/IconButton.swift
  ios/AIQ/Views/Common/InfoCard.swift
  ios/AIQ/Views/Common/LoadingOverlay.swift
  ios/AIQ/Views/Common/LoadingView.swift
  ios/AIQ/Views/Common/MainTabView.swift
  ios/AIQ/Views/Common/NetworkStatusBanner.swift
  ios/AIQ/Views/Common/NotificationPermissionBanner.swift
  ios/AIQ/Views/Common/NotificationSoftPromptView.swift
  ios/AIQ/Views/Common/NotificationUpgradePromptView.swift
  ios/AIQ/Views/Common/PageIndicator.swift
  ios/AIQ/Views/Common/PrimaryButton.swift
  ios/AIQ/Views/Common/RootView.swift
  ios/AIQ/Views/Common/ScrollPositionModifier.swift
  ios/AIQ/Views/Common/TestTransitions.swift
  ios/AIQ/Views/Common/ToastView.swift
  ios/AIQ/Views/Onboarding/Components/FeatureHighlightRow.swift
  ios/AIQ/Views/Onboarding/Components/PrivacyFeatureRow.swift
  ios/AIQ/Views/Onboarding/Components/ProcessStepRow.swift
  ios/AIQ/Views/Onboarding/Components/RationaleCard.swift
  ios/CLAUDE.md
  ios/docs/ARCHITECTURE.md
  ios/docs/CODING_STANDARDS.md
Due: swiftlint, swiftformat
