Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

Add admin endpoint to set cooldown bypass by email
  backend/app/api/v1/admin/users.py
Due: mypy-backend, check-magic-numbers

[TASK-1350] Add model_validator to reject answer leakage in question_text
  question-service/app/data/models.py
Due: mypy-question-service, check-magic-numbers

[TASK-1350] Fix existing tests and add 4 new answer-leak test cases
  question-service/tests/data/test_models.py
Due: mypy-question-service, check-float-comparisons

[TASK-1351] Add answer-leakage anti-pattern to SYSTEM_PROMPT
  question-service/app/generation/prompts.py
Due: mypy-question-service, check-magic-numbers

[TASK-1351] Add test_prompts.py assertions for anti-leakage rule
  question-service/tests/generation/test_prompts.py
Due: mypy-question-service, check-float-comparisons

[TASK-1352] Add answer-leakage audit script with logging and pool health check
  backend/scripts/audit_answer_leakage.py
Due: mypy-backend

[TASK-1353] Add run-production-script skill for Railway SSH execution
  .claude/skills/run-production-script/SKILL.md
  .claude/tusk-manifest.json
Due: none

[TASK-1356] Add --async --async-judge and types filtering to trigger server
  question-service/tests/integration/test_trigger_server.py
  question-service/trigger_server.py
Due: mypy-question-service, check-float-comparisons

[TASK-1356] Apply review fixes: type validation, span attrs, stronger tests
  question-service/tests/integration/test_trigger_server.py
  question-service/trigger_server.py
Due: mypy-question-service, check-float-comparisons

[TASK-1359] Run refresh-providers: math generator openai/gpt-5.2, fill 6 benchmark gaps
  question-service/config/benchmark_scores.yaml
  question-service/config/generators.yaml
Due: none

[TASK-1359] Enforce cross-provider judging: each type uses different provider for judge vs generator
  docs/MODEL_BENCHMARKS.md
  question-service/config/judges.yaml
Due: none

[TASK-1359] Apply review fixes: type validation, span attrs, stronger tests
  docs/MODEL_BENCHMARKS.md
  question-service/config/judges.yaml
  question-service/tests/generation/test_generator_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-1359] Fix default judge provider collision and add default judge test
  docs/MODEL_BENCHMARKS.md
  question-service/config/judges.yaml
  question-service/tests/generation/test_generator_config.py
Due: mypy-question-service, check-float-comparisons

[TASK-1355] Add post-generation answer-leakage audit step
  question-service/app/data/answer_leakage_auditor.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-1355] Apply review fixes: min-length guard, tests, dry_run passthrough, exc_info logging
  question-service/app/data/answer_leakage_auditor.py
  question-service/run_generation.py
  question-service/tests/data/test_answer_leakage_auditor.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1360] Classify OpenAI insufficient_quota as BILLING_QUOTA
  question-service/app/infrastructure/error_classifier.py
  question-service/tests/infrastructure/test_retry.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1360] Add Discord webhook alerting with 10-min cooldown per provider
  question-service/app/observability/alerting.py
  question-service/tests/infrastructure/test_alerting.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1360] Add on_open callback to CircuitBreaker; callback errors are swallowed
  question-service/app/infrastructure/circuit_breaker.py
  question-service/tests/infrastructure/test_circuit_breaker.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-1360] Add DISCORD_WEBHOOK_URL to config and .env.example; wire alert callback in run_generation
  question-service/.env.example
  question-service/app/config/config.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-1360] Apply review fixes: async callback dispatch, per-breaker lock, import cleanup
  question-service/app/infrastructure/circuit_breaker.py
  question-service/app/infrastructure/error_classifier.py
  question-service/app/observability/alerting.py
  question-service/run_generation.py
Due: mypy-question-service, check-magic-numbers

[TASK-1362] Add judge assignment lines to per-domain benchmark sections
  docs/MODEL_BENCHMARKS.md
Due: none

[TASK-1363] Add MIN_ANSWER_LENGTH_FOR_LEAKAGE_CHECK guard to prevent false-positive deactivations
  backend/scripts/audit_answer_leakage.py
Due: mypy-backend

[TASK-1364] Add AlertManager integration tests for circuit breaker CLOSED→OPEN alert dispatch
  question-service/tests/infrastructure/test_circuit_breaker.py
Due: mypy-question-service, check-float-comparisons

[TASK-1365] Remove type badge and DifficultyBadge from memory stimulus phase
  ios/AIQ/Views/Test/MemoryQuestionView.swift
Due: swiftlint, swiftformat

[TASK-1366] Add screenshotPrevented() modifier and apply to stimulus card
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
Due: swiftlint, swiftformat

[TASK-1366] Apply review fixes: disable textField interaction, add child VC lifecycle
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

[TASK-1368] Add memoryInProgress scenario and stimulus card UI test
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Utilities/DI/MockModeDetector.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Utilities/Mocks/UITestMockAuthManager.swift
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

[TASK-1368] Apply review fixes: use extendedTimeout in waitForHittable
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

[TASK-1369] Add relaunchWithMemoryInProgress() helper to BaseUITest
  ios/AIQUITests/Helpers/BaseUITest.swift
Due: swiftlint, swiftformat

[TASK-1370] Implement sizeThatFits and intrinsicContentSize to fix stimulus card height
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

[TASK-1370] Apply review fixes: window-aware width fallback, fix stale iOS 15 comment
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

[TASK-1371] Add height regression guard for ScreenshotContainerView sizing fix
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

[TASK-1371] Apply review fixes: extract UITextField height as named constant
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

[TASK-1372] Remove NSLog diagnostic from ScreenshotContainerView makeUIView
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
Due: swiftlint, swiftformat

[TASK-1372] Fix memoryInProgress mock scenario: add authentication, recent session, memory questions, and session ID routing
  ios/AIQ/Utilities/DI/MockServiceConfiguration.swift
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
  ios/AIQ/Views/Dashboard/DashboardView.swift
  ios/AIQ/Views/Dashboard/InProgressTestCard.swift
Due: swiftlint, swiftformat

[TASK-1372] Add MemoryQuestionStimulusCardUITests and fix accessibilityIdentifier on ScreenshotContainerView
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

[TASK-1372] Apply review fixes: conditional isAccessibilityElement, accessibilityLabel propagation, nav-wait guards
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
  ios/AIQ/Views/Test/MemoryQuestionView.swift
  ios/AIQUITests/MemoryQuestionStimulusCardUITests.swift
Due: swiftlint, swiftformat

[TASK-1374] Use recentInProgressSession for testInProgress to prevent timer expiry
  ios/AIQ/Utilities/Mocks/UITestMockAPIClient.swift
Due: swiftlint, swiftformat

[TASK-1375] Document UIViewRepresentable accessibility bridge limitation
  ios/AIQ/Utilities/Extensions/View+ScreenshotPrevention.swift
  ios/docs/CODING_STANDARDS.md
Due: swiftlint, swiftformat

[TASK-1376] Document app.debugDescription accessibility tree dump technique
  ios/AIQUITests/Helpers/BaseUITest.swift
  ios/AIQUITests/README.md
Due: swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
