Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$

[TASK-1223] Make stale index drops/restores idempotent in TIMESTAMPTZ migration
  backend/alembic/versions/7467090f416b_migrate_all_timestamp_columns_to_.py
Due: mypy-backend

removed bad skills
  .claude/skills/check-dupes/skill.md
  .claude/skills/dag/SKILL.md
  .claude/skills/manage-dependencies/skill.md
  .claude/skills/next-task/FINALIZE.md
  .claude/skills/next-task/SKILL.md
  .claude/skills/next-task/SUBCOMMANDS.md
  .claude/skills/run-chain/POST-CHAIN-RETRO.md
  .claude/skills/run-chain/SKILL.md
  .claude/skills/token-audit/SKILL.md
  .gitignore
Due: none

Fix Dynamic Type scaling for display fonts by replacing broken static @ScaledMetric
  ios/AIQ/Utilities/Design/Typography.swift
  ios/AIQ/Views/Auth/RegistrationView.swift
  ios/AIQ/Views/Auth/WelcomeView.swift
  ios/AIQ/Views/Common/BiometricLockView.swift
  ios/AIQ/Views/Common/RootView.swift
  ios/AIQ/Views/Dashboard/DashboardCardComponents.swift
  ios/AIQ/Views/Onboarding/Pages/OnboardingPage1View.swift
  ios/AIQ/Views/Onboarding/Pages/OnboardingPage2View.swift
  ios/AIQ/Views/Onboarding/Pages/OnboardingPage3View.swift
  ios/AIQ/Views/Onboarding/Pages/OnboardingPage4View.swift
  ios/AIQ/Views/Onboarding/PrivacyConsentView.swift
  ios/AIQ/Views/Test/TestResultsView.swift
Due: swiftlint, swiftformat

Fix rename_arbiter_to_judge migration failing on fresh databases
  .secrets.baseline
  backend/alembic/versions/25a36706dab8_rename_arbiter_to_judge.py
Due: mypy-backend

Add missing irt_calibration_n and irt_information_peak columns to production
  backend/alembic/versions/f3a4b5c6d7e8_add_missing_irt_calibration_columns.py
Due: mypy-backend

Fix Sentry errors silently going to wrong environment
  backend/app/core/config.py
  libs/observability/sentry_backend.py
  libs/observability/tests/test_backends.py
  libs/observability/tests/test_sentry_backend.py
Due: mypy-backend, check-magic-numbers

Add TokenRefreshMiddleware and remove legacy interceptors
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/API/RequestInterceptor.swift
  ios/AIQ/Services/API/RetryPolicy.swift
  ios/AIQ/Services/API/TokenRefreshMiddleware.swift
  ios/AIQ/Services/Auth/TokenRefreshInterceptor.swift
  ios/AIQTests/Mocks/TokenRefreshMockAuthService.swift
  ios/AIQTests/Network/RequestInterceptorTests.swift
  ios/AIQTests/Network/RetryPolicyTests.swift
  ios/AIQTests/Network/TokenRefreshInterceptorConcurrencyTests.swift
  ios/AIQTests/Network/TokenRefreshInterceptorTests.swift
  ios/Packages/AIQAPIClient/Sources/AIQAPIClient/AIQAPIClientFactory.swift
Due: swiftlint, swiftformat

Fix TokenRefreshMiddleware body replay and document operation ID constant
  ios/AIQ/Services/API/OpenAPIService.swift
  ios/AIQ/Services/API/TokenRefreshMiddleware.swift
Due: swiftlint, swiftformat

update tusk
  .claude/bin/VERSION
  .claude/skills/chain/AGENT-PROMPT.md
  .claude/skills/chain/POST-CHAIN-RETRO.md
  .claude/skills/retro/FULL-RETRO.md
  .claude/skills/retro/SKILL.md
Due: none

[TASK-1227] Document idempotent Alembic index operation convention
  backend/docs/CODING_STANDARDS.md
Due: none

[TASK-1227] Add PostgreSQL-specific note to idempotent index convention
  backend/docs/CODING_STANDARDS.md
Due: none

[TASK-1224] Separate index maintenance into standalone migration d6e7f8a9b0c1
  backend/alembic/versions/7467090f416b_migrate_all_timestamp_columns_to_.py
  backend/alembic/versions/d6e7f8a9b0c1_separate_index_maintenance_from_timestamptz.py
  backend/alembic/versions/f3a4b5c6d7e8_add_missing_irt_calibration_columns.py
Due: mypy-backend

[TASK-1224] Apply review fixes: lock_timeout guard, docstring accuracy, WHERE clause style
  backend/alembic/versions/d6e7f8a9b0c1_separate_index_maintenance_from_timestamptz.py
Due: mypy-backend

update tusk
  .claude/bin/VERSION
  .claude/skills/review-commits/SKILL.md
Due: none

[TASK-1225] Add explicit String(20) to CalibrationRun enum columns to fix autogenerate false positives
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-1232] Add remove_files_from_xcode.rb script
  ios/scripts/remove_files_from_xcode.rb
Due: none

[TASK-1232] Update xcode-file-manager skill docs to cover removal workflow
  .claude/skills/xcode-file-manager/SKILL.md
Due: none

[TASK-1232] Apply review fixes: exit code on failures, guard project.save, log disk deletion, SKILL.md warning
  .claude/skills/xcode-file-manager/SKILL.md
  ios/scripts/remove_files_from_xcode.rb
Due: none

[TASK-1231] Add unit tests for TokenRefreshMiddleware (401 retry, coalescing, reentrancy guard)
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQTests/Services/TokenRefreshMiddlewareTests.swift
Due: swiftlint, swiftformat

[TASK-1240] Make refreshOperationID internal; use constant in tests
  ios/AIQ/Services/API/TokenRefreshMiddleware.swift
  ios/AIQTests/Services/TokenRefreshMiddlewareTests.swift
Due: swiftlint, swiftformat

[TASK-1234] Delete APIClient.swift from project and disk
  ios/AIQ.xcodeproj/project.pbxproj
Due: none

[TASK-1234] Stage git deletion of APIClient.swift
  ios/AIQ/Services/API/APIClient.swift
Due: swiftlint, swiftformat

[TASK-1236] Replace all op.create_index/drop_index with idempotent SQL equivalents
  backend/alembic/versions/1d81eef57099_add_quality_flag_fields_to_questions_.py
  backend/alembic/versions/1f4a08342fc1_add_password_reset_token_table.py
  backend/alembic/versions/2b976223e7f4_add_reliability_metrics_table_for_re_001.py
  backend/alembic/versions/5f40f8572f3f_add_question_generation_runs_table.py
  backend/alembic/versions/6e96905b7b2b_add_performance_indexes.py
  backend/alembic/versions/8e384d712031_add_composite_and_fk_indexes_irt_cat.py
  backend/alembic/versions/994ffcaca527_remove_redundant_feedback_indexes.py
  backend/alembic/versions/a2dc431c2d70_add_test_session_id_to_user_questions_.py
  backend/alembic/versions/a7b8c9d0e1f2_add_shadow_cat_results_table.py
  backend/alembic/versions/b2c3d4e5f6g7_add_response_session_id_covering_index.py
  backend/alembic/versions/b8c9d0e1f2g3_add_token_revoked_before_to_users.py
  backend/alembic/versions/bcq008_add_validity_status_index.py
  backend/alembic/versions/bcq009_add_responses_question_id_index.py
  backend/alembic/versions/bcq041_composite_idx_test_results.py
  backend/alembic/versions/c3d4e5f6a7b8_add_is_anchor_column_to_questions.py
  backend/alembic/versions/c4d5e6f7a8b9_add_day_30_reminder_query_index.py
  backend/alembic/versions/d2ab8f4e1c93_add_performance_indexes_for_discrimination.py
  backend/alembic/versions/d4489209c588_add_client_analytics_events_table.py
  backend/alembic/versions/d4e5f6a7b8c9_add_irt_calibration_metadata_and_is_adaptive.py
  backend/alembic/versions/d7ecc2b8d347_initial_schema_with_users_questions_.py
  backend/alembic/versions/e5f6a7b8c9d0_add_irt_calibration_runs_table.py
  backend/alembic/versions/f0820187969b_add_partial_unique_index_for_active_.py
  backend/alembic/versions/f6a7b8c9d0e1_add_adaptive_theta_columns.py
  backend/alembic/versions/fe341b342541_add_feedback_submissions_table_for_bts_.py
Due: mypy-backend, check-float-comparisons

[TASK-1236] Add IF NOT EXISTS to pre-existing CREATE UNIQUE INDEX in f0820187969b
  backend/alembic/versions/f0820187969b_add_partial_unique_index_for_active_.py
Due: mypy-backend

[TASK-1238] Add audit docstring documenting enum column SA type policy
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-1238] Fix docstring accuracy: correct class name and complete enum inventory
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-1243] Delete comment-only OpenAPIClientAdapter.swift stub
  ios/AIQ.xcodeproj/project.pbxproj
  ios/AIQ/Services/API/OpenAPIClientAdapter.swift
Due: swiftlint, swiftformat

[TASK-1248] Add full-page error state for test-start failures
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-1248] Apply review fixes: timer after retry and accessibility identifier
  ios/AIQ/Utilities/Helpers/AccessibilityIdentifiers.swift
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-1248] Apply review fixes: handle expired timer after retry
  ios/AIQ/Views/Test/TestTakingView.swift
Due: swiftlint, swiftformat

[TASK-1242] Document git rm gap in removal workflow
  .claude/skills/xcode-file-manager/SKILL.md
Due: none

update tusk
  .claude/bin/VERSION
  .claude/bin/tusk
  .claude/bin/tusk-call-breakdown.py
  .claude/bin/tusk-commit.py
  .claude/bin/tusk-pricing-lib.py
  .claude/bin/tusk-session-recalc.py
  .claude/bin/tusk-session-stats.py
  .claude/bin/tusk-skill-run.py
  .claude/bin/tusk-task-insert.py
  .claude/bin/tusk-task-update.py
Due: none

[TASK-1242] Apply review fix: correct --keep-files git staging instructions
  .claude/skills/xcode-file-manager/SKILL.md
Due: none

[TASK-1242] Apply review fixes: use git add for staging deletions, add pbxproj step
  .claude/skills/xcode-file-manager/SKILL.md
Due: none

[TASK-1244] Delete orphaned APIClientIntegrationTests.swift (unregistered dead code)
  ios/AIQTests/Integration/APIClientIntegrationTests.swift
Due: swiftlint, swiftformat

[TASK-1239] Add ASCII fallback output for CI environments (auto-detect CI/TERM=dumb, support --ascii flag)
  ios/scripts/add_files_to_xcode.rb
  ios/scripts/remove_files_from_xcode.rb
Due: none

[TASK-1239] Apply review fixes: document --ascii flag in usage strings
  ios/scripts/add_files_to_xcode.rb
  ios/scripts/remove_files_from_xcode.rb
Due: none

[TASK-1247] Document enum case mismatch investigation findings in models.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers

[TASK-1247] Apply review fixes: correct enum case analysis and add migration for feedback enum labels
  backend/alembic/versions/96e4895554b8_rename_feedback_enum_labels_to_uppercase.py
  backend/app/models/models.py
Due: mypy-backend, check-magic-numbers
