Repository gioe/aiq: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, mypy-question-service, check-float-comparisons, check-magic-numbers, swiftlint, swiftformat

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

mypy-question-service:
  name: mypy (question-service)
  entry: bash -c 'cd question-service && source venv/bin/activate && mypy app/ --config-file=pyproject.toml'
  language: system
  pass_filenames: false

check-float-comparisons:
  name: check-float-comparisons
  entry: python scripts/check_float_comparisons.py
  language: python

check-magic-numbers:
  name: check-magic-numbers
  entry: python scripts/check_magic_numbers.py
  language: python

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --strict --config ios/.swiftlint.yml
  language: system

swiftformat:
  name: SwiftFormat
  entry: swiftformat --config ios/.swiftformat
  language: system

[TASK-666] Add types_processed to script_end JSONL event
  scripts/bootstrap_inventory.sh
Due: none

[TASK-666] Add types_processed to script_end JSONL event (#815)
  scripts/bootstrap_inventory.sh
Due: none

[TASK-667] Parse SUCCESS_RUN JSON from run_generation.py output
  scripts/bootstrap_inventory.sh
  scripts/tests/test_parse_success_run.sh
Due: none

[TASK-667] Parse SUCCESS_RUN JSON from run_generation.py output (#816)
  scripts/bootstrap_inventory.sh
  scripts/tests/test_parse_success_run.sh
Due: none

[TASK-668] Store per-type metrics in temp files during generation
  scripts/bootstrap_inventory.sh
  scripts/tests/test_write_per_type_metrics.sh
Due: none

[TASK-668] Address PR review: fix shell injection and add jq error handling
  scripts/bootstrap_inventory.sh
  scripts/tests/test_write_per_type_metrics.sh
Due: none

[TASK-668] Store per-type metrics in temp files during generation (#817)
  scripts/bootstrap_inventory.sh
  scripts/tests/test_write_per_type_metrics.sh
Due: none

[TASK-672] Create wrapper alerting function for script-level failures
  question-service/app/alerting.py
  question-service/app/error_classifier.py
  question-service/tests/test_alerting.py
  scripts/bootstrap_inventory.sh
  scripts/send_script_alert.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-672] Address PR review: fix command injection, add validation
  question-service/app/alerting.py
  scripts/bootstrap_inventory.sh
  scripts/send_script_alert.py
Due: mypy-question-service, check-magic-numbers

[TASK-672] Create wrapper alerting function for script-level failures (#818)
  question-service/app/alerting.py
  question-service/app/error_classifier.py
  question-service/tests/test_alerting.py
  scripts/bootstrap_inventory.sh
  scripts/send_script_alert.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-691] Fix duration formatting for fractional seconds > 60s
  scripts/bootstrap_inventory.sh
  scripts/tests/test_parse_success_run.sh
Due: none

[TASK-691] Fix duration formatting for fractional seconds > 60s (#819)
  scripts/bootstrap_inventory.sh
  scripts/tests/test_parse_success_run.sh
Due: none

[TASK-694] Upgrade Google SDK to google-genai and implement batch API
  question-service/app/providers/google_provider.py
  question-service/requirements.txt
  question-service/tests/providers/test_google_error_handling.py
  question-service/tests/providers/test_google_provider.py
  question-service/tests/providers/test_runtime_model_validation.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-694] Address PR review: Fix async, validation, and cleanup
  question-service/app/providers/google_provider.py
  question-service/tests/providers/test_google_provider.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-694] Upgrade Google SDK to google-genai and implement batch API (#820)
  question-service/app/providers/google_provider.py
  question-service/requirements.txt
  question-service/tests/providers/test_google_error_handling.py
  question-service/tests/providers/test_google_provider.py
  question-service/tests/providers/test_runtime_model_validation.py
Due: mypy-question-service, check-float-comparisons, check-magic-numbers

[TASK-697] Add Python bootstrap script for question inventory generation
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-697] Add Python bootstrap script for question inventory generation (#821)
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-698] Add batch API integration for Python bootstrap script
  question-service/app/config.py
  question-service/scripts/bootstrap_inventory.py
Due: mypy-question-service, check-magic-numbers

[TASK-698] Address PR review: Fix critical issues in batch API
  question-service/scripts/bootstrap_inventory.py
Due: mypy-question-service

[TASK-698] Address follow-up PR review: Add validation and thresholds
  question-service/app/config.py
  question-service/scripts/bootstrap_inventory.py
Due: mypy-question-service, check-magic-numbers

[TASK-698] Extract magic numbers to named constants
  question-service/app/config.py
  question-service/scripts/bootstrap_inventory.py
Due: mypy-question-service, check-magic-numbers

[TASK-698] Add batch API integration for Python bootstrap script (#822)
  question-service/app/config.py
  question-service/scripts/bootstrap_inventory.py
Due: mypy-question-service, check-magic-numbers

[TASK-699] Add progress reporting with --quiet flag to Python bootstrap script
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-699] Add progress reporting with --quiet flag to Python bootstrap script (#823)
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-700] Add alerting integration for critical failures in Python bootstrap script
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-700] Add alerting integration for critical failures in Python bootstrap script (#824)
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-701] Add parallel type generation with asyncio to bootstrap script
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-701] Add parallel type generation with asyncio to bootstrap script (#825)
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-702] Add comprehensive testing and migration parity for Python bootstrap script
  question-service/README.md
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-702] Add comprehensive testing and migration parity for Python bootstrap script (#826)
  question-service/README.md
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-703] Consolidate error truncation logic in ProgressReporter
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-703] Consolidate error truncation logic in ProgressReporter (#827)
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-711] Add error sanitization to bootstrap script
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-711] Address PR review: Fix query string regex pattern
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-711] Add error sanitization to bootstrap script (#828)
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-714] Add AWS credential patterns to error sanitization
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-714] Add AWS credential patterns to error sanitization (#829)
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-718] Add judge evaluation, deduplication, and database insertion to bootstrap_inventory.py
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

[TASK-718] Add judge evaluation, deduplication, and database insertion to bootstrap_inventory.py (#830)
  question-service/scripts/bootstrap_inventory.py
  question-service/tests/test_bootstrap_inventory.py
Due: mypy-question-service, check-float-comparisons

Add question-stats skill to display database inventory
  .claude/skills/question-stats/skill.md
Due: none

Path conditions:
  mypy-backend: any of: ^backend/.*\.py$
  mypy-question-service: any of: ^question-service/.*\.py$
  check-float-comparisons: any of: ^(backend|question-service)/.*test_.*\.py$ and \.py$
  check-magic-numbers: any of: ^(backend|question-service)/app/.*\.py$ and \.py$ and not (^.*/test_.*\.py$)
  swiftlint: any of: ^ios/.*\.swift$ and \.swift$
  swiftformat: any of: ^ios/.*\.swift$ and \.swift$
